[2014-01-07 22:02] dopeh opened #1 "XSS filtering"
Full report here: http://cxsecurity.com/issue/WLB-2012110152
Vulnerability: Stored XSS
Label name or pretty much any other text field such as IP
Inserting html code can pretty much screw up the whole page as well.

PoC:

<script>alert('xss');</script>

<script>alert(document.cookie);</script>

<iframe>something</iframe>

[2014-01-07 22:04] dopeh opened #2 "IPv6 support"
Add support for IPv6-IP addresses.

[2014-01-07 22:06] dopeh opened #3 "Database error handling"
Install.php sets all fields in the servers table to NOT NULL, and provides no default value, so when a new server is added the database throws and error for the fields error, rtime, last_online and last_check. [Also there is no error reporting for database errors, which I will log separately, so the web interface falsely says "server added".] I changed my database to allow nulls in these 4 fields

[2014-01-07 22:08] dopeh opened #4 "Notification setting improvements"
Now that I've experienced my first server outage, I better understand my needs and, by extension, the needs of people I know, were they using this software.
There would be great value in being able to set different Notification Settings for the Log, e-mail and Text Messaging. For example, the first thing I did after getting up this morning and finding DOWN and UP e-mails 13 minutes apart, was to c

[2014-01-13 02:16] VeoPVM opened #7 "Main page"
Perhaps it would be a good idea to make the main "servers" page the page that is currently called "status", because it provide a better interface for viewing whether servers are online or offline.  The "servers" page is more ideal for editing and adding servers.

[2014-01-21 22:17] dopeh opened #8 "Check for certain string on website"
The current system only checks the HTTP status code for websites. A feature requested multiple times is to be able to provide a string to search for on the website and use that to determine whether the site is actually up.

For example, if there is an error page or database error and the HTTP status code is not properly set, you would still be able to add a proper check for that.

[2014-01-22 15:54] dopeh opened #9 "Status updater can run multiple times"
The status updater does not check whether there is already a copy running. If the script has been added as a cronjob, it could run multiple times causing duplicate notifications. To avoid this, we can add a "cron running" flag to the config table. The only consideration is, what happens if the cronjob dies for an unspecified reason? The "cron running" flag will still be set, keeping a new job from

[2014-01-29 09:59] VeoPVM opened #10 "Still down notifications"
I think it would be a good idea to have "still down" notifications in addition to the existing "down" and "back up" notifications.  These could be optional.

[2014-02-08 20:05] #8 closed, assigned to nobody

[2014-02-08 20:17] #9 closed, assigned to nobody

[2014-02-09 13:51] dopeh opened #11 "User authentication"
Implement user authentication using the existing user table. Email field will be required, new username and password fields will be introduced and an extra step will be added to the install module to set up an initial account.

[2014-02-09 13:53] dopeh opened #12 "Keep server history for statistics"
Keep a record of uptime statistics for all servers during each check, including response time and up/down status, so statistics can be generated per server with a history view of when it was down, how long it was down etc.

Required data:
- Date
- Uptime (status)
- Latency
- ..?

[2014-02-10 22:15] dopeh opened #13 "Follow HTTP Location header"
The cURL requests for website do not follow HTTP Location headers, so if you have a redirect from HTTP to HTTPS it will not follow and the website might be marked offline. Especially for the regex search it is necessary to follow the location header.

[2014-02-11 15:30] dopeh opened #14 "Add SMTP support"
Add SMTP support for sending emails.

[2014-02-11 17:18] #14 closed, assigned to dopeh

[2014-02-11 17:32] #13 closed, assigned to nobody

[2014-02-13 19:49] dopeh opened #15 "Set number of failures before triggering the alarms"
An option to only send email/text alerts once there have been a certain number of connection failures, i.e.:

first failure – logged, but no email/sms sent yet – status could be “yellow” as opposed to red/green.
second failure – email/sms triggered.

[2014-02-18 09:53] Grandmasg opened #16 "why not git phpmailer"
Why write your own phpmailer if there is: https://github.com/PHPMailer/PHPMailer ???

[2014-02-19 17:16] TwinMist opened #17 "Feature Request"
Great work. would be nice to see a % of uptime, and when the server went off line last.

cheers
andy

[2014-02-24 12:20] #16 closed, assigned to dopeh

[2014-02-24 16:40] #17 closed, assigned to nobody

[2014-03-11 08:09] thierryve opened #21 "Translate database direct output"
I noticed that there are some items like yes, no, website, service (on the server page) that are not translated. This because it is direct database output. I've looked at the project and came up with a couple solutions;
- concat in MySQL `CONCAT('{label_', `email`, '}') AS email`
- Edit string in for loop `$servers[$x]['email'] = "{label_".$servers[$x]['email']."}"`
- Handling the translation in t

[2014-03-14 18:50] #12 closed, assigned to dopeh

[2014-03-16 01:11] #11 closed, assigned to dopeh

[2014-03-19 22:47] Abawell opened #27 "Charts"
I could add a new menu to display graphically the response time and availability of all servers for the last month/week/day/hour.

I can implement it using the jqPlot jQuery plugin. It is powerfull, and free (GPL and MIT license)

[2014-03-19 23:56] #3 closed, assigned to dopeh

[2014-03-20 00:25] #1 closed, assigned to nobody

[2014-03-20 10:59] dopeh opened #28 "Add permission denied error page"
Currently the Router class will simple die() with a 'Permission denied' error if the user is not authorized to execute the module / action. Replace the die() with a proper error page informing the user.

[2014-03-22 10:33] Abawell opened #31 "Title"
I suggest that the title not be translated.
Today, it is translate in some languages and not in others.
I think the title could be the name of the application: Server Monitor, PHP Server Monitor, PHPServerMonitor or phpServerMonitor

[2014-03-23 18:40] Abawell opened #32 "bootstrap-responsive"
You included bootstrap-responsive.css but you added it before style.css
The problem is, with bootstrap-responsive, navbar-fixed-top style pass from position:fixed to position:static if width is under 980px.
As you set padding-top:70px; in style.css, the navbar appears 70px under the top.
The solution is to include bootstrap-responsive.css after style.css because it reset padding-top if width is un

[2014-03-23 19:10] Abawell opened #33 "container-fluid"
To use row-fluid, the container must have class="container-fluid" and not class="container"

[2014-03-23 22:40] #32 closed, assigned to dopeh

[2014-03-24 15:39] #15 closed, assigned to dopeh

[2014-03-24 15:50] #31 closed, assigned to dopeh

[2014-03-24 17:35] dopeh opened #35 "Add option to ping servers"
The current service functionality is only able to check whether a service is listening on a certain port. If you just want to ping a server without a specific port and check for response yes/no, this is not possible. A situation where a ping could be useful is for checking dyndns hostnames.
Because it is a different protocol it can not be checked with the current fsockopen(). The suggestion is to

[2014-03-24 19:19] #27 closed, assigned to nobody

[2014-03-25 00:18] Abawell opened #37 "jqPlot reference"
jqPlot is under GPL or MIT licenses (you can choose the license you prefer).
I think you should add a reference, a link, something, to indicate jqPlot is used.

[2014-03-26 18:48] #21 closed, assigned to dopeh

[2014-03-27 00:27] #37 closed, assigned to nobody

[2014-03-27 22:04] #33 closed, assigned to dopeh

[2014-03-27 23:28] dopeh opened #40 "Archive uptime records after a month"
The current uptime table keeps a record for every check for every server that has been made. This will cause the uptime table to grow really large, while not all data may be relevant.
Instead, archive old records from the uptime table in a different table to save space. In the archive table we could keep 1 row for each day, which would include averages of all checks made that day.
With the archive

[2014-03-27 23:36] #40 closed, assigned to dopeh

[2014-03-30 13:03] #7 closed, assigned to dopeh

[2014-04-01 08:41] bereldhuin opened #42 "Can't delete user"
In 2.2,  I can't delete user.

When I click on the delete button, I am redirected to this url :
/index.php?action=delete&id=3&type=user

which displays the same informations as server_status without deleting the user.

I activated PSN_DEBUG but no particular error is shown.

I'm using Debian Wheezy, PHP 5.5.10, Apache 2.2.22, MySQL 5.5.35

[2014-04-01 08:48] bereldhuin opened #43 "2.2 : Status.cron.php error when date.timezone is not set"
Status.cron.php returns the following error when date.timezone is not set in php.ini (for CLI) :

PHP Fatal error:  Uncaught exception 'Exception' with message 'DateTime::__construct(): It is not safe to rely on the system's timezone settings. You are _required_ to use the date.timezone setting or the date_default_timezone_set() function. In case you used any of those methods and you are still get

[2014-04-01 10:41] #43 closed, assigned to dopeh

[2014-04-01 11:05] #42 closed, assigned to nobody

[2014-04-01 12:09] Abawell opened #44 "setlocale depends on the server environment"
the php function setlocale doesn't always accept the same parameter
example:
for France, on linux (and Mac) the parameters must be
  setlocale(LC_TIME, 'fr_FR');
or
  setlocale(LC_TIME, 'fr_FR.UTF-8');
on windows (WAMP), the parameters must be
  setlocale(LC_TIME, 'french");
  according to http://msdn.microsoft.com/en-US/library/39cwe7zf%28v=vs.80%29.aspx

As setlocale accept several locales, we c

[2014-04-02 06:12] bereldhuin opened #45 "Remove dots on graph on day and week view for better readability"
Hi,

On graphs, should it be possible to remove the dots on day and week views ?
It will be easier to read the graphs ;-)

![image](https://cloud.githubusercontent.com/assets/1612268/2587886/bf36935e-ba2d-11e3-89a2-2804f60ce21e.png)

[2014-04-02 21:11] #45 closed, assigned to nobody

[2014-04-03 13:51] #44 closed, assigned to nobody

[2014-04-05 19:35] pixeline opened #49 "Feature request: be able to filter out phpservermon in Web analytics"
Hi!
First of all, thank you for phpservermon: it's a great tool that, as is, provides a lot of peace of mind knowing that if any of my customers website is down, I'll be the first to know °-)

Here is my suggestion: I suppose that every time the cron runs and the ping is done to the configured web services, it gets logged by the web system analytics (Google Web analytics in my case) as a unique vi

[2014-04-06 14:17] #49 closed, assigned to dopeh

[2014-04-06 22:35] dopeh opened #50 "Add validation to servers page"
No validation is currently implemented on the server page, so you can add servers without label, ip etc, which doesn't make any sense.

[2014-04-06 22:39] dopeh opened #51 "Option to make status page public"
Several users have expressed the wish to make the status page available to the public so it can be embedded on a website.
This would require a toggle in the configuration to enable the public page, and maybe even per-server settings to determine which servers to make public.

[2014-04-06 22:44] dopeh opened #52 "Add uptime percentage for past week"
The server info shows graphs including when it was down, but it does not give any percentages on downtime.
While the accuracy of a calculated percentage would entirely depend on the interval of the checks, for the last week a percentage could be calculated quite easily (we have timestamps so can calculate the number of seconds a server was down).
For archived records we hold only 1 record per day

[2014-04-06 22:47] dopeh opened #53 "Add user selection to server edit page"
In the current setup you need to edit each user individually to add a server. So if you have just added a new server and you want all users to have access to it, you need to edit all of them separately.
If we add a multi-select with users to the edit-server page you can also easily select users for that server in one go.

[2014-04-06 23:56] Abawell opened #54 "Mobile compatibility"
The compatibility with mobiles could be better.
Replacing tables with lists.

[2014-04-06 23:59] Abawell opened #55 "page update with ajax."
Using Ajax for updating the pages in place of reload the page.

[2014-04-08 03:49] gaia opened #56 "User Login Fails"
All notices pointed to a successful upgrade. I then chose user/pword, but when I tried to login it gave me incorrect password. So I reset it. Three times. And I still can't get in.

Please advise.

[2014-04-10 20:06] #56 closed, assigned to dopeh

[2014-04-10 20:57] Sime208 opened #58 "Server Name Ordering"
On "SERVERS" page, list of servers is shown A-Z.

However on "USERS", and when editing a user, ordering isn't A-Z (Might be order of entry?)

[2014-04-10 21:34] #58 closed, assigned to dopeh

[2014-04-11 14:25] dopeh opened #59 "Warning threshold ignored for notification trigger"
The warning threshold has been added to set a server in "warning" state until the threshold has been met, to avoid too many errors and notifications when you have an unstable connection for example.

The threshold works fine with the status of the server, it puts it in warning state. However, it will send notifications immediately once a server goes down, regardless of the warning threshold. So th

[2014-04-12 09:55] #59 closed, assigned to dopeh

[2014-04-12 10:54] dopeh opened #60 "Add Italian translation"
Add provided Italian translation

[2014-04-12 10:55] #60 closed, assigned to dopeh

[2014-04-12 11:15] dopeh opened #61 "Add Spanish translation"
Add provided Spanish translation

[2014-04-12 11:18] #61 closed, assigned to dopeh

[2014-04-13 21:35] Abawell opened #63 "Bad link to servers"
When a server is configured without prefix (http://), everything works but the link to the server on Servers page redirect to the phpservermon server.
http:// should be prepended to the link if it doesn't already.

[2014-04-14 10:32] #63 closed, assigned to dopeh

[2014-04-16 19:33] dopeh opened #66 "Install with MySQL strict mode does not work"
If strict mode is enabled in MySQL several queries (adding default servers, but more importantly, adding the first user) give an error because not all fields are inserted (ie password) while it has no default value in mysql.

[2014-04-16 20:41] #66 closed, assigned to dopeh

[2014-04-18 14:01] iamgaurav opened #74 "Port 3389 Doesn't work"
I tried adding some windows based servers and usually port 3389 ( RDP port ) is the only port which is open but the script doesn't work with port 3389 it will give the connection refused error. I Tried to check if the server port is open from http://www.yougetsignal.com/tools/open-ports/ and it shows that the server port is open.

[2014-04-18 15:07] dopeh opened #75 "Test mail/SMS settings"
There is no way to test the mail and SMS settings, so you have to add a fake server and run the live updater for testing purposes.
Add a feature to the config page to test the provided settings to make sure they work.

[2014-04-21 19:16] jefferose opened #76 "No notification on server down/change"
I just installed your monitor & think it's great. Easy to use and I love the email & SMS options.

However, in testing bringing a server down, the UI shows the server is down, but no email or SMS notification is sent, nor is there a log of either. Am I missing something?

[2014-04-21 20:00] #76 closed, assigned to nobody

[2014-04-22 12:35] PVasileff opened #77 "class.phpmailer.php don`t send mail correctly 3.0.1/3.1.0"
After installing the lastest 3.0.1 or 3.1.0-dev version of phpservermon on shared hosting account - the script not send emails on server status changed, offline or always.

Cronjob ouput:
/usr/sbin/sendmail: unexpected response 555 to RCPT TO command
/usr/sbin/sendmail: unexpected response 554 to DATA command

With version 2.1.0 version this problem doesnt exist.

[2014-04-23 09:36] #77 closed, assigned to dopeh

[2014-04-23 09:37] #54 closed, assigned to nobody

[2014-04-23 12:20] nerdalertdk opened #78 "Add smsit.dk to SMS"
Hi

Could you add smsit.dk as an sms service ? they already have an easy API

*****\* GOOGLE translate ********

This site is intended for developers or programmers. It will explain how you can send SMS from your own system through smsit.dk's system.

Sending SMS messages via API
You can use the following URL to send an SMS through smsit.dk's API:

http://www.smsit.dk/api/sendSms.php?apiKey=[KEY]&

[2014-04-23 20:05] #78 closed, assigned to nobody

[2014-04-24 07:07] PVasileff opened #83 "Header location after save General settings"
After change language (for example) and click save header location is index.php?\* and browser trying to open only index.php file without domain dot com /

[2014-04-24 10:03] PVasileff opened #85 "Header location after logout and login again"
![capture](https://cloud.githubusercontent.com/assets/2411033/2788307/1b75c690-cb99-11e3-9bf6-e93e71c8a4c3.PNG)

After loggin and logout the script add one "/" in the end of URL address (for example domain dot com//. After that if I try to loggin and press "Log In" the script redirect me to loggin page, not to status. After click "Log In" again all done and recirect me to server status page.

[2014-04-24 21:53] #55 closed, assigned to dopeh

[2014-04-24 22:33] #75 closed, assigned to nobody

[2014-04-24 22:36] #83 closed, assigned to dopeh

[2014-04-25 05:46] #85 closed, assigned to dopeh

[2014-04-25 06:25] nerdalertdk opened #86 "Different design styles on status page"
Hi

it would be nice if you could have an list view on the overview site, I made one on my server but would be nice if it was included.

maybe make en option for each user.

[code]

![status board](https://cloud.githubusercontent.com/assets/3426495/2797918/7f258870-cc42-11e3-916f-66701e885c7d.PNG)

[2014-04-25 07:16] dopeh opened #87 "Add CSRF protection"
Add protection against CSRF attacks.

[2014-04-29 09:54] nerdalertdk opened #93 "VarCheck on steroids"
Hi,

Was thinking about the varcheck pattern and how we could use this better.

I have a script(will be uploaded to my fork) that check disk space, cpu usage, etc. on linux system you can make the same for windows systems), but the errors only shows on my varcheck page if there is a problem.

Output example
[code]
the syntax is
[code]
Could be a nice feature if the pattern system had rules or just

[2014-04-29 14:45] jpscharf opened #94 "Multiple E-Mails"
It would be nice if multiple e-mail addresses could be assigned to an account for notification purposes.

[2014-05-04 10:38] #94 closed, assigned to nobody

[2014-05-04 11:45] #86 closed, assigned to dopeh

[2014-05-06 14:57] #50 closed, assigned to dopeh

[2014-05-20 10:21] gotfredsen opened #96 "Authentication fields for website/services"
I can use http://username:password@www.example.com/
but that would show my password in clear text, and is less user-friendly

I suggest a checkbox for authentication and then a field for username and password, little alà kingdom.com

[2014-05-20 10:24] gotfredsen opened #97 "Website check do not use the port number"
When you have websites that runs on port, say 8080, it would be nice if the port number field worked for websites. As minimum it should be greyed out when not applicable.

Great product, btw!

[2014-05-30 00:48] peter-parker opened #98 "Login blank white page"
Installed this one, the newest version, yeaterday and it worked fine.
When trying to login today I'm just redirected to blank white page.

Refreshing won't work, there is no errors and no changes to the site were made.

[2014-06-11 23:38] sadortun opened #99 "UDP Service port"
For the service checks, we should be able to specify if we want to check for a TCP or UDP port.

[2014-06-14 02:03] sadortun opened #102 "Custom status checks"
Hi !

Related to issue #99, #92 #2, #96 #74 #35 It would be nice to be able to add custom verification methods. I have dig a little bit in the code, and i think we should add a possiblilty to extend the current checks with custom ones.

I would propose to add folder in which every validation class would be loaded dynamically

I think it would be a great addition to your project.

[code]

The logic

[2014-06-22 20:07] ssx opened #106 "Email not triggering even though option is set to yes"
Hi,

I've got a fresh installation that has email sending turned on. I've add a few checks and set them to email enabled, however no email is triggered. I can verify this by looking at the maillog and nothing is sent out.

I'm not getting any errors and the service checking is working fine, however the email alert is a pretty important feature for me.

Server is Cent OS 6.4, normal mail operation

[2014-06-22 20:30] #106 closed, assigned to nobody

[2014-06-23 08:05] akaztp opened #107 "Adding the update job to Synology DSM Task Scheduler"
Hi

I'm using PHPServerMon on an Synology DS212j. All went fine until I had to schedule the update job.
I wanted to use the DSM (synology desktop-like web interface) to schedule the update.
I've found that using the cli (though telnet) the status.cron.php worked ok but not when called using the DSM Task Scheduler. On the later case the script would output "This script can only be run from the comm

[2014-06-23 08:33] dopeh opened #108 "URLs on Windows don't work because of dirname"
The psm_build_url function uses the dirname() function to determine the path to the current script. On Windows servers, however, the dirname() function returns both backward and forward slashes (http://php.net/dirname), which may be fine for filesystem purposes but not for urls.
So we need an extra check in the psm_build_url for Windows to remove the backslashes.

Reference: http://sourceforge.net

[2014-06-23 09:03] #98 closed, assigned to nobody

[2014-07-10 15:32] danpaul opened #111 "psm_build_url function adds extra port number locally"
First off, thanks for this. Really easy to setup and nice interface. It looks like a great tool and will be very useful.

I did notice the psm_build_url function in src/include/functions.inc.php is adding an extra port number when I'm developing locally. (I.e. :http://localhost:8888:8888/monitor_test/?&mod=server_status)

If I comment out the following, the extra port number is not added:

if(!in_

[2014-07-13 20:30] bwhatley87 opened #112 "Twilio for SMS"
It would be really beneficial to add twilio as one of the SMS platforms. It's is the cheapest ad easiest in the US.

[2014-07-28 07:03] #111 closed, assigned to dopeh

[2014-07-28 07:24] #107 closed, assigned to dopeh

[2014-07-28 07:31] dopeh opened #113 "Test SMS: check if user has mobile set"
The test SMS feature attempts to send a text message to the mobile specified in the user profile. If the user has no mobile specified, however, the module will still attempt to send it and will not provide the correct feedback.

[2014-07-28 07:47] #113 closed, assigned to dopeh

[2014-07-28 08:26] #108 closed, assigned to dopeh

[2014-07-30 11:49] #28 closed, assigned to dopeh

[2014-07-30 11:51] #52 closed, assigned to dopeh

[2014-07-30 11:54] dopeh opened #114 "Add historic uptime percentage"
Continued from #52 , the current uptime percentage is only implemented for the past week, of which full logs with timestamps are available. Once the records are moved to the archive table, the possibility to calculate uptime percentage is lost.
To be able to provide historic uptime tracking, a method could be implemented such as keeping track of daily percentages in the archive table. These could

[2014-07-30 12:33] #53 closed, assigned to dopeh

[2014-08-01 11:27] dopeh opened #115 "Add warning to server page when notifications are off"
For notifications, there are two relevant configuration settings. One is the per-server setting, but the other one is in the global configuration.
If, for example, email has been disabled in the global configuration, you can still change it to "Yes" for one server, and reasonably expect to receive emails. The current setup is just not clear enough for new users, because they sometimes don't releas

[2014-08-01 13:07] #115 closed, assigned to dopeh

[2014-08-05 13:18] dopeh opened #117 "Implement Twig templating system"
Replace the current custom Template service class with the more robust and advanced alternative Twig.

[2014-08-05 13:21] #117 closed, assigned to dopeh

[2014-08-06 09:59] louisberut opened #118 "http access phpservermon with a defined port"
When you access the phpservermon with a declared port ex : http://myserver.com:1080/phpservermon the links generated by the application are http://myserver.com:1080:1080/phpservermon/?&mod=server.

The application is therefore inoperative in this case

[2014-08-06 10:47] #118 closed, assigned to dopeh

[2014-08-06 10:53] dopeh opened #119 "Add log retention period"
Add a retention period option to allow for automatic database cleanup, to allow users to keep their database at a normal size without having to manually remove records.
The retention period should be both for log and archive records, which is also a workaround for a missing delete option on the logs page.

[2014-08-06 11:09] #119 closed, assigned to dopeh

[2014-08-06 11:34] #10 closed, assigned to nobody

[2014-08-07 19:01] NetForces opened #120 "Remote script execution plugin"
This is a feature/nice-to-have. I may hack at the code and provide a pull request at some point.

Would be great there was a way to execute a script remotely (via ssh) either periodically or on demand, and get the result on a single click on an icon in the servers view.

Maybe the script could return status codes that would raise some flags and alerts.

[2014-08-09 21:56] wslade50 opened #121 "Multiple Monitoring"
This is such a quality script. And it gives me a great deal of peace of mind knowing my sites are working as they should.

Does the concept of monitoring from more than one location provide much benefit over monitoring from just one location? I'm asking this because the online up-time services seem to attach a great deal of importance in having multiple monitors linked together and located worldwi

[2014-08-14 09:36] gaia opened #122 "Feedback"
What I think would be extremely useful for this app is the following:

One of the server's checked can be defined as the benchmark server. If this server tests OFF, all other checks will not be logged or have an alert sent. Let's say google.com is the benchmark test. If google.com tests OFF, do not tell me my own server's are OFF. Most likely it is the server hosting phpservermon that lost connect

[2014-08-15 09:23] alvofr opened #123 "basic access authentication / headers"
It would be grat to have the possibility to use basic access authentication with a server by adding an authorization-header / or any other custom header for different purpose.

[2014-08-15 22:11] #123 closed, assigned to nobody

[2014-08-30 01:03] jwenk opened #127 "access level"
I wish to allow user to create their own check but not creating more user.

User role vs Admin role

Is there anyway I can implement it on my own. Where do I look to?

[2014-08-31 14:06] claude-ws01 opened #128 "STARTTLS - SSL issues - resolved"
Issue: failed sending email with ssl or starttls without modifying phpmailer's config.

inserted code in
## src/includes/function.inc.php ~ psm_build_mail

[code]

---

then I specify the host in mail config
tls://mailserver.com
or
ssl://mailserver.com
or
mailserver.com

---

Hope that helps

Thx for PSM, great software.

[2014-09-05 12:33] ghost opened #129 "Unable to log in..."
Hello,

i just installed your application but when i click on login with the correct credentials and i press on login
it just refreshes the page...

[2014-09-19 12:31] Abawell opened #133 "composer.lock"
Composer.lock should not be in the repository.
Maybe not Composer.phar either.

[2014-09-20 11:05] Code-Speak opened #135 "Uptime above 100%"
Hello,

First of all, great tool it really helps me monitor all my sites easy and automatic.

After I had some planned downtime on one of my domains the uptime percentage suddenly got up. It's at 100.091% now, all my other domains and services don't have this problem, the percentage goes down there. As I could not find this issue here I posted a new one. I can't attach the SQL to this post, but wi

[2014-09-25 22:45] starnetwork opened #136 "API Support - Users managment"
allow to add / edit / remove users via API

[2014-09-25 22:46] starnetwork opened #137 "API Support - Checks managment"
allow to add / edit / remove Checks via API

[2014-09-26 19:33] #133 closed, assigned to nobody

[2014-09-26 19:36] #127 closed, assigned to dopeh

[2014-09-27 09:08] starnetwork opened #139 "Users Include Tests"
right now, users can't add website / IPs for monitor, it's will be grate to allow users permissions to add x sites monitor by using groups or "Packages"

[2014-09-27 17:32] gaia opened #140 "Ability to specify the source address"
I'm hosting PHPservermon on a legit operation, but some of their http IPs are listed on spamhaus (mail is sent via clean IPs, so there is no problem sending mail). Since PHPservermon doesn't allow specifying the source address, the connection happens from the main IP, which is the blacklisted one. In turn, some monitored servers refuse connections (via modsec) from IPs listed in spamhaus. The resu

[2014-09-28 15:57] raggoo opened #141 "SMS gateway - use our own sms gateway"
Please write it in so we can use our own sms gateway instead of paid services.

[2014-09-28 16:02] raggoo opened #142 "When delete/remove server it should clear all logs"
When delete/remove server it should clear all logs and associated records, etc for that server.

[2014-10-08 02:09] life036 opened #145 "Installation: Unable to connect to MySQL"
Hello, I'm getting the following error when trying to run the install.php script: "Unable to connect to MySQL. Please check your information."

I'm running a new installation of TurnKey LAMP (in a VMware Player environment), and I've already configured LAMP as well as installed curl. So install.php has already said that I have the necessary prerequisites.

I'm inputting the same root user/pass tha

[2014-10-15 22:49] #145 closed, assigned to nobody

[2014-10-26 21:39] Alkarex opened #149 "Added to alternativeTo"
Hello,
PHP Server Monitor is now listed on alternativeTo
http://alternativeto.net/software/php-server-monitor/
You can close this issue when read.

[2014-10-28 19:56] bbarb opened #150 "Downtimes count the whole day"
Hi everyone, I'm very satisfied with this project, however, for some reason, the downtimes on a check are being counted for the whole day as it follows. These graphs are for an website which reverse proxies to some Java application server, and whenever I have to update that app, I must stop JBoss from running and phpservermon keeps record of the stop, but for the whole day, not for the couple minu

[2014-11-06 09:57] #142 closed, assigned to dopeh

[2014-11-06 09:57] #149 closed, assigned to nobody

[2014-11-06 13:00] #135 closed, assigned to dopeh

[2014-11-06 13:32] #128 closed, assigned to dopeh

[2014-11-13 10:29] Xsandor opened #154 "Won't send mail when type = 'website'"
Hi.
Everything is perfect when I use service and specify a port, I receive an email whenever there is a state change. But when I change the type to website and get a state change there is no email sent. I can see in the log->email that it has been sent. What could be wrong?

I'm using version 3.1.1 on:
Ubuntu 14.04
Apache 2.4.7
PHP 5.5.9
MySQL 5.5.40

I've made my own translation to swedish, but i

[2014-11-13 21:15] treaki opened #155 "Feature Request: ICMP Ping Test"
Hi,

thanks a lot for your grate work. Its looked like everything is working probably and my boxes are getting monitored.

But there is one feature i would like to see and that is a ping test which just sends standart icmp pings to the sites and checks reply. Of cause with averagne so that i dont get mailed if one of 1000 ping replies failed. Something like get notified if ping drops under 90% ove

[2014-11-14 03:11] asakous opened #156 "Won't test send mail when SMTP is useing AWS SES"
the phpmailer debug result is  Transaction failed: Missing start boundary
I remove  $mail->AltBody	= str_replace('<br/>', "\n", $message) in function testEmail then fixed the problem

[2014-11-19 03:55] zdenekhrib opened #157 "Passive checks"
It would be great to have an option to declare "passive checks" which would not be directly run by cron on the monitoring server. This could be used by an agent utility running on remote monitored machine which sends a periodical update of the status value (eg. JMX stats). Cron job only should check if the value arrived (while no news are also bad news = offline). The value itself (if it arives) w

[2014-11-28 16:31] Gruenbaer opened #158 "Feature requests"
First of all thanks for this very good tool!

I would have some suggestions for new features:
- Update Button per Server on the status and server page
- Ability to edit multiple servers at once.
- Ability to jump to the next server in the Edit Window, something like "Save and jump to next Server".

Cheers,
Emil

[2014-11-29 21:19] andlil opened #159 "Change default priority for Pushover"
Priority for Pushover messages should be "0" as a default, using "2" (Emergency) is a bit over the top. Priority could be made user selectable in Pushover settings.

[2014-11-30 19:43] andlil opened #162 "Question re uptime archiving"
When does uptime-archiving take place? Every Cron-run?
If log retention is set to 365 days does it mean that I will have a psm_servers_uptime table stretching 365 back?

I tried setting log retention to 7 days but nothing changes and nothing gets added to psm_servers_history table.

[2014-12-03 20:54] arejay73 opened #163 "Pushover Notifications Not Working"
I have successfully configured the Pushover and ran a test.  I received the test notification.  However, if I purposely fail my website that I am monitoring, I don't receive a Pushover Alert that the site is down.  I tested this by using the update menu option.  Will this trigger the notification or does the cron job have to run to trigger the notification?

[2014-12-05 08:01] #162 closed, assigned to nobody

[2014-12-05 20:35] #163 closed, assigned to nobody

[2014-12-12 16:06] jpscharf opened #165 "Unable to Add/Change Servers and Other Settings"
I am unable to add new servers, change existing server and change some setting like the pushover.io API key.

[2014-12-17 16:17] mokry opened #166 "Proxy support"
What about checking server from behind proxy servers? For Sites (curl) and Services (via fsockopen)?

[2014-12-23 11:42] ideasoft opened #167 "need support for htpassword logins"
i have htpassword protected sites to monitor. is it possible for you to bring that feature, to send username and passwords from curl headers?

thanks in advance

[2015-01-01 18:56] TimTims opened #168 "Pushbullet Integration (NotifyMe)"
Hey ya,

Although PushOver is already integrated in the system, PushBullet integration would be amazing as PushBullet is one of the most used notification services.

It would be amazing if that was a feature that could be implemented.

Thanks :D
Tim

[2015-01-07 21:27] ldrrp opened #170 "Implement Nexmo SMS"
I was too lazy to add it myself, maybe someone else might wana do it. I just took Mosms and changed the one file to point to nexmo.

/var/www/public/src/psm/Txtmsg/Mosms.class.php

[code]

[2015-01-07 21:41] ldrrp commented on #170
This works for me on nexmo, i just select mosms from the dropdown, If anyone wants to create a pull request and add the dropdowns and what not... feel free.

[2015-01-14 09:35] mpattman opened #172 "Textmarketer SMS is broken"
Hi @dopeh,

Please could you rename "Textmarketer.php" to "Textmarketer.class.php" to fix the issue and also consider my changes that I have made to the code.

https://github.com/mpattman/phpservermon/commit/6db7f2d36245a5d051abd86342fffe849cc4f65e

Thanks,

Matt

[2015-01-15 14:03] wbenny opened #173 "src/bootstrap.php typo: display_erors"
src/bootstrap.php typo, line 55: display_erors

[2015-01-15 23:07] CasteyDaSilva commented on #141
It's quite simple:
Make gateway class in src/psm/Txtmsg, of course make class compatible with api of your gateway
<?php
namespace psm\Txtmsg;

class YourGW extends Core {
    // =========================================================================
    // [ Fields ]
    // =========================================================================

        public function sendSMS($message) {
// a

[2015-01-20 22:35] gppixelworks commented on #172
Thanks mpattman, was trying to track down this very issue on a new install.

[2015-01-27 21:10] rjayako opened #175 "Add option to specify which HTTP status codes are considered as "online""
How do I set header 401 as a Online status and not Offline. Since that doesn't necessarily mean the site is offline. It just means the site required access. Any ideas?

[2015-01-29 19:07] jasonnauta opened #176 "Feature Request: Tag Servers"
It would be great to add tagging. Users would be able to add tags to servers and to group/sort the servers in the "status" screen by tags.

[2015-01-30 14:43] ThaMunsta opened #177 "Feature Request: Hardware status"
I'm in love with this script and its flexibility but I need hardware monitoring too, CPU, RAM, Disk and maybe OS uptime. We have a guy who could make a small program that would respond to pull requests for that info, but hes not sure how to make it play nice with this server monitor script. Historical data would be cool but I've been looking at this as an example: http://servers.nikkii.us/ but the

[2015-01-30 19:28] bpvarsity commented on #177
try out https://status2k.com/

[2015-01-30 21:55] ThaMunsta commented on #177
That's really good (and I actually bought it) but the problem is some of our servers do not have PHP installed and I was looking for more of running the monitor on one PHP server and having windows services running that would reply to one master server. After playing with it it looks like I'd need this php script on all servers being checked.

[2015-01-31 04:27] ThaMunsta commented on #177
I've started dissecting the code and here is what I plan on doing. I'll worry about the client side later but I imagine it being a small app that spits out JSON upon request with CPU avg RAM and disk usage. I'm going to try and add the necessary columns in SQL and classes so a 3rd dropdown option is available - Service, Website or Hardware. I'd give the host that is running the app, the port it's

[2015-02-06 01:07] craigbett commented on #168
+1

[2015-02-09 13:25] Alir3z4 commented on #51
:+1: this would be amazing!

[2015-02-13 13:31] joubertredrat opened #178 "Feature Request: Owner role"
Hi guys,

I'm using phpservermon and I like a lot, my friends is using on my phpservermon too, but I have one question.

Todar have Administrator and User roles to create users, but only Administrator can create new servers to monitor, then is necessary to I add servers to my friends.

I was thinking here, why not a "owner" role? Basically a role that allow user to add N sites or services to monit

[2015-02-13 13:34] joubertredrat commented on #177
Hi guys,

@ThaMunsta, https://github.com/phpsysinfo/phpsysinfo
I use this, is very nice and complete tool to show hardware status

[2015-02-16 20:03] ghost opened #179 "new feature: Type of service"
You can create an option like this:

UDP or TCP.

Actually, only accept TCP IP :(

[2015-02-17 17:55] floreno opened #180 "Feature Request: FindMyiPhone push alarm"
It would be too nice to implement Apple-push-service over the find-my-iphone-webapp.
Why pay for an extra service and an extra hop in the message-delivery-chain?
The massive pro of the FindMyiPhone-Messaging is that it can play an alarm-sound even in silent mode.
https://github.com/albeebe/PHP-FindMyiPhone

[2015-02-26 13:36] JBlond commented on #87
There is a more simple way which doesn't require a DB.
https://github.com/JBlond/NoCSRF

[2015-02-26 13:38] JBlond commented on #51
:+1:

[2015-02-26 13:53] JBlond commented on #175
The issue is in src/psm/Util/Server/Updater/StatusUpdater.class.php line 200 till 207

[2015-02-26 13:54] JBlond commented on #175
I agree that a 401 doesn't mean anything bad.

[2015-02-26 20:54] rjayako commented on #175
Yep already fixed it on my code. Let me know if anyone wants assistance with this.

[2015-02-26 20:59] JBlond commented on #175
Can you make a pull request or post the changes you made to get it working?

[2015-02-27 09:53] dopeh commented on #175
Currently it is hard-coded to treat all 4xx headers as offline, this should at least be configurable by the user.

[2015-02-27 11:07] dopeh commented on #178
Hi,
I like the idea of allowing users create servers themselves. Perhaps we can integrate it in the current user role instead of creating a new one. For example adding a field to the user config with the number of sites a user is allowed to own.
At the moment there is no "owner" of a service/website. We could add a user_id field to the server table to indicate the owner/creator of the server.
If y

[2015-02-27 11:16] dopeh commented on #177
Hi,
While hardware monitoring is a nice feature to have, I think it may be out of the scope of the core of this project right now. I could imagine it being an addon module that you could enable to add more advanced features, but right now there is no good addon system to load third party modules. That would need a bit of work, first.
There are also several existing technologies like SNMP which sho

[2015-02-27 11:17] #173 closed

[2015-02-27 11:19] dopeh commented on #167
Have you tried using the format:
http://user:pass@www.example.org

[2015-02-27 11:20] dopeh commented on #165
Hi,
Could you provide more info, like error messages? Are you sure your account has admin rights?

[2015-02-27 11:53] joubertredrat commented on #177
Hi guys,

@dopeh nice idea, including, I know one project that have API access, LibreNMS, http://www.librenms.org/

[2015-02-27 12:17] dopeh commented on #180
Hi,
Please feel free to fiddle around and open a pull request. I do not have iOS devices myself so would not be able to test it, and I have some other things planned.

[2015-02-27 12:41] dopeh commented on #139
Discussion at #178

[2015-02-27 12:41] #139 closed

[2015-02-27 15:47] rjayako commented on #175
Hi @JBlond I created a pull request, you can grab it if you want. I can add this as a configurable option if you guys want, I just didn't see the need to implement it for my use since I had no valid use case for it.

[2015-02-27 15:51] dopeh commented on #175
Hi @rjayako thanks for providing the pull request, but for merging it in the project I would need it to be user configurable, as I do not feel comfortable changing 4xx status codes to "OK" if the project has always treated them as "NOT OK" in the past. For users upgrading to the a release I would like the behaviour for existing service/websites to remain the same.

[2015-02-27 16:10] adwait123 commented on #129
Same issue. Randomly logs in but then need to login after every click.

[2015-02-27 16:10] rjayako commented on #175
@dopeh ah very true! Alright, I'll work on this and create a pull request when I have the time.

In the mean time here is the quick fix if anyone wants it dcabf77380118874f1d25c426811fce232256447 resolves this issue.

[2015-02-27 16:46] ghost opened #184 "Feature Request: sqlite"
Hi,
Is there any chance for support sqlite?

[2015-02-27 17:35] ideasoft commented on #167
i tried now as you say, i am trying to monitor a site with both htpassword and from secure connection. (https 443). it fails.

[2015-03-01 02:09] ldrrp commented on #168
+1

[2015-03-04 07:48] icarius commented on #166
It is a good idea!
For my part I have change the code to allow me to CURL address behind proxy

[2015-03-05 12:38] insuman commented on #35
AFTER 3 HOURS  FINALLY GET A SOLUTION TO  PING SERVER WITH PORT 1 ....

open StatusUpdater.class.php inside function updateService at the first line  add this :

if (($this->server['port'])==1) {
    $timeout = 5;
    /* ICMP ping packet with a pre-calculated checksum */
    $package = "\x08\x00\x7d\x4b\x00\x00\x00\x00PingHost";
    $socket  = socket_create(AF_INET, SOCK_RAW, 1);
    socket_set_op

[2015-03-06 13:08] teucrus commented on #179
Also ping testing would be nice.

[2015-03-11 14:55] slackero opened #187 "Installation: Unable to connect to MySQL"
The development release is not able to connect to the database, not during install and also not if config and database were setup manually.

Vendor scripts are fresh loaded by composer.

Replacing the development files with the one from 3.1.1 release excluding the built-in vendors (using the fresh files) it's working as expected.

Tested: Local PHP 5.6.2, Remote PHP 5.6.6

[2015-03-18 04:52] Taurolyon commented on #155
I'd like to build on this feature request - A way to download the graphical data and possibly export/download the latency data to CSV through the web frontend.

[2015-03-19 16:14] jersobh opened #188 "Crontab"
Hi,

Thanks for this great tool! How can i add it on crontab, so it could automatically check in some time interval?

[2015-03-19 20:29] jersobh commented on #188
Didn't read the docs! Sorry!

[2015-03-19 20:29] #188 closed

[2015-03-19 20:39] jersobh opened #189 "New rule: Send message if latency is high."
Hi guys, i wan't to put  new rule to also send a message if latency is too high but couldn't find the controller on the source code related to this. Can anyone help me?

[2015-03-20 02:35] rjayako commented on #189
Hi @jersobh can you specify what you mean by "send a message" do you mean by email? or send a message to the DB to store that the latency was too high?

[2015-03-20 13:56] jersobh commented on #189
I mean an sms/email message

[2015-03-20 13:58] jersobh commented on #189
For ex.:

if ($latency > 2.000000) {
           $message = "Warning: High latency";
           $LT = new /psm/Txtmsg/mysmsmodule($message);
}

[2015-03-21 10:43] ghub2015 commented on #157
I agree.

"Passive checks" or "distributed monitoring" (that has a light footprint on the "remote" monitors, i.e., does NOT require MySQL) would put this app over the top, IMHO.

Also, some way to coordinate checking with other "master" instances (so that you can replicate/distribute the dashboard/UI itself) would just make this awesome.

But, then you would really have to re-examine the cron base

[2015-03-23 12:52] alexlewer opened #190 "Feature Request: User Groups"
It would be great to be able to define groups of users which would make adding new users to existing server monitors much easier.

[2015-03-23 12:53] alexlewer commented on #176
+1

[2015-03-23 14:36] raggoo commented on #112
Seems like a no-brainer!

copy/paste from twilio:
<blockquote>Twilio delivers messages to over 1,200 carriers in 198 countries around the world, and monitors carriers to ensure your messages are delivered.</blockquote>

What is the timeframe on 3.2.0 please?

[2015-03-23 14:40] raggoo commented on #141
Comment from owner please?

[2015-03-28 22:02] pmarkoulidakis commented on #187
Yeap i noticed it too. Just change the constructor to:
 function __construct($host = null,$db = null, $user = null, $pass = null) {

[2015-04-02 14:35] CodeBrauer opened #191 "Better Integrations?"
Hey there - is there a way to build a plugin?

We wan't to push all down-times to our slack-chat-room.

Or how about integrating a interface for that: https://github.com/notifymehq/notifyme ?

[2015-04-02 14:40] CodeBrauer commented on #168
+1 / also take a look at https://github.com/notifymehq/notifyme

[2015-04-02 16:12] bpvarsity commented on #168
Hipchat support would be awesome to.

On Thu, Apr 2, 2015 at 9:40 AM, Gabriel Wanzek <notifications@github.com>
wrote:

[2015-04-05 13:48] CodeBrauer commented on #168
@bpvarsity - Slack also!

[2015-04-07 18:42] gaborvadasz opened #192 "CachetHQ integration"
How can we connect your great script with https://cachethq.io/ status-pages tool? It's great combination work together.
Thanks!

[2015-04-08 16:06] raggoo commented on #141
HELLO???

[2015-04-16 08:30] Grandmasg commented on #187
Not working for me ... tried it at multiple installations (windows + linux)
![error](https://cloud.githubusercontent.com/assets/6714237/7176965/58967b84-e423-11e4-9f45-c495e27f93bf.png)

[2015-04-22 09:08] gm-ah commented on #168
+1

[2015-04-22 16:22] soakes commented on #155
ICMP tests would be a great addition as right now its quite limited to what you can do, i.e. if you monitor say SSH to determine if the machine is alive (as this is pritty much standard on any machine), you get errors in your auth/syslogs such as...

Apr 22 17:12:33 manage sshd[3020]: Did not receive identification string from xx.xx.xx.xx

It would also be nice to maybe add in plugin support so pe

[2015-05-05 10:24] inpothet opened #196 "Feature Request: Public Page"
It would be handy if there is a public page that you can link people to for the up and down time.

[2015-05-05 16:37] joubertredrat commented on #196
+1
I think that is good idea can provide public uptime data for clients as example

[2015-05-05 16:40] joubertredrat opened #197 "Feature Request: API"
Hi,

I think that is good idea do implement API to use with PHP Server Monitor.
This a good way if you have a automatic process to manage sites and this tool automatic manage sites or services on PHP Server Monitor.

if like this, I can develop a alfa test and open demo to test.

[2015-05-11 10:59] bactisme commented on #187
:+1: Why this is not yet fixed ?

[2015-05-11 16:32] bpvarsity commented on #187
+1 I tried multiple installations/servers as well and it doesnt work. Had
to go back to the old version

On Mon, May 11, 2015 at 5:59 AM, Baptiste M. <notifications@github.com>
wrote:

[2015-05-12 18:32] jarmouz opened #198 "Last online Never"
Hello,

I add new website to monitor, but on the server page las online always Never and latency 0.
The website is online.
What's the problem?

![capture](https://cloud.githubusercontent.com/assets/5909895/7595213/f82086aa-f8e5-11e4-9748-7baf7072340f.PNG)

[2015-05-25 11:14] loran750 opened #199 "more info from events"
Hello

I monitor websites with the pattern function, in order to verify 2 states : web server alive + mysql alive.

But when I get a mail with en error, I don't know if it's a problem with the mail server, with php or with the database.

Would it be possible to have as well in the mail AND in the events manager infos like :
- http response header (2xx, 3xxx, 4xxx, 5xxx)
- timeout
- HTML from the p

[2015-05-29 05:21] holinhot opened #200 "a gb2312 website setup a Search string/pattern but not working,"
hi,i use PHP Server Monitor Monitoring a gb2312 website setup a Search string/pattern but not working, i try monitor a utf8 website good working
http://www.qq.com
thanks

[2015-05-31 15:56] laurin1 opened #206 "Add LDAP Login Support"
I might be able to write this myself, but wanted to see how much support was for this and / or request someone to add this feature.

[2015-06-01 15:12] valessiobrito opened #208 "Support embed iframe"
Plz,

Add support generator code to "iframe" graph;

Thanks,

[2015-06-13 06:03] raenk commented on #56
Same problem running 5.4.41

Tried everything

PHP 5.4.41 (cli) (built: May 14 2015 23:15:28)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2014 Zend Technologies

[2015-06-13 06:05] raenk commented on #129
Same here

PHP 5.4.41 (cli) (built: May 14 2015 23:15:28)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2014 Zend Technologies

[2015-06-14 01:11] raenk opened #211 "Can't login after fresh install"
LEMP stack, PHP 5.4.41

Right after a fresh install, can't login. I've seen others having same issue, but no solution.

Password reset won't work, changing password directly on DB doesn't work (using the one that translates into 'password'). Looks like the encryption used has a bug.

Is this project active? There are no recent replies from maintainer/owner.

[2015-06-16 14:55] arejay73 opened #212 "Adjust Priority of Push Notifications"
Is it possible to adjust the priority of the push notification sent when a server goes down?

[2015-06-17 15:50] joglomedia commented on #187
The problem is in the src/config/services.xml lines

		<service id="db" class="psm\Service\Database">
			<argument>%db.host%</argument>
			<argument>%db.name%</argument>
			<argument>%db.user%</argument>
			<argument>%db.pass%</argument>
		</service>

it should be like this (depending on the Database service constructor)

		<service id="db" class="psm\Service\Database">
			<argument>%db.host%</arg

[2015-06-17 16:26] joglomedia commented on #211
which branch you're used?

I use LEMP stack, PHP 5.5, there is no problem

[2015-06-17 16:33] joglomedia commented on #200
i think it is related to the preg_match used to check if the pattern was found,
you can edit your file src/psm/Util/Server/Updater/StatusUpdater.php about line 210

[2015-06-17 17:10] joglomedia commented on #198
you need to run the Update menu, and also add the cron/status.cron.php to your cronjob

[2015-06-18 01:24] raenk commented on #211
Hi,

I used master I believe. I'm going to try with develop assuming that's what you're using.

Thanks

[2015-06-18 01:54] raenk commented on #211
Well, didn't get that far...

First, it seems that the bundle has a corrupted coposer.phar file, hat to get it directly from https://getcomposer.org/composer.phar

Then, after installing the dependencies i get a blank page at install.php

I'm going to try and debug it.

[2015-06-18 01:57] dopeh commented on #211
You can try downloading one of the pre-built releases which should all work. The develop branch is rather unstable at the moment and has been inactive for some time. I will pick up development shortly hopefully to get things sorted out. Apologies if the latest develop version is not working out for you, feel free to dump any errors you get.

[2015-06-18 02:00] raenk commented on #211
Hi dopeh,

The first two servers I installed it I got them directly from here:
http://www.phpservermonitor.org/download/ (TAR.GZ)

The third one is the one that just tried a few moments ago with the develop branch. Considering your advice, I'll stay then with the pre-build.

Installation goes smooth, but can't login, no errors. I've seen other users going through this, but there is no public solut

[2015-06-18 02:02] dopeh commented on #211
Add the following line to the end of your config.php file and refresh the page to (hopefully) see any errors:

define('PSM_DEBUG', true);

[2015-06-18 02:10] raenk commented on #211
Thanks. this is the only one I get as soon as the login page is loaded.

Warning:  SessionHandler::read(): open(/var/lib/php/session/sess_t4bn6f4keun531inmhqj6k1li4, O_RDWR) failed: No such file or directory (2) in /usr/share/nginx/html/mon/vendor/symfony/http-foundation/Symfony/Component/HttpFoundation/Session/Storage/Proxy/SessionHandlerProxy.php on line 69

Nothing else even after trying to log

[2015-06-18 02:14] dopeh commented on #211
Well the error corresponds with the symptoms (not being able to keep a session) but unfortunately I can't really help you with that. It appears your nginx is not properly configured, and PHP is trying to store session files in a directory that does not exist or is inaccessible (/var/lib/php/session). You should either create that directory and allow nginx access or get in touch with your webhost i

[2015-06-18 02:21] raenk commented on #211
Perfect, at least it's a pointer/clue. Much better now place than before to find a solution.

Thanks!

[2015-06-18 02:29] raenk commented on #211
Problem solved! Created directory for sessions and gave it the right permissions. An alternate solution could be changing the path in php.ini for sessions to any other writable location by the process.

Thanks again dopeh

[2015-06-18 02:38] dopeh commented on #211
Glad you got it working!

[2015-06-18 02:38] #211 closed

[2015-06-19 10:30] joglomedia commented on #196
+1 it'd be really nice

[2015-06-22 21:54] bootswithdefer opened #214 "Feature request: add header support for website checks"
It would be nice to be able to define extra arbitrary headers to pass to curl, particularly the Host header for sites with vhosts.

[2015-06-26 08:35] kristianrl opened #215 "Feature request: Possible to run cronjob via web"
I made it possible to execute the cronjob by removing the following from `cron/status.cron.php`

[code]

It seems to run perfectly fine.

I do understand the reasons not to have this publicly accessible, but ask that you add a possibility to enable/disable this (and just leave it disabled as default).

[2015-07-03 08:37] Archangel236 commented on #35
ping dose not worked. If can used this code explode white page

[2015-07-03 08:38] Archangel236 commented on #35
ping not work. If use this code result white page

[2015-07-03 19:34] madfunny commented on #178
I would love to see this feature of users with the ability to create and then modify a certain number of allowed servers also.

[2015-07-03 19:40] joubertredrat commented on #178
Hi,

I started developing this feature, but I had to stop because projects freelance insisted I do. In a few weeks I will return development to this feature

[2015-07-16 10:47] beholdr opened #216 "Feature request: custom hooks on events"
It would be cool to have custom hooks / event triggers when websites come down or up for easy integration with other services. Ability to execute my php code without core hack, maybe some plugin system.

[2015-07-19 20:02] computercurtis commented on #196
I also would love this feature.

[2015-07-22 14:43] medhi opened #217 "Custom Pushover sound"
Could you please implement a possibility to set custom Pushover sound? It should be just one more parameter in Pushover command.

Thank you

[2015-08-04 14:26] Dasoren commented on #214
I 2nd this request. I need this for the testing of my websites.

[2015-08-04 14:38] Dasoren commented on #176
+1

[2015-08-07 04:56] RamzyVirani opened #219 "Feature Request: Multiple Services in Single Server"
First of all, Thanks for this great tool. Please add an option to add multiple services in a single server. like I want to monitor SSH, FTP, SMTP, IMAP, POP3 with a single IP Address. Right now, I would need to add multiple servers for each service.

[2015-08-11 08:40] webkeul opened #220 "Error-Message of Timeout"
PHPServerMon sends the error text "Pattern not found" if there is set a search pattern and serverupdate-connection ends in a timeout.

I think there should be a separate error message like "connection timeout"

Have a look phpservermon/src/psm/Util/Server/Updater/StatusUpdater.php:

		if($this->server['pattern'] != '') {
			// Check to see if the pattern was found.
			if(!preg_match("/{$this->serv

[2015-08-14 22:52] JoaoVagner opened #221 "SSH tunel"
Hello ,

It is possible to use ssh tunnel into a VPC for such status and EC2 machines and RDS ?

[2015-08-17 13:28] wslade50 commented on #219
Hey!

Have you already seen it? http://hsiucustomshop.com/new.php?90

wslade@slades.biz

[2015-08-17 19:44] criwe opened #222 "Websites offline exact the same time every day"
Hi!
First of all thx for this fantastic Software!

I´ve installed it on two different webspaces to monitor different websites.
Something attract my attention: both installations report website offline every night at the same time for different websites:

phpserver mon A -> website 1, website 2 -> offline for one intervall every night at 5:30
phpserver mon B -> website 3 -> offline for one interval

[2015-08-18 07:19] RamzyVirani commented on #219
hi @wslade50, the link is broken.

[2015-08-18 11:58] wslade50 commented on #219
Hello!

Important message, visit http://hctvonline.org/quietly.php?v24nz

wslade@slades.biz

[2015-08-19 05:31] wslade50 commented on #219
Hello!

Important message, visit http://globus-hebetechnik.com/finding.php?y5j

wslade@slades.biz

[2015-08-29 07:58] ericwongcm commented on #222
I don't see such problem for my installation. I would guess it is related to your server. Ask your webhost and see if they might be doing something at those hours.

[2015-09-01 22:12] kainjow commented on #184
+1 I think this would be good.

[2015-09-04 08:39] slartibartfass opened #223 "Feature Request: SMS API to www.smskaufen.com"
API Documentation: http://www.smskaufen.com/sms/downloads/smskaufen-schnittstelle.pdf

[2015-09-04 13:02] arth1992 opened #224 "WAN IP"
Hello first of all thanks for the script

But if  i add WAN ip to list of servers the status show always Offline
Like 1.2.25.24 as IP in new server form and type as service
But it always offline.
And  this script use Ping command to check if server is up or not ?

Thanks for the concern

[2015-09-08 15:01] njh commented on #96
yes please

[2015-09-09 22:50] ryan8382 opened #225 "System Update status page"
This is probably outside of the scope of the project but I figured I would ask anyway. I was wondering if you guys would be willing to add a page that has Server update status. We use a variety of Windows, Linux and Mac servers. It would be nice to have a page that we can go to that shows the current system version, and if updates are available. On that same page have a RDP shortcut download, VNC

[2015-09-27 12:27] franko108 opened #226 "Feature Request: Automatic monitor refresh in browser"
I like your program, quite nice, simple for use.

Although there is latest monitor status through cron job, we don't see any changes on the browser, as it needs to refresh status manually. This is not perfect situation.
It would be much better to make automatic refresh and this is very simple to implement.
Simple javascript can be loaded on main *index.php* when we're logged in.
This js works out

[2015-09-27 18:40] JackwBull commented on #226
If you go into Config you will see there is an Auto refresh already their, just type in how any seconds you want between each refresh and away you go,

[2015-09-27 18:50] franko108 commented on #226
Yes, indeed, I didn't see it.
Thanks, you may close this request.

Regards,

[2015-09-27 18:51] #226 closed

[2015-09-30 23:45] thijshakkenberg opened #227 "psm_servers_uptime data should be compressed"
We have an phpservermon install monitoring our servers every 10s. This has already (after three weeks) made the psm_servers_uptime table grow to 14MB and the reports cannot be run because the data sets have become to large.

An extra cronjob, to replace all rows for one day with an average for that day per server for all data older then e.g. a week, would greatly reduce the data points and increas

[2015-10-02 19:18] lightonflux opened #228 "Red outage are drawn above legend box"
Version 3.1.1.

Red outage are drawn above legend box:

![screenshot of Red outage are drawn above legend box ](https://cloud.githubusercontent.com/assets/1377943/10255490/098d632e-694b-11e5-85dd-f0ecb71484ef.png)

[2015-10-02 20:18] JackwBull commented on #227
I dont see how your usage is so high. Im monitoring 184 servers for the last 5 months are only used 8mb of data

[2015-10-02 20:59] thijshakkenberg commented on #227
We run the cronjob every minute.

[2015-10-04 09:18] JackwBull opened #229 "Edit Email"
Hello Guys,

in what place can i edit the emails that get send out when the server goes down/up

Thanks

Jack

[2015-10-12 05:32] diginet-md opened #230 "Is it possible to extend functionality to view redirections like redirects 301 and 302?"
It would be quite useful for some tasks concerning SEO.

[2015-10-12 05:35] diginet-md opened #231 "Is it possible to extend functionality to crawling all pages of site for checking "broken links" (links checker)"

[2015-10-12 18:41] kornett opened #232 "Servers Status Update"
I noticed that even though the "Status" tab page refreshes every 10 seconds like I configured, it doesn't really "Updates" the status, it only works when I go to Servers -> Update manually.
Any idea why?

[2015-10-13 00:35] Dmitchell94 opened #233 "Feature Request: Page Visibility"
I would like to allow my customers to see the status page without them having access to any other tab other then a login button so staff can login. this is so that my customers can easily check service status while still giving my staff a all inclusive and easily editable system for monitoring servers. Is there any way to currently do this or could this be added?

[2015-10-13 13:06] V4P3 opened #234 "Feature Request: Group sites by server"
Dear,

Is it possible to group sites by server?

Example:

Server 1 |  Server 2
--------------- | ------------------
Site/Service 1 | Site/Service 3
Site/Service 2 | Site/Service 4

Regards,
V

[2015-10-13 13:44] JackwBull commented on #232
Hello,

If you want the website to check the server status every 10 seconds you will need to edit he cron job to do so. as its the cron job that gets the server status

Thanks

Jack

[2015-10-13 13:44] JackwBull commented on #229
I have found it in the lag files.

[2015-10-13 13:44] #229 closed

[2015-10-15 21:21] sfennell commented on #228
I resolved the issue by changing the color of the outage rectangles and using postDrawHooks in static/js/history.js

[code]

[2015-10-19 19:12] markaba commented on #51
:+1:

[2015-10-19 21:28] raggoo opened #236 "timeframe on 3.2.0 release"
What is the timeframe on 3.2.0 release please?

It has been almost a year since the last release and the best I can tell 3.2.0 is very far behind schedule.

Couldn't you release a current version with where it is now?

[2015-10-26 20:44] diginet-md commented on #178
Hi,
Please let us know if there expecting any news regarding Owner role feature?

if it necessary some efforts from our side also, please let us know.

[2015-10-26 20:50] diginet-md commented on #197
Hi,
Please let us know if there expecting any news regarding implementation API?
We can participate in testing.

[2015-10-30 20:28] mdemori opened #237 "PHP Server Monitor 3.1.1- CSRF Privilege Escalation"
Found this online

https://www.exploit-db.com/exploits/38574/

[2015-11-01 21:35] levidurfee commented on #237
@mdemori - you going to fix this? Anyone?

If not, I might have time tomorrow.

[2015-11-06 10:17] foshdafosh commented on #212
I wondered the same.

Take a peek here:
https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Util/Server/Updater/StatusNotifier.php#L240

[2015-11-09 16:54] MrMugiwara opened #238 "Report CSRF vulnerability"
Hi I've found a Vulnerability on a Product in GitHub

https://github.com/phpservermon/phpservermon

Product:
================================
PHP Server Monitor 3.1.1

Vulnerability Type:
=================================
Cross site request forgery (CSRF)

Vulnerability Details:
=====================

Multiple CSRF issues in PHP Server Monitor allow remote attackers to add
arbitrary users & server

[2015-11-09 21:42] Togglinq commented on #232
Hello,

Could you possibly show us how to make the server status auto-update within the status.cron.php

Thanks,
Togglinq

[2015-11-10 08:06] JackwBull commented on #232
What are you using phpservermon with? Windows/cpanel/plesk?

[2015-11-10 10:08] Togglinq commented on #232
Hello,

I'm using it on Centos 6 (Linux).
It is currently monitoring a port 80 and 25565..

Thanks,
Togglinq

[2015-11-10 10:08] Togglinq commented on #232
Hello,

I'm using it on Centos 6, no web control panel
It is monitoring my port 80 and 25565

Thanks,
Togglinq

[2015-11-11 17:30] tisba37 opened #239 "Add another SMS Gateway"
It's possible to add https://smsgateway.me/ for SMS Gateway ?

Doc is here : https://smsgateway.me/sms-api-documentation/messages/send-message-to-number

This gateway provide free SMS, if you have a mobile + SIM at home :+1:

[2015-11-20 18:12] DeviantEng opened #240 "Running behind reverse proxy?"
So I have PSM installed on a CentOS box, using nginx, mariadb, and php-fpm.  Works great.  PSM is running on http on port 8083.

I've got a separate box running CentOS 7 and Nginx, used as a Reverse Proxy (contains a wildcard SSL cert, and is the only service available from the internet, so I proxy everything through it).  I have PSM proxied through it, and initially it works.

It loads fine and I

[2015-11-26 20:33] glenara commented on #239
Thanks for lead on the free SMS.
I installed and tested it locally.  The problem that I found was the response was over 19 minutes on the first test and 32 minutes for the second test.

This is not very timely for a "server monitor" although it may not be a concern for some users.
I thought I should mention this so that everyone doesn't get all excited about a free SMS that won't meet their needs.

[2015-11-26 21:24] tisba37 commented on #239
19 & 32 minutes ?
We use it on our monitoring ( Centreon ) and it's in real time.
It's possible to test on my phpservmon install ?

[2015-11-26 23:16] glenara commented on #239
My apologies tisba37, the default example script has a delayed send option that I didn't noticed.
Removed it and the sending was immediate.

Thanks again for the lead this really will have some value.

[2015-11-29 19:41] dopessoa commented on #168
+1

[2015-12-03 08:06] glenara commented on #239
Hey tisba37, are you looking for an Add-On of the "SMS Gateway API"?
Well, I wrote one and you are welcome, as is everyone, to use it.
http://www.canadiandomainregistry.ca/contrib/SMSGateway
Glen

[2015-12-09 20:03] robbens commented on #222
I have the same issue. Five servers "went down" the exact same time. Well, they were offset by 1 second each.

So,
Server 1 went down 11:30:32
Server 2 went down 11:30:33
Server 3 went down 11:30:34
...

[2015-12-14 21:55] lupor0x commented on #232
You have to set a cronjob, in the crontab! Open the file ->  /etc/crontab and add this line for run the script every hour :

* 1 * * * /yourdirectory/update_server.sh

Each line in the /etc/crontab file represents a task and has the following format:

minute   hour   day   month   dayofweek   command.

# record the memory usage of the system every monday
# at 3:30AM in the file /tmp/meminfo
30 3 *

[2015-12-14 21:55] lupor0x commented on #232
You have to set a cronjob, in the crontab! Open the file ->  /etc/crontab and add this line for run the script every hour :

* 1 * * * /yourdirectory/update_server.sh

Each line in the /etc/crontab file represents a task and has the following format:

minute   hour   day   month   dayofweek   command.

# record the memory usage of the system every monday
# at 3:30AM in the file /tmp/meminfo
30 3 *

[2015-12-14 22:05] lupor0x commented on #222
I dont have that problem, maybe it's something happening to your server at 5.30..

[2015-12-17 09:30] cbrassel opened #241 "Only need ICMP check .. is it possible ?"
Hi,

Nice product, but I need an ICMP (ping) check and graphs for the response time, is this easy to add ?

Regard's
Claude

[2015-12-20 19:24] FrozenBeard opened #242 "Request: Support Pushbullet"
I just spent ages setting up Pushover only to find out the piece of crap lasts for 7 days and then forces you to pay $5 for it PER platform (Stinking bastards!), this is pointless when there are many other free alternatives that are much better, like Pushbullet.
Can you please support pushbullet.

[2015-12-23 16:21] coelhopsi commented on #241
Yes, it is. Please try to follow the steps described on http://sourceforge.net/p/phpservermon/discussion/845823/thread/97e4fd03/ and let me know if it doesn't work.

[2015-12-24 04:47] glenara opened #243 "Fatal error: Uncaught exception 'PharException'"
Add additional info to the install doc.

If you get "Fatal error: Uncaught exception 'PharException'..." run this and try again:

     curl -s http://getcomposer.org/installer | php

[2015-12-24 06:31] glenara opened #244 "Mobile Carrier SMS gateway Enhancement"
See pull request #245
Enhancement
Most mobile carriers have a sms text gateway for sending text messages to their customers mobile devices.
Using this gateway to text your Server Monitor activities has 3 main benefits.
1. It's free
2. Not dependent on third party.
3. Low overhead as it using the existing mail functions already part of PHP Server Monitor.

I have already written the class which I h

[2016-01-07 00:30] timurphy commented on #206
I'd like to see this feature included.

[2016-01-09 18:07] github-0 commented on #241
I tried to add the code in the link but couldn't get it to work. Like the comments there, I get an empty page after the modification.

[2016-01-18 10:13] r3m4k3 opened #248 "Check webpages from another server"
Hi there,

is there any possibility to monitor my websites from another server?
For example, I have run monitoring system on server XYZ, but I have to monitor too these stored on server ZYX, how can I do it?

Thanks in advance.
Best regards

[2016-01-21 18:59] nitrocode opened #249 "Feature request: Allow categories for servers"
Some of our users only want to see the ESX servers while others only want to see Switches and Routers. It would be nice if we could set custom categories for each machine and filter based on categories.

[2016-01-21 19:26] nitrocode opened #250 "Feature request: Import / Export from / to CSV, JSON"
Would make it easier if we could import / export to or from a csv or json

[2016-01-21 19:30] nitrocode commented on #176
+1

[2016-01-22 12:22] danceboysf opened #251 "Cannot monitor Icecast statistics"
Example page:
http://141.0.169.245

I cannot monitor any statistics from Icecast streaming servers

Output:
http://store.picbg.net/pubpic/50/A8/6a586178632350a8.PNG
Settiings:
http://store.picbg.net/pubpic/D8/B3/ac19089484b3d8b3.PNG

[2016-01-25 10:02] gntvls opened #252 "Cannot send message via smsglobal.com"
Hello, strange issue, i've created account in smsgloba.com, added some credits.
Then logged into admin panel of phpservermon and configured the account to send messages, added username & password & sender number but i always get  "Error in sms sending". Any advices how to solve this ? Thanks.

Edit: added print_r on response from files_get_contents , and this is what i get `ERROR: 13` -> `SMSGloba

[2016-01-25 10:39] #252 closed

[2016-01-25 17:24] kippg commented on #251
I'm checking my Shoutcast servers as a service, not a website. For the search string I am using .*, a dot and a star.

[2016-01-27 16:14] coelhopsi commented on #241
Hello,

Two changes are needed:

**cron/status.cron.php:**
*From:*
[code]
*To:*
[code]

**src/psm/Util/Server/Updater/StatusUpdater.class.php:**
*From:*
[code]
*To:*
[code]

Please notice the ICMP check requires root privileges. As such, it will only work when run from cron. Manually updating the status will not work (unless you are running your webserver as root, probably).

Let me know if it sti

[2016-01-28 21:48] github-0 commented on #241
It works, THANK YOU! This should be on the main code.
I don't know if I explicitly _need_ your other improvements, but if you'd like to share them too then all the better! :)

[2016-01-30 19:13] levidurfee commented on #237
Still no fix...

[2016-01-30 23:24] #237 closed

[2016-01-30 23:27] #87 closed

[2016-01-31 17:17] raggoo commented on #236
HELLOOOOOOoooooooooo????

[2016-01-31 17:36] raggoo commented on #141
HElloooooooo???

[2016-01-31 17:45] raggoo commented on #239
Can this be used with phpservermon?

If so how please?

Thanks!

[2016-01-31 18:22] glenara commented on #239
Hello raggoo
Yes it can be used with phpservermon but I feel it is inappropriate because it tracks all your users and emails.
I've completely removed it from my system and don't remember the details of the install.

I instead wrote  "CarrierSMS SMS Gateway #245" specifically for phpservermon.
http://CanadianDomainRegistry.ca/contrib/CarrierSMS

Glen

[2016-01-31 18:24] glenara commented on #239
I replied to your question in the forum.
Glen

From: raggoo [mailto:notifications@github.com]
Sent: January 31, 2016 10:45 AM
To: phpservermon/phpservermon
Cc: Glen
Subject: Re: [phpservermon] Add another SMS Gateway (#239)

Can this be used with phpservermon?
If so how please?
Thanks!
—
Reply to this email directly or view it on GitHub <https://github.com/phpservermon/phpservermon/issues/239#issu

[2016-01-31 18:53] raggoo commented on #239
Hey glenara thanks!

Seems it's past time they updated this with free sms gateways.

Will try to use your solution.

Thanks again!

[2016-02-02 22:08] stephankn commented on #238
Vulnerability is known since three months and no updated version released.

I worry about the safety of my installation.
Is the project dead?

[2016-02-02 22:18] bpvarsity commented on #238
Project is not dead. Multiple commits recently.

On Tue, Feb 2, 2016 at 4:08 PM, Stephan <notifications@github.com> wrote:

[2016-02-02 22:27] hacker404 commented on #238
Hi stephankn,
I have searched your emails and I found nothing and I've contacted github security team about this vulnerability before open the issue here in phpservermon
you can send this report to the support security of this project,
to fix the bug and validate the issue With a release the product.

Kind regards,
Soufiane Boussali

[2016-02-02 22:28] dopeh commented on #238
Hi guys,
A new release is in the works and this fix will be included.
Should be available in a couple of weeks max.
Cheers,
Pep

[2016-02-02 22:31] hacker404 commented on #238
Hi Dopeh,
Thanks For Feedback after Fix :)

King Regards
Soufiane Boussali

[2016-02-03 18:09] id777 opened #254 "Email comes in wrong encoding if the interface language russian"
Hello! The PHP Server Monitor installed a Russian interface.
Here are some letters come to the mailbox gmail: https://hsto.org/files/457/3df/d58/4573dfd5851f4f3086057e729d9c904a.png (screenshot).

Incorrect coding?

[2016-02-04 22:39] levidurfee opened #255 "Feature request: Webhooks"
Could you add webhooks to the next version? If a site goes down, it would deliver a payload to the configured webhook.

[2016-02-07 18:40] TomasPic opened #256 "Javascript - update server status"
Hey,
could you remove the "Update" in the menu and also the button "+ Update" in the "Servers". It would be better if you replace it with some javascript function which would work automatically. The server status would be also more interactive. Same thing is in the "Status" - refreshing values with JS.

[2016-02-07 20:10] hacker404 commented on #238
Hi dopeh,
the answer github security team And the codes Exploits are included in this report
I have not mentioned before because the codes are critics of course respecting security rules:

Thank you for submitting a vulnerability. This is an automated email to
confirm that we received your submission. A human will follow up with
you regarding your submission soon. In the meantime, keep hacking!

-

[2016-02-07 20:24] levidurfee commented on #256
Why are you asking for this? Are you experiencing a problem? How would this make it more "interactive"?

[2016-02-07 20:48] TomasPic commented on #256
I think that clicking on the Update every time to see some result is not the best idea.... It shows up that the server/port/... is still up, but it's not - and you know that after the click on Update.

Here is an example:
1.
My server is up, and everything is running ok. I put the monitoring server down and it's still green. But when I press the Update button, it's red.

2.
My server is up, and ev

[2016-02-07 21:27] stephankn commented on #238
@hacker404 Soufiane, I don't understand why you mention Github Security Team. This is a vulnerability in a project which has its code hosted on Github. To my understanding the Github Security Team takes care of issues in Github and related services, not in issues of hosted projects. See their bug bounty program for details.

I still hope the project owners will consider releasing a fixed version s

[2016-02-07 22:03] hacker404 commented on #238
Hi Stephankn, Because I have contacted Team About Vulnz And This Is The Answer From Github Security 'Bug Bounty Program':
-------------------------------------------------------------------
Hi,

Thanks for the submission! We have reviewed your report and determined that the application you referenced is not owned or operated by GitHub. That project is owned and operated by the owner of the reposit

[2016-02-07 22:51] dopeh commented on #238
Lol.. Yeah, no, github won't help you with this. And yes, I will do my best to get a new release out soon. Please do realise I have a life, job and other things to do and this project is something on the side. CSRF has been implemented on the develop branch already and I will have a look to make sure the actions only accept post parameters, too.

[2016-02-07 23:00] hacker404 commented on #238
Hi Dopeh,

Good News , And that's Will Be Great To Make Your Project Safe :)
Thanks For FeedBack After Release.

Warm Regards, By Soufiane Boussali & Othmane Tamagart
-----------------

[2016-02-08 20:09] Touch-My opened #257 "type server or website"
Hello,

I added my Teamspeak server monitoring, but he said he and off for the reason: Connection refused

The shots I tested website mode, knowing that turns on debian, while the port is opened automatically, the blows it appears the site is in all cases.

[2016-02-10 23:25] levidurfee commented on #256
In the config change the `Auto-refresh` setting.

[2016-02-15 09:59] CodeBrauer commented on #242
Duplicate #168

[2016-02-15 10:07] lupor0x commented on #168
+1

[2016-02-15 20:15] levidurfee commented on #168
Why not just have the ability to add a webhook? [slack webhook](https://api.slack.com/incoming-webhooks) and [pushbullet webhook](https://zapier.com/zapbook/pushbullet/webhook/).

[2016-02-16 22:35] skydiver opened #259 "different template for login"
How i can use another template just for login page?

I change `src/templates/default/module/user/login/login.tpl.html` but always load `src/templates/default/main/body.tpl.html` first.

[2016-02-20 16:40] bastians commented on #230
+1

[2016-02-20 16:42] bastians commented on #51
+1

[2016-02-20 16:46] bastians opened #260 "Possibility to set requested status code"
It would be very useful have the possibility to set the requested status code. If the requested status code doesn't match with the status code from the given url, the status of the site is "offline".

[2016-02-22 16:06] petergrubercom opened #261 "MySQL on non-standard port"
I cannot install this script on a system where MySQL uses a non-standard port.
I get the error message "Unable to connect to MySQL"

Providing 127.0.0.1:xxxx as host adress does not work.
Also, providing this information directly to the config.php file does not work.
`define('PSM_DB_HOST', '127.0.0.1:xxxx');`

However, if I run a mini-query in PHP manually, it works:

    $dbname = 'servermonitor'

[2016-02-24 21:13] brumle80 commented on #250
I concur that, easier to add large amount of servers

[2016-02-26 13:05] brumle80 opened #262 "Feature request: bulk edit servers"
Being able to bulk edit servers would be a great feature, for example for turning on mail/sms/pushover for multiple servers at the same time.

[2016-02-26 13:06] brumle80 commented on #257
teamspeak is a service, just add ip and port or hostname, but remember to not add http:// on server address. should work with no issues.

[2016-02-27 20:42] MrMugiwara commented on #238
Fixes #238: adding CSRF token to all forms and requires now on POST

[2016-02-27 20:42] #238 closed

[2016-03-01 19:07] Xendorf commented on #261
I don't know if work but ... try with:

`define('PSM_DB_HOST', 'localhost;port=xxxx');`

[2016-03-07 10:13] geri777 commented on #230
+1

[2016-03-07 10:27] geri777 opened #264 "Website "health" check"
I had the problem that I wanted to receive a notification when the word "ERROR" is contained in the website. If you need the same, this is the solution: `(?s)^((?!Error).)*$`

If this was helpful to you, please comment with "+1" to have a checkbox for that in the next version (if there is...). Thanks

[2016-03-07 10:47] geri777 opened #265 "Feature Request: Latest server response"
I would like to suggest a feature in the backend to view the latest server output.
In best case it should be 2 buttons: "**latest positive server output**" and "**latest error server output**".
This would help a lot to find out why an alert was triggert - and it would even be more helpful for the setup, if you have redirects etc.
The output log should contain the raw response, including headers.

[2016-03-14 18:33] devcline opened #266 "Feature: Public Status Show"
Hello is it possible to just show up a servers when connecting to the script instead of the login? thanks

[2016-03-24 07:05] senthilpsk commented on #232
hi, i couldn't find update_server.sh
pls help on this

[2016-03-29 19:59] MatejKovacic opened #268 "Server status codes?"
In the documentation is stated that PHPServerMon checks status for websites (if the HTTP status code is in the 4xx range, it means an error occurred and the website is not accessible to the public).

Sorry to asking you here, but I was unable to get the answer from documentation. So, what if there is some other code, for instance 500 (Internal Server Error). Is there also error reported?

[2016-03-30 09:04] MatejKovacic commented on #102
Hi, any news on this?

I have an OpenVPN server, which is running on 1194 UDP port. Any possibility to monitor it?

[2016-03-30 09:16] MatejKovacic opened #269 "Slovenian language pack"
Hi,

I translated this software to slovenian. File is here:
[sl_SI.lang.php.txt](https://github.com/phpservermon/phpservermon/files/195477/sl_SI.lang.php.txt)

Download it, rename to sl_SI.lang.php and copy to <your_servermon_directory>/src/lang/

[2016-04-04 01:47] sadortun commented on #102
Hi @MatejKovacic if you are willing to rebase my fork, most of the implementation is there. I am still looking to find spare time to submit a PR

[2016-04-05 22:07] MatejKovacic commented on #102
Unfortunately, I am not a programmer. OK, I can write some PHP code, but really I am not a programmer.

[2016-04-07 10:54] brumle80 opened #270 "Feature Request: make only one alert notification when several services go down simultaniously."
when/if several checks fail at the same time it would be a lot better if they could be grouped into one notification as with pushover it almost locks down the phone until you have acknwledged all the down alerts.

[2016-04-08 13:35] sadortun commented on #268
An error is any code starting with a "4xx" or bigger

https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Util/Server/Updater/StatusUpdater.php#L200

[2016-04-15 23:05] Talderon opened #271 "Unable to send Test SMS via SMSGlobal"
I manually created a URL request:

`http://www.smsglobal.com/http-api.php?action=sendsms&user=****&password=****&&from=*******&to=*******&clientcharset=ISO-8859-1%text=ThisIsATest`

This is using the HTTP/SMPP API Key.

This worked, however, when in the application, using various different log-ins, I cannot get a test SMS to fire off.

[2016-04-16 20:45] Geesu commented on #51
+1

[2016-04-17 20:10] pkerekes opened #272 "css h2 ./plugin/twitter-bootstrap/css/bootstrap.min.css"
h2{font-size:16px;line-height:12px;}h2 small{font-size:18px;}

./plugin/twitter-bootstrap/css/bootstrap.min.css

I changed the CSS h2.
To adjust domain name saver pure.
I look gives this app. Thanks for this projeckt! :)

IMG1: http://felho.kerekespeterjanos.hu/index.php/s/Mu5VWFfTDLUzjya

IMG2: http://felho.kerekespeterjanos.hu/index.php/s/o00JtWrlTqP0oDZ

[2016-04-19 11:12] norville8 opened #273 "All servers disappeared"
After a re-wire of power system the servers had to be off for about an hour. I got the normal email about the servers down. After the rewire I was expecting the normal servers up email. I got nothing. I have the server monitor on a Raspberry Pi 2 offsite. I got to the webpage to check it out and no servers listed at all. It is like someone deleted all of them. I am using IPfire as a firewall and t

[2016-04-20 09:52] bilyboy785 opened #274 "Ability to make groups"
If possible can you add the ability to create groups like SERVER1(http, ftp....) SERVER2(.....)

thank's

[2016-04-20 19:58] pixeline commented on #191
+1, Slack would be a great integration, thanks!

[2016-04-23 15:17] sadortun opened #276 "Maintainers ?"
HI @dopeh

I would like to propose myself to give you some help maontaining the project. We are using PHPServerMon for a couple of years and we would like to see the project growing again.

If you have any questions, you can contact me by email.

Have a good day,
Samuel

[2016-04-24 16:29] Mag2 commented on #276
I was just thinking about asking if there were any developers who have thought about forking this project.  It's sad to see this project at a stand still.  I hope you get a favorable response and that they are few more like you wanting to push this forward.  If you don't, maybe it's time that few people like your self fork the project.

[2016-04-24 16:32] dopeh commented on #276
Hi guys,
Yeah I'd definitely be open to add more developers to the project to kick it back into gear. Can you send me your email address and we can have a chat.
Cheers,
Pep

On Apr 24, 2016 6:29 PM, Mag2 <notifications@github.com> wrote:

I was just thinking about asking if there were any developers who have thought about forking this project.  It's sad to see this project at a stand still.  I hop

[2016-04-24 16:39] sadortun commented on #276
Hi @dopeh My email is there : https://github.com/sadortun

[2016-04-29 13:56] dopeh commented on #276
Hello,
As I have discussed with @sadortun, he will be given full access to the repository and other resources to get some stuff moving and get this project back into active status. I have indeed not been able to spend the time on it that I wanted, so I am glad for this offer to keep this project going.

[2016-04-29 16:30] #276 closed

[2016-04-30 05:07] sadortun commented on #261
@petergrubercom have you found a solution ?

[2016-04-30 10:28] sadortun commented on #266
Not now, but we are accepting PR for this.

[2016-04-30 10:30] sadortun commented on #255
Good idea! We will be accepting PR for this.

[2016-04-30 10:34] sadortun commented on #260
Good idea, we are accepting PR.

#102

[2016-04-30 10:37] sadortun commented on #254
Hi @id777 can you try to investigate more? Can you provide the current expected, and actual encoding ?

[2016-04-30 10:40] sadortun commented on #257
Is  the issue resolved ?

[2016-04-30 10:41] sadortun commented on #251
Is your issue resolved ?

[2016-04-30 10:42] sadortun commented on #248
HI, you can monitor multiple servers at once if you want.

[2016-04-30 10:49] sadortun commented on #243
Please submit a PR with your changes. thanks

[2016-04-30 10:52] sadortun commented on #271
What is the uRL the application is calling ?

[2016-04-30 10:54] #242 closed

[2016-04-30 10:54] sadortun commented on #274
Good idea, we are accepting PR.

[2016-04-30 10:59] sadortun commented on #272
please submit a PR with your proposed changes.  Thanks!

[2016-04-30 11:00] #256 closed

[2016-04-30 11:02] sadortun commented on #241
#102

[2016-04-30 11:04] sadortun commented on #236
We should relapease a minor 3.1.x in the upcoming weeks.

[2016-04-30 11:04] #236 closed

[2016-04-30 11:05] sadortun commented on #231
Good idea, we are accepting PR. #102

[2016-04-30 11:06] sadortun commented on #230
Good idea, we are accepting PR.

[2016-04-30 11:07] sadortun commented on #234
#274

[2016-04-30 11:08] #274 closed

[2016-04-30 11:09] sadortun commented on #233
#266 #51 #196

[2016-04-30 11:09] #233 closed

[2016-04-30 11:11] sadortun commented on #266
#51

[2016-04-30 11:11] #266 closed

[2016-04-30 11:11] sadortun commented on #196
#51

[2016-04-30 11:11] #196 closed

[2016-04-30 11:14] sadortun commented on #227
This sounds like a resonance amount of data. What is the issue ?

[2016-04-30 11:15] sadortun commented on #225
#102

[2016-04-30 11:15] #225 closed

[2016-04-30 11:18] sadortun commented on #222
Please check with your host.

[2016-04-30 11:18] #222 closed

[2016-04-30 11:19] sadortun commented on #221
Yes, but you have to configure the tunnel on the server hosting PHPServerMon.

[2016-04-30 11:19] #221 closed

[2016-04-30 11:21] sadortun commented on #216
#120 #255

[2016-04-30 11:21] #216 closed

[2016-04-30 11:22] sadortun commented on #215
Good idea, we are accepting PR.

[2016-04-30 11:23] #198 closed

[2016-04-30 11:24] sadortun commented on #179
#102

[2016-04-30 11:24] #179 closed

[2016-04-30 11:25] sadortun commented on #177
#102

[2016-04-30 11:25] #177 closed

[2016-04-30 11:26] sadortun commented on #176
#274

[2016-04-30 11:27] sadortun commented on #234
#176

[2016-04-30 11:27] #234 closed

[2016-04-30 11:29] #165 closed

[2016-04-30 11:31] sadortun commented on #158
#262

[2016-04-30 11:31] #158 closed

[2016-04-30 11:33] sadortun commented on #156
please submit a PR with your proposed changes.  Thanks!

[2016-04-30 11:33] #156 closed

[2016-04-30 11:35] sadortun commented on #155
Good idea, we are accepting PR.
#102

[2016-04-30 11:36] sadortun commented on #154
Did you solved this issue?

[2016-04-30 11:40] #122 closed

[2016-04-30 11:41] #120 closed

[2016-04-30 11:44] #244 closed

[2016-04-30 11:45] #239 closed

[2016-04-30 11:46] #232 closed

[2016-04-30 11:49] sadortun commented on #197
Good idea, we are accepting PR.

Related to #255

[2016-04-30 11:50] sadortun commented on #191
Good idea, we are accepting PR. Related to #255

[2016-04-30 11:54] sadortun commented on #167
Still having the issue?

[2016-04-30 11:55] #74 closed

[2016-04-30 12:50] sadortun commented on #217
Good idea, we are accepting PR.i

[2016-04-30 13:17] glenara commented on #243
Glad to see you grabbing the bull by the horns and moving the project forward.

I've included this documentation update in my PR #245 CarrierSMS SMS Gateway.
This one can be closed.

[2016-04-30 13:17] #243 closed

[2016-04-30 13:44] diginet-md commented on #255
Please explain what do you mean under sentence
"We will be accepting PR for this."
For Your information
We have interest to extend functionality of phpservermon but don't understand what do you mean.

[2016-04-30 17:58] ideasoft commented on #167
sorry i had quited using phpservermon. thanks for your quick response.

[2016-04-30 21:29] #167 closed

[2016-04-30 21:34] sadortun commented on #255
HI @diginet-md, please have a look on the guide on how to contribute to Open Source projects :

https://guides.github.com/activities/contributing-to-open-source/

[2016-04-30 21:38] sadortun commented on #224
Hi @arth1992 did you fix the issue ?

[2016-04-30 21:40] sadortun commented on #219
#176

[2016-04-30 21:40] #219 closed

[2016-04-30 21:41] sadortun commented on #208
Hi @valessiobrito, can you give more details of your suggestion?

[2016-04-30 21:43] sadortun commented on #172
please submit a PR with your proposed changes.  Thanks!

[2016-04-30 21:47] sadortun commented on #199
Good idea, we are accepting PR.

[2016-04-30 21:48] sadortun commented on #199
#220

[2016-04-30 21:48] #199 closed

[2016-04-30 21:49] sadortun commented on #220
please submit a PR with your proposed changes.  Thanks!

[2016-04-30 21:50] sadortun commented on #159
please submit a PR with your proposed changes.  Thanks!

[2016-04-30 21:54] sadortun commented on #212
Please give more details on the reasons why the priority should be configurable for push notifications?

See also #159

[2016-04-30 21:55] #180 closed

[2016-04-30 23:35] brumle80 commented on #255
Support for Mattermost and Slack would be brilliant.

[2016-05-01 01:39] #241 closed

[2016-05-01 09:38] FrozenBeard commented on #242
Is this now implemented? the initial request was Jan 1st 2015

[2016-05-01 11:07] sadortun commented on #242
No, but if you are willing to make a contribution to the project, we will be happy to accept it!

[2016-05-01 11:55] nurhambali opened #281 "Setting Email"
Hi , I'm having problems when the configuration of email , can you help me?

[2016-05-01 12:46] sadortun commented on #240
Hi! It look like a cookie/session issue, do you still have the issue?

[2016-05-01 12:52] sadortun commented on #281
If it' scan issue with PSM, yes, but not if it's a problem with your ISP

Please provide more details

[2016-05-01 12:57] sadortun commented on #168
NotifyMe integration is a great idea! Anybody would be interested in contributing the feature?

[2016-05-01 12:59] sadortun commented on #141
@raggoo  if you are interested in developing a custom SMS provider you can fork the project, and contribute the feature, or write a gist/wiki

[2016-05-01 13:01] #141 closed

[2016-05-01 13:05] sadortun commented on #93
If you are still interested in this idea, please submit a PR. Thanks!

[2016-05-01 13:05] #93 closed

[2016-05-01 21:12] FrozenBeard commented on #242
Alright, I know PHP, you may laugh at my terrible PHP though. can you link me to where notifications are sent?

[2016-05-02 01:13] DeviantEng commented on #240
I do still have the issue, and gave up on using it behind my reverse proxy (and instead just use it locally).  I'd still like to get it working with my reverse proxy, if possible, though.

[2016-05-02 01:43] sadortun commented on #242
Hehe ! If you know you are terrible in PHP, you should probably try to find someone interested in implementing this feature on your behalf :)

[2016-05-02 02:20] nurhambali commented on #281
![screenshot from 2016-05-02 09-05-47](https://cloud.githubusercontent.com/assets/18512905/14946053/a6acf32a-1046-11e6-8e58-b98b3ed5a6b2.png)
above is to see his error , and as for configuration:

![screenshot from 2016-05-02 09-18-56](https://cloud.githubusercontent.com/assets/18512905/14946085/18067fc8-1047-11e6-9669-bf3cad8b7058.png)

[2016-05-02 04:27] bpvarsity commented on #281
That's a firewall issue on the server. Not a script issue

On Sun, May 1, 2016, 9:20 PM nurhambali <notifications@github.com> wrote:

[2016-05-02 05:41] nurhambali commented on #281
firewall on my server disabled,

[2016-05-02 05:43] bpvarsity commented on #281
Try using the free sendgrid service. Much better then the Google smtp

On Mon, May 2, 2016, 12:41 AM nurhambali <notifications@github.com> wrote:

[2016-05-02 05:49] nurhambali commented on #281
What might I use google smtp is problem

[2016-05-02 05:50] bpvarsity commented on #281
Sendgrid.com they are a free version and it works great

On Mon, May 2, 2016, 12:49 AM nurhambali <notifications@github.com> wrote:

[2016-05-02 05:54] nurhambali commented on #281
besides sendgrid does anyone else?

[2016-05-02 10:08] kippg commented on #168
I tried to load their page and only got a white empty page :(

If that is something like IFTTT.com?

From: sadortun [mailto:notifications@github.com]
Sent: Sunday, May 1, 2016 7:58 AM
To: phpservermon/phpservermon <phpservermon@noreply.github.com>
Subject: [Spam:1.3] Re: [phpservermon/phpservermon] Pushbullet Integration (NotifyMe) (#168)

NotifyMe integration is a great idea! Anybody would be int

[2016-05-02 10:29] FrozenBeard commented on #242
haha, well the Pushbullet api is extremely simple and they even offer php examples.
I did come across this today as another alternative that does not have limits: https://github.com/ontopapp/ontop-push

[2016-05-02 11:37] sadortun commented on #281
You can gave à lock at mailgun

[2016-05-02 11:56] sadortun commented on #240
This is not a issue with PSM. You should if cookies are set correctly by your reverse proxy. Please have a look at:
http://stackoverflow.com/questions/21575725/wordpress-behind-reverse-proxy-session-cookies-not-set-in-safarie-ie

[2016-05-02 11:56] #240 closed

[2016-05-02 16:39] foshdafosh commented on #212
I use phpservermon to monitor a lot of low priority equipment as well as high.
So it would be useful to be able to set a priority for each server ideally.

[2016-05-02 19:03] CodeBrauer commented on #242
@FrozenBeard - I think this would fit perfect: https://github.com/notifymehq/notifyme

The API is simple and it covers the most services.

[2016-05-02 19:27] sadortun commented on #242
@CodeBrauer @FrozenBeard  Yes, this issue was closed in favor of #168 NotifyMe integration since the API already wrap multiple providers. Please continue the discussion on the #168 in order to have the other people who are interested in this topic notified of the discussion.

Thanks!

[2016-05-02 20:10] valessiobrito commented on #208
If supported to embed a graph in a public page without authentication, could customize the dashboard creation / monitoring pages.

It is the ability to get a public URL (token) to generate a display monitor.

[2016-05-02 20:11] valessiobrito commented on #255
Support Rocket.Chat (chat/notify) and Kanboard (tasks) it's cool and open source.

[2016-05-02 20:21] sadortun commented on #208
Ok Thanks, I am closing this issue in favor of #51  The Public page status should also met your needs.

[2016-05-02 20:21] #208 closed

[2016-05-03 18:46] nurhambali commented on #281
if I use the mail server itself and the local beada on whether there will be no error?

[2016-05-03 21:50] sadortun commented on #281
I am sorry but i dont understand your question.

[2016-05-04 08:11] nurhambali commented on #281
What if I use a local mail server?

[2016-05-04 11:47] satyan01 opened #282 "impossible to install"
Hello,

I have tried to install the github version but is impossible

[2016-05-04 11:56] tbonnarens commented on #281
Are you using windows or linux on your server?
Try verifying your connection to the smtp server via telnet, check your php settings, logs, etc...
Local mail works just fine for me but php's mail implementation on windows requires more configuration.

[2016-05-05 08:40] nurhambali commented on #281
I use the server windwos.
for smtp connections using telnet connection is stable.

[2016-05-06 13:58] diego-vieira commented on #282
@satyan01 more details about your environment and what issues you get would be nice.

[2016-05-10 19:49] DeviantEng commented on #240
I don't think it's a cookie issue, though I have gotten closer since I've revisited this today.

Here is my current Nginx proxy config:
server  {
  listen  443 ssl;
  server_name  mon.domain.com;
  ssl  on;
  location  / {
    proxy_pass  http://172.16.1.122:8083/;
    proxy_set_header  Host $host;
    proxy_redirect  http://mon.domain.com https://mon.domain;
  }
}

I didn't realize until now that

[2016-05-11 01:27] sjkeerthi opened #283 "phpservermon will support https"
Hi

Just before I set up want to know will this support the https sites. Some site might configured to https redirect will this works.

[2016-05-13 14:51] Laupe opened #284 "I would like to become a developer"
Hello,
Your project is very interested in me and I'd like to further develop and contribute to further development.

Please contact me and I will agree.

Thanks

[2016-05-13 21:39] Laupe commented on #269
complemented

[2016-05-14 05:52] Laupe opened #286 "Popular Ports"
Hello,
it would be good to be able to choose from the port of "popular ports" see. screenshot. To me it's the transparent and the customer will be able to choose from the usual ports.

Can I adjust listening to PR if approved.

![port](https://cloud.githubusercontent.com/assets/1008242/15266525/c55faa18-19a8-11e6-9d48-b4414401fa5b.png)

[2016-05-14 06:10] #284 closed

[2016-05-14 06:38] Laupe commented on #102
What is the status of this regulation? Also, would it suited me.

[2016-05-15 08:00] Laupe commented on #212
@arejay73 @foshdafosh

I suggest this way. If this is your idea that I can prepare for PR

Server Settings:
![monitor-server](https://cloud.githubusercontent.com/assets/1008242/15272749/c22353fa-1a83-11e6-9550-54abffa5bf08.png)

Global setting defaults:
![monitor-config](https://cloud.githubusercontent.com/assets/1008242/15272750/c6995ef2-1a83-11e6-8c27-9836f8ccce75.png)

From the list, select the

[2016-05-15 08:18] #271 closed

[2016-05-15 08:18] #254 closed

[2016-05-15 08:18] #227 closed

[2016-05-15 08:37] sadortun commented on #286
Sounds Good !  We are waiting for your PR !

[2016-05-15 08:40] sadortun commented on #283
Yes, i dont see why HTTPS would not work. Redirects should work as well ( https://github.com/phpservermon/phpservermon/blob/a30dcf5610938dd96d20efe7cf0d2ee2bd74ad12/src/includes/functions.inc.php#L280 )

[2016-05-15 08:40] #283 closed

[2016-05-15 08:46] #187 closed

[2016-05-15 08:46] #154 closed

[2016-05-15 08:46] #273 closed

[2016-05-15 08:47] #200 closed

[2016-05-15 08:48] sadortun commented on #96
Hi @Laupe Would you be willing to propose a PR for this ?

[2016-05-15 08:49] sadortun commented on #281
I am closing this issue since it's related to SMTP configuration of ISP issue.

[2016-05-15 08:49] #281 closed

[2016-05-15 08:57] #224 closed

[2016-05-15 08:57] #248 closed

[2016-05-15 08:57] #251 closed

[2016-05-15 08:58] #257 closed

[2016-05-15 08:58] #261 closed

[2016-05-15 09:00] #268 closed

[2016-05-15 09:03] sadortun commented on #259
It should work. Have you solved your issue ?

[2016-05-15 09:04] sadortun commented on #212
It would be great ! @Laupe I'll be waiting your PR

[2016-05-15 09:10] Laupe commented on #96
Hi @sadortun Great idea! OK prepare PR

[2016-05-15 09:11] Laupe commented on #212
@sadortun OK prepare PR

[2016-05-15 09:20] Laupe commented on #269
@sadortun pls close issue ;)

[2016-05-15 09:20] #269 closed

[2016-05-15 11:48] Abawell commented on #215
I dont really understand why you need that. You have the Update button that does the same thing.

[2016-05-15 11:58] foshdafosh commented on #212
Perfect, thanks very much!

[2016-05-15 12:51] sadortun commented on #215
To be Able to run "http cron" on share hosting servers

[2016-05-15 17:12] Laupe opened #287 "Default language - English"
If there is no translation in the language it would be good to have placeholder text from a source language such as English.

I edited it straight. I suppose it's useful.

[2016-05-15 17:14] Laupe commented on #287
- Modified file functions.inc.php - because if you add new language variable so it is necessary to immediately translate all languages or all files added to the English translation of which is very inconvenient and time consuming.

- Function psm_load_lang - loading the default language that I chose English and stored in the $ GLOBALS [ 'sm_lang_default'] for further use.

- Function psm_get_lang

[2016-05-15 17:59] Laupe commented on #217
@sadortun duplicite #212

[2016-05-15 18:12] sadortun commented on #217
Not exactly a duplicate, Pushover have a specific parameter for `sound` see https://pushover.net/api#sounds

I Guess we could add a select field in the config page.

[2016-05-15 18:13] Laupe commented on #217
Yes, and I in this issue will add a new priority sound. Look closely at my screens;)

[2016-05-15 20:53] sadortun commented on #217
Ok Great !

[2016-05-15 20:53] #217 closed

[2016-05-16 06:52] r3m4k3 commented on #248
Hi,
I have installed phpservermon on server A, but I want to monitor pages on server B.
And the question was - how is that possible?

[2016-05-16 10:06] sadortun commented on #248
Simply add new servers in the settings page to m,omit or your various servers/services

[2016-05-16 10:08] r3m4k3 commented on #248
It doesn't work.
I will describe the problem later.

[2016-05-16 11:53] bastians commented on #197
+1

[2016-05-16 11:54] bastians commented on #260
Can anyone help me with the PR?

[2016-05-16 18:48] nurhambali commented on #286
How if the ping icmp added also ?

[2016-05-16 18:56] sadortun commented on #286
ICMP is not done over TCP, therefore it can not be added here.

[2016-05-17 08:20] MatejKovacic commented on #102
ICMP check is working for me: https://github.com/phpservermon/phpservermon/issues/35#issuecomment-77356816

However, it would be great if at least this will be implemented in PHPServerMonitor...

[2016-05-17 10:53] feirhuang opened #289 "Not auto update web service last online"
Hi guys

I have issue need help
issue:
already setting cronjob :*/5 * * * * root /usr/bin/php   /var/www/html/phpsrvmon/cron/status.cron.php
but web service status not will update, how to fix the issue?

Thanks All

[2016-05-17 13:52] raggoo commented on #289
Try using "status.cron.php" (without quotes) instead of PHP.

[2016-05-17 16:09] feirhuang commented on #289
you mean run */5 * * * * root  /var/www/html/phpsrvmon/cron/status.cron.php ?

[2016-05-19 03:11] sadortun commented on #286
Merged

[2016-05-19 03:11] #286 closed

[2016-05-19 03:16] sadortun commented on #287
Merged

[2016-05-19 03:16] #287 closed

[2016-05-19 10:43] domagoj-k commented on #289
Same thing on my test server. Stoped working about 12 hours ago.
What I did is I've excluded the following lines from the code:

`//if(!psm_is_cli()) {
//	die('This script can only be run from the command line.');
//}`

After that I just use the regular curl because my directory is protected with password and htaccess so this isn't a big deal:
`/usr/bin/curl http://website.com/uptime/cron/status.c

[2016-05-19 21:09] sadortun commented on #155
Will be implemented in #102

[2016-05-19 21:09] #155 closed

[2016-05-19 21:10] sadortun commented on #137
#197

[2016-05-19 21:10] #137 closed

[2016-05-19 21:11] sadortun commented on #136
#197

[2016-05-19 21:11] #136 closed

[2016-05-19 21:13] #170 closed

[2016-05-19 21:16] #259 closed

[2016-05-19 21:17] #192 closed

[2016-05-19 21:20] sadortun commented on #35
PR in progress #102

[2016-05-19 21:20] #35 closed

[2016-05-19 21:23] sadortun commented on #114
In the History table you have the `check_total` and `check_failed` fields, Why dont we use these  two fields to calculate the weekly historical uptime ?

[2016-05-19 21:24] sadortun commented on #249
#176

[2016-05-19 21:24] #249 closed

[2016-05-19 21:25] sadortun commented on #178
@joubertredrat do you have an update on this ?

[2016-05-19 22:17] #159 closed

[2016-05-19 22:25] sadortun commented on #220
Already fixed in a02ea03399f869c8b6a2b6295439d5c03525bedc

[2016-05-19 22:25] #220 closed

[2016-05-19 23:29] #191 closed

[2016-05-19 23:35] sadortun commented on #272
Without suggestion

![image](https://cloud.githubusercontent.com/assets/794449/15412790/8f0710b0-1df8-11e6-87f5-95db0cda7d80.png)
![image](https://cloud.githubusercontent.com/assets/794449/15412794/94875ca2-1df8-11e6-8831-92cdd9c9c787.png)

With suggestion
![image](https://cloud.githubusercontent.com/assets/794449/15412800/a746ea42-1df8-11e6-9a78-ca4bff2bb47d.png)

![image](https://cloud.githubuse

[2016-05-19 23:42] sadortun commented on #228
Thanks @sfennell  !

![image](https://cloud.githubusercontent.com/assets/794449/15412927/ce6eb798-1df9-11e6-933f-b206f3ddf421.png)

[2016-05-19 23:44] #228 closed

[2016-05-20 06:14] feirhuang commented on #289
Hi guys

I already fixed issue i change to root leave and create cronjob "*/5 * * * * root /usr/bin/php /var/www/html/phpsrvmon/cron/status.cron.php"

I forgot need use root leave run cronjob

Thanks guys help~

[2016-05-21 15:14] Laupe commented on #96
Hi @sadortun It is the PR as https://github.com/phpservermon/phpservermon/pull/296

[2016-05-21 15:17] Laupe commented on #197
Hi @sadortun Please assign me. I'll take this charge and prepare it.

[2016-05-21 20:56] #96 closed

[2016-05-21 21:26] sadortun opened #297 "Use salt to encrypt the website check password"
#296

Since the encrypted password doesn't include a salt. Therefore, if multiple servers use the same password, the resulting encryption will be the same. This should be fixed before we merge this into `master`

[2016-05-21 21:31] Laupe commented on #297
@sadortun So what is your goal? the setting is set one encryption key. So do you want to encrypt the password to use the encryption key + salt? There will modify the user for each server, or it must be SHA1 fingerprint ID server? Please your comments. I edit it.

[2016-05-21 21:37] sadortun commented on #297
Yes,  combining the server ID + Key to encrypt the password.

[code]

[2016-05-21 21:39] Laupe commented on #297
OK for the moment will be done PR

[2016-05-21 21:41] sadortun commented on #297
When the server is initially created, you'll need to insert the server and then re-encrypt using the `server_id`

https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Module/Server/Controller/ServerController.php#L310

[2016-05-21 21:44] #272 closed

[2016-05-22 00:15] sadortun commented on #175
Hi @rjayako Will you submit a PR for this ?

[2016-05-22 00:18] #297 closed

[2016-05-22 00:19] #289 closed

[2016-05-22 02:54] sadortun commented on #260
Duplicate of #175

[2016-05-22 02:54] #260 closed

[2016-05-22 02:57] sadortun commented on #262
Duplicate of #250

[2016-05-22 02:57] #262 closed

[2016-05-22 11:46] Laupe opened #301 "Update composer.json"
In connection with the adjustment https://github.com/phpservermon/phpservermon/issues/212

it is necessary to modify composer.json to package php-pushover/php-pushover

from https://packagist.org/packages/php-pushover/php-pushover

Pls add Milestone https://github.com/phpservermon/phpservermon/milestones/3.2.x

[2016-05-22 16:53] sadortun opened #303 "Feature request : IP Blacklist check"
To be added after #293 is merged

[code]

[2016-05-22 20:48] Laupe commented on #212
Hi @sadortun issues done. Please check and marge.

https://github.com/phpservermon/phpservermon/pull/304

[2016-05-23 21:12] cypris75 opened #305 "Feature request: Traceroute log within email notification to identify network issues"
I am using PSM on a shared hosting plattform to monitor several other servers. When an alert comes in it would be nice to have a traceroute log to the affected server within the notification email to be sure that the alert is not a network issue.

[2016-05-25 15:32] phpfs opened #306 "No eMail on Server down sent"
Hello!

When take my Test-Server offline, ServerMon knows it, but doesn't send me an email.

For testing this, i logged out, took the server offline and waited 5 minutes (cron runs every 2 minutes!). When I then loggend in again, the dashboard shows that my server is online and how log it has been offline/online, but in that whole time, i didn't get one email.

I already sent a test-mail!

Greetin

[2016-05-25 16:57] Laupe commented on #306
Hi @phpfs and you got it in the editing server enabled? Send Email item and the settings must be checked Allow sending email

[2016-05-25 17:43] phpfs commented on #306
Yes, it's all enabled, Pushover doesn't work for me also...

Am I missing something?

Greetings, phpfs

[2016-05-26 05:05] sadortun commented on #306
@phpfs  Does the "Forgot my password" email sent ?

[2016-05-26 06:40] phpfs commented on #306
Yes, the password forgotten Mail works!

Seems to be limited to Update Mails/Pushover...

[2016-05-26 06:41] phpfs commented on #306
Also, i can send test mails/pushovers from the Settings Page!

[2016-05-28 03:26] sadortun commented on #306
@phpfs Have you selected which server you want to receive notifications in your user page ?

![image](https://cloud.githubusercontent.com/assets/794449/15624842/eebd0400-2461-11e6-8919-3a7aafb78388.png)

And selected `Yes` to receive emails
![image](https://cloud.githubusercontent.com/assets/794449/15624853/43c43f22-2462-11e6-9fcf-caaf87086d8a.png)

[2016-05-28 05:17] phpfs commented on #306
Hello!

1. I don't have this setting, Mayer because I am Admin?
2. If you mean the setting on the Server edit Page, yes!

For Installation, I cloned from Github and deleted all unnecessary folders.

Greetings, phpfs

[2016-05-29 11:48] phpfs commented on #306
Hello again!

EDIT:
1. I found this setting finally under "User" and selected all Servers there. Now, i get notified via eMail and Pushover.

Question:
Why isn't it selected as Standard? Do you have documentation where it says that I have to set this Setting?

Nevertheless, i am very happy with how your Tool works, keep your Great work up! :)

Greetings, perryfs

[2016-05-29 15:13] sadortun commented on #306
Great!

[2016-05-29 18:40] phpfs commented on #264
+1

[2016-05-31 21:13] sterrenman opened #312 "Public View"
Can a config option be added to allow viewing all server status without logging in?

[2016-06-01 06:12] bastians commented on #312
+1 - maybe it's possible with the planned API?

[2016-06-02 02:09] sadortun commented on #312
Duplicate of #51

[2016-06-02 02:09] #312 closed

[2016-06-02 02:10] sadortun commented on #312
Hi @sterrenman @bastians Feel free to submit a PR if you have some free time !

[2016-06-02 02:11] sadortun commented on #306
@phpfs  Can you submit a PR and add a few lines in the docs that explain how you solved your issue ?

[2016-06-04 18:47] bpvarsity opened #313 "3.2 compiled zip"
Can you create a new zip for 3.2 for those of us who can't do the manual compiling. http://www.phpservermonitor.org/download/ still has the old 3.1
Thanks

[2016-06-04 22:00] sadortun commented on #313
HI @bpvarsity you can find it under the release tab

https://github.com/phpservermon/phpservermon/releases

[2016-06-04 22:33] bpvarsity commented on #313
That still requires the program to be compiled and dependencies That is just the source and would need to use make and composer.

I need the prebuilt package like 3.1 was done

[2016-06-04 22:44] sadortun commented on #313
You are right. I'll add the dependencies to the release tag

[2016-06-04 23:05] bpvarsity commented on #313
Thanks look forward to it

[2016-06-05 00:52] sadortun commented on #313
Here you go :
https://github.com/phpservermon/phpservermon/releases/tag/v3.2.0-rc1

FYI we will be announcing a free hosted version of PhpServerMonitor soon !

[2016-06-05 00:52] #313 closed

[2016-06-05 09:53] rubenszolt opened #314 "Monitor Cgi-bin folder"
Hi, I need a small help, how it is possible to monitor the next url, it is an openwrt admin interface:
https://router.domain.tld:8443/cgi-bin/luci/

[2016-06-05 14:55] sadortun commented on #282
Closing, since we have no feedback

[2016-06-05 14:55] #282 closed

[2016-06-09 16:43] bastians commented on #255
Maybe something for @Laupe ;)

[2016-06-09 17:44] sadortun commented on #255
@bastians If you are willing to put a little bounty on the table, you might get is attention :) !

[2016-06-10 06:24] bastians commented on #255
He will come to fame ;)

[2016-06-10 14:04] gavrochelegnou commented on #264
+1
It would be great for those rules to be configurable and that the same rules could be applied to all (or multiple) websites, so that we could globally search for "parse errors" or classic php error messages and so forth.

There are multiple tests that could be added to check for a website "health", for example detecting a redirect to another domain is usually a bad sign. That could be done by c

[2016-06-10 14:08] phpfs commented on #264
@sadortun In which version will it be available?

Thank you for your great work, keep it up :)

[2016-06-10 14:10] sadortun commented on #264
@phpfs @gavrochelegnou It a good idea, and a easy one to implement, if you are willing to contribute a PR, this can be included in the next release.

[2016-06-10 14:19] gavrochelegnou commented on #264
I could quickly add the "redirect test" inside the StatusUpdater/updateWebsite method, but maybe this check should be optional via a checkbox ?
In this case it may be more tricky for me to implement it from install/update the sql structure to form etc ...

[2016-06-10 15:52] andporter opened #315 "Feature Request: Not store SMTP password in plain text"
The 'email_smtp_password' is stored as plain text in the 'config' table... Just putting in a request to have that encrypted/hashed.

Thanks for a great app!

[2016-06-10 16:51] sadortun commented on #315
Indeed, it should be encrypted.

[2016-06-13 14:02] ZaDarkSide opened #316 "Feature request: Implement server grouping"
Right now all the servers are listed, it should be useful to group them somehow.

[2016-06-13 14:03] ZaDarkSide commented on #215
:+1:

[2016-06-13 18:42] bchoi414 commented on #316
This is exactly what I'm looking for! PHP Server Monitoring is already an amazing tool - please make it perfect :)

[2016-06-13 18:45] sadortun commented on #316
Please have a look at the existing issues before posting duplicates

[2016-06-13 18:45] #316 closed

[2016-06-13 18:45] sadortun commented on #316
#176

[2016-06-13 18:57] bchoi414 commented on #176
+1

[2016-06-13 21:02] ZaDarkSide commented on #176
:+1:

[2016-06-14 11:22] joubertredrat opened #317 "Possible bug - Cron is already running. Exiting."
Hi guys,

I'm receiving a lot of this messages on my e-mail, "Cron is already running. Exiting.". On my crontab, status.cron.php is running every 5 minutes as in documentation.

The problem is, in my environment display that status.cron.php is running, but if I inspect this on top or ps, don't have status.cron.php running.

What you think? Thanks.

[2016-06-14 13:36] sadortun commented on #317
Do you have a cron log ? I would say that the corn task probably died before it had time to complete.
Do you get your services/website status updated?

Fyi, The default timeout is 10 minutes,

[2016-06-14 13:51] joubertredrat commented on #317
Hi @sadortun

On my cronlog, display only that cmd was executed, as below:
[code]

My website is updated, but irregularly, my cron is every 5 minutes, but have 30, 15, 50 minutes between one and other point on Latency as example.

I don't know if status.cron.php have output text, but I changed my cron to write result from command on logfile to I verify and post here.

About 10 minute timeout, is a

[2016-06-14 13:54] joubertredrat commented on #317
Ah, isn't all time that I received e-mail with "Cron is already running. Exiting.", is intermittent. Today as example is 7 and counting, tomorow was run normally, on Sunday I received 32 e-mails.

[2016-06-14 14:22] sadortun commented on #317
Hello @joubertredrat  if PSM_CRON_TIMEOUT` have not yet expired, it will display the warning, otherwise, if the timeout have been reach `> 10 minutes`  nothing will be displayed, and it will run again.

https://github.com/phpservermon/phpservermon/blob/develop/cron/status.cron.php#L64

You can try to modify the bottom and add `error_log` logging of your `status.cron.php` for

[code]

[2016-06-15 07:01] Saken1990 opened #318 "No warning treshold for service monitor."
Just updated the 3.1 version up to 3.2 from git, but this feature has dissapeared. Is this new in the new version or a bug?

[2016-06-15 09:36] Saken1990 commented on #318
The option to setup warning treshold is available when setting up website monitor. Its not available when setting up a service monitor.

[2016-06-16 03:41] sadortun commented on #318
Hi @Laupe  Seems this bug was introduced in PR https://github.com/phpservermon/phpservermon/commit/340660da4bcceaaf0c312d79aeab0b74feef2436

Was this intentional ?

[2016-06-16 18:44] joubertredrat opened #319 "Feature suggestion: option to ignore service/website"
Hi guys,

I think that is good idea to have option to ignore service/website to verifying. Lets to example :)

You have one site and you need to change DNS entries, between one day this site will down, then, Will not cool phpservermon check this site if you know that is offline, then you can set this site to ignore and when you finish your maintenance, you can remove ignore.

What you think guys?

[2016-06-16 20:45] Laupe commented on #318
Hi @sadortun @Saken1990

I'm sorry, but I do not understand what is missing? I definitely do not delete anything intentionally, and it will be a mistake. I like to fix it, but please specify - for example screenshot.

Thank you

[2016-06-16 20:54] sadortun commented on #318
Hi @Laupe

If you check out ` src/templates/default/module/server/server/update.tpl.html `   you added class `typeWebsite` on `warning_threshold`   input row which hides it when editing a service.

If it was by mistake, I'll submit a PR to fix this issue soon.

[2016-06-16 21:28] Laupe commented on #318
@sadortun There has to be a JavaScript that then appears. Items in update.tpl.html displayed by type. I'll fix it ASAP.

[2016-06-16 21:42] Laupe commented on #318
@sadortun  I found out that the next commit, I fixed it.

https://github.com/Laupe/phpservermon/commit/d3489cfdaf45f7ff7f213b59c5bfbd16d026449a#diff-1a35383e34ef1ece812d28464511a222R54

I made a branch from develop version and thus try to go through the entire process of adding and editing server and all the possibilities that it's okay.

@Saken1990 Alternatively, please, for more info.

[2016-06-16 21:57] baptcottey opened #320 "php_network_getaddresses: getaddrinfo failed: Name or service not known"
Hi,

We've installed phpservmon on our server, and we get php_network_getaddresses: getaddrinfo failed: Name or service not known error on all our domains.
We added it directly into database. If we edit them, monitor is working.

We insert this inside psm_servers :

[code]

Do you have any idea ?

[2016-06-16 22:50] sadortun commented on #319
Good idea, If you are willing to submit a PR, we can add the feature in the next release.

[2016-06-16 22:57] Laupe commented on #318
Hi @sadortun done.. pls marge ;)

[2016-06-16 22:58] #318 closed

[2016-06-16 22:58] sadortun commented on #318
Thanks!

[2016-06-17 14:56] Saken1990 commented on #318
@sadortun @Laupe, Thanks guys, wonderfull.

[2016-06-18 12:59] Creeperman007 opened #322 "Auto-refresh"
I have set auto-refresh for 900 seconds (15 minutes) but it's not refreshing.

[2016-06-18 13:59] depositado opened #323 "field length 'ip' 100 not long enough"
Can you please the default field length of the `prefix_servers.ip` field of checks to 255?
I had to make changes in both MySQL and the `/src/templates/default/module/server/server/update.tpl.html` file in order to able to add a relatively long URL.

[2016-06-18 15:11] sadortun commented on #323
Thia sèmes like a good idéal!

[2016-06-18 21:30] sadortun commented on #322
What browser ?
On which page ?

[2016-06-18 21:31] Creeperman007 commented on #322
Chrome on http://serverstatus.creeperman007.tk

[2016-06-18 21:32] sadortun commented on #322
On the Index page,  `View Sources` and verify that  you have the following line

[code]

[2016-06-18 21:32] Creeperman007 commented on #322
Yep i have it

[2016-06-18 21:35] sadortun commented on #322
Test again with a lower value like `5 seconds` I've just tested it again and it working under Chrome

[2016-06-18 21:38] Creeperman007 commented on #322
Now it works

[2016-06-18 21:38] sadortun commented on #322
Perferc!

Have a good day!

[2016-06-18 21:38] #322 closed

[2016-06-21 12:28] joubertredrat commented on #319
Hi @sadortun

I'm looking here on code and have a similar function, named "monitoring", but on my idea, on view is different. If you disable monitoring, is display 'ignore' on servers list and servers status, as example below.

![screenshot-uptime vectornet etc br 2016-06-21 09-18-59](https://cloud.githubusercontent.com/assets/1520407/16229286/59a7346e-3792-11e6-9ba2-e902f3d4d34f.png)
![screenshot

[2016-06-21 14:39] hicham7575 opened #324 "Monitor a website that require authentification"
Hello,

I have to monitor a website that pops up an authentification box, it doestn't work with pattern because i have a blank page

[2016-06-21 16:31] sadortun commented on #319
Hi @joubertredrat Sounds good!

@dopeh What do you think about this ? Is it what you had in mind by Monitoring ?

[2016-06-21 16:33] sadortun commented on #324
Hi @hicham7575  This seems like a duplicate of #96

What authentification are you talking about ?
Have you tried the last release of the `develop` ?

[2016-06-25 05:24] sadortun commented on #323
@depositado  What version are you using ?

[2016-06-29 02:58] #129 closed

[2016-06-30 09:13] quatrecentquatrenews opened #325 "Add Freemobile to sms notification"
Can you add the freemobile support to notification sms ?

[2016-07-01 05:56] SephLeague opened #326 "What is used to check services?"
Hi

What do you use to check a service? Fsockopen? I tried using Fsockopen to monitor one of my servers but it gets blocked after a few attempts by the ddos protection yet this script somehow does not.

I have tried looking through the source but there are too many files.

Thank you

[2016-07-01 06:15] sadortun commented on #326
Have you try the **Search** function on the system you use ?

https://github.com/phpservermon/phpservermon/search?utf8=%E2%9C%93&q=Fsockopen

[2016-07-01 06:22] SephLeague commented on #326
Thank you.

[2016-07-01 06:22] #326 closed

[2016-07-03 21:53] Meiszner opened #327 "Problem with monitoring meißner.click"
I tried to monitor http://www.meißner.click/ (or https://www.meißner.click/) but PHP Server Monitor says 'The website URL is not valid.'

[2016-07-03 21:54] sadortun commented on #327
Indeed. the domain doesnt seems to exists ....

![image](https://cloud.githubusercontent.com/assets/794449/16547805/35d4a472-4147-11e6-8f08-8441330957cf.png)

[2016-07-03 21:56] Meiszner commented on #327
I registered the domain some hours ago and I got the info from the registrar that it needs some days to finish the order. Will PHP Server Monitor accept the URL when the registration is finished?

[2016-07-03 22:00] sadortun commented on #327
We use PHP `filter_var()` to check the URL. If it's a valid URL it should work. Otherwise i suggest that you update your PHP version

http://php.net/manual/en/function.filter-var.php

[2016-07-03 22:01] #327 closed

[2016-07-04 00:29] markdza opened #328 "Add Twilio to SMS gateway"
Their pricing is pretty cheap compared to some of the other SMS gateways:

https://www.twilio.com/sms/pricing

Consider adding them to the code.

[2016-07-04 00:35] sadortun commented on #328
Please look for duplicate before submiting issues. #112

[2016-07-04 00:35] #328 closed

[2016-07-04 09:01] UdoKifferbrehl commented on #102
+1

[2016-07-07 21:37] joubertredrat commented on #178
@sadortun I'm back, I will return to this issue

[2016-07-07 22:07] sadortun commented on #178
Great to hear that !

[2016-07-08 03:24] diginet-md commented on #178
См последние сообщения по теме php server monitor.
8 июля 2016 г. 12:37 AM пользователь "Joubert RedRat" <
notifications@github.com> написал:

[2016-07-09 19:12] sense-design commented on #176
+1

[2016-07-09 19:15] sense-design opened #333 "Feature Request: Add Search to server overview page"
A search on the server overview page would be nice to filter the list.

[2016-07-10 04:07] sadortun commented on #176
Hi @sense-design Would you be interested in developing this feature

FYI your website gives a 404.

[2016-07-10 22:18] tiagocoelho2 opened #334 "RDP monitoring and PING protocol"
I wish it were added to monitoring option of RDP and PING protocols would be very useful.

[2016-07-15 16:47] joubertredrat commented on #333
+1

[2016-07-15 16:53] joubertredrat commented on #317
Hi @sadortun

Cron status is defined on database and I think that isn't good idea, because you run script and add status 1 to cron on database, but is script crash without finish, status will continue 1 then will not run again.

My proposal is change this to run php file as a daemon or by cli similar to this example
[code]

What you think?

[2016-07-18 18:45] joubertredrat commented on #319
ping @sadortun @dopeh

[2016-07-29 22:11] Haringstad opened #335 "composer.phar error"
Trying to install on a Raspberry Pi, Ubuntu Mate 16.04 TLS:

PHP Fatal error:  Uncaught PharException: phar "/home/jko/Downloads/pipo/phpservermon-3.2.0-rc1/composer.phar" SHA1 signature could not be verified: broken signature in /home/jko/Downloads/pipo/phpservermon-3.2.0-rc1/composer.phar:23
Stack trace:
#0 /home/jko/Downloads/pipo/phpservermon-3.2.0-rc1/composer.phar(23): Phar::mapPhar('compose

[2016-07-29 22:16] sadortun commented on #335
Hi @Haringstad  Did you use  master of develop ?   In the past, there were an issue with the `composer.phasr` in the repository.  you can download it seperatly if you still have the issue on `develop`

[2016-08-10 10:41] xcafebabe commented on #335
Same issue here, tested with `develop` branch.

[2016-08-11 16:07] criwe opened #338 "Define theme in config file"
Hi all!
I´ve got two questions:

1.) Is there anything to care about when update to the newst version? I've just tried ist, but I've got a white screen. Before I dig deeper, I want to ask....

2.) Is there an update-save way to make some layout changes?

Thx!
Best,
Chris

[2016-08-11 16:52] sadortun commented on #338
Hi @criwe

1.
You will have to enable debuging and investigate the errors.

2.
You can commit your changes to a branch in Git, and then pull the appropriate tag from github and merge your changes.

@++
Samuel

[2016-08-11 16:54] sadortun commented on #335
I'll try to have a look. Composer.phar should probably not be in the repository anyway. You can download your own copy.

If replacing the composer.phar solve the issue, you can submit a PR for `develop` and `master` i'll merge it.

[2016-08-12 08:13] criwe commented on #338
Hi Samuel, thx for the fast reply!
-> 1.) I´ve tried to set up a new installation, uploaded the files, the call the install.php. I says somthing about "vendor files missing". So I´ve uploaded the old vendor-folder. Now white screen, display_errors on doesnt had any effect... when i have some more time, I will dig into.

-> 2.) I want to make some individual styling things (i.e. colors from my CI).

[2016-08-12 09:39] xcafebabe commented on #335
thanks Samuel, I've downloaded bundle package and it works smoothly :+1:

[2016-08-12 13:57] sadortun commented on #338
1.
That would explain! Go in github release, and use  phpservermon_v3.2.0-rc1_with_dependencies.zip this will include the latest release, that include the appropriate `vendor` folder. Or install the dependencies using Composer.

2. Sounds like a good idea. If you want you can submit  PR

[2016-08-14 15:20] Haringstad commented on #335
Ok, fault was on me. I had it installed on my Pi, together with PiHole. After fiddling around, I got the main package working. But still, had the error on both develop and master. The package from the main site, now works flawless!

[2016-08-14 18:47] nixis commented on #335
Same issue here, deleted composer.phar and installed it from composer website -> now it's running.

[2016-08-15 13:06] nixis commented on #215
Hi,
my workaround:

Create a file execute.php (or something else) in the cron folder:
`nano execute.php`

and fill it with:
[code]
now execute

`http://yourdomain/cron/execute.php`

[2016-08-16 23:15] Aestu commented on #335
Created PR #339 for develop branch

[2016-08-16 23:19] Aestu commented on #335
Created PR #340 for master branch

[2016-08-21 14:18] sadortun commented on #335
Thanks!

[2016-08-21 14:18] #335 closed

[2016-08-22 15:37] viharm commented on #206
I have written a php LDAP authentication library for general use - [phpLDAPauth](https://bitbucket.org/viharm/phpldapauth) Will this help?

[2016-08-23 02:34] sadortun commented on #206
That would be GREAT!  Do you think you can submit a PR that integrate your library?

[2016-08-23 21:13] viharm commented on #206
Sure, I can try. Please point me to the login mechanism in your code so I can get a accelerated start.

[2016-09-01 13:17] Yelles opened #347 "Server Page resend previous POST data (browser go back)"
Hi,

If i add a server to monitor, go to another tab and go back with browser button, a duplicate server is added.

(I have a warning if I refresh the server page, but not if I go back to the server page, the server is automatically duplicated).

A Post + Redirect to self (after processing the data) will avoid that i think.

Regards

[2016-09-02 14:17] ChristianLJ opened #349 "SMS Encoding"
I have a problem with the SMS encoding. The K??RER should be KØRER.

![screenshot_20160902-161256](https://cloud.githubusercontent.com/assets/3056379/18206763/6de72ae0-7128-11e6-930f-b148349b2f78.png)

[2016-09-02 14:19] sadortun commented on #349
I am not sure if SMS are sent using a specific charset.

1) What provider do you use ?
2) What is your charset (you expect) ?

Thanks,
Sam

[2016-09-02 14:28] ChristianLJ commented on #349
I just checked my providers API documentation (CpSMS) and it was possible to set an UTF8 flag to true. This seems to do the trick. Thank you.

[2016-09-02 14:28] #349 closed

[2016-09-02 14:34] ChristianLJ opened #350 "Email encoding"
When receiving an email with danish content there's a problem with the encoding:

[code]

The kÃ¸rer should be kører. UTF8 would do the trick.

Thanks,
Christian

[2016-09-08 12:15] siparker commented on #317
had this issue when i ahd the default gmail monitor left installed. i assume it fails for some reason or another and blocks the cron from finishing
try removing everything and adding one you know to work correctly

[2016-09-09 17:26] robertzajda commented on #350
Hi,

This patch fixes the problem:
[code]

Robert

[2016-09-09 17:56] robertzajda commented on #184
+1

[2016-09-11 21:43] Dima4ka commented on #51
+1

What is the current status of this feature (feature request)?

Thanks.

[2016-09-12 07:35] gigatoon opened #354 "why graph not working?"
![graph](https://cloud.githubusercontent.com/assets/22144112/18428033/d249ef0c-78f5-11e6-8332-5fa2cdea65b3.png)
My PSM is Running 1 month ago.
in DB has data of uptime. But is not ploting graphs.

[2016-09-12 07:36] Dima4ka commented on #354
Same for me

[2016-09-12 14:58] Jonchun commented on #215
If the purpose of this was to run a cron over http on shared hosting servers, this wouldn't help because 99% of shared hosting servers will have exec() disabled, and if it doesn't, you have bigger problems...

[2016-09-12 14:59] Jonchun commented on #150
Can confirm this bug.

[2016-09-12 15:02] nixis commented on #215
@Jonchun If exec() is enabled it will work, my shared host provider has exec() enabled...

[2016-09-13 08:57] gigatoon commented on #354
Now, I get it.
resolve by update php. before its 5.3.7 and then up to 5.4.9 last version is support apache 2.2

[2016-09-13 23:07] mjbrancato opened #356 "Zend OPcache Issue"
I am getting an error when trying to run my cron job from the command line: Zend OPcache requires Zend Engine API version 220121212.
The Zend Engine API version 220131226 which is installed, is newer.
Contact Zend Technologies at http://www.zend.com/ for a later version of Zend OPcache.

I have rebuilt my EasyApache and I am running PHP 5.6.

[2016-09-17 19:50] designarti opened #357 "Sort by category"
Sorting by category/tag might be useful for people watching a long list of websites. If labels are used to name the website to monitor, then category or tag might be the case.

[2016-09-20 11:43] pieter-groeneweg commented on #215
#358 may very well be what you are looking for.

[2016-09-20 12:33] pieter-groeneweg commented on #150
That's expected behavior as far as I know.

The "history" graph is showing the days with one or more failures. As a failure has an "infinite latency" it cannot calculate a max, min and avg latency. Therefore the whole day is barred red.
Also a 20 minute drop would not be noticeable in a year's graph...

@bbarb's issue is more likely solved with #319 as that would be more proper procedure. Pause mo

[2016-09-20 13:00] pieter-groeneweg commented on #97
In order not to run into any risk tempering with current functionality, I'd suggest a jQuery solution?

[2016-09-20 13:32] sadortun commented on #97
@pieter-groeneweg please explain.

[2016-09-20 13:38] #354 closed

[2016-09-20 13:39] sadortun commented on #357
#176 #234

[2016-09-20 13:39] #357 closed

[2016-09-20 13:40] sadortun commented on #356
Make sure you are using the same PHP executable as your Web server

[2016-09-20 14:02] pieter-groeneweg opened #359 "question not a reall issue: concurrent checks."
Here I am, the noob.

Is psm checking services/sites one by one? (this would explain the times such as 09:01:21)
And/Or are there any concurrent checks running?

If so, how many at a time? Can I set this somewhere?

[2016-09-20 14:54] pieter-groeneweg commented on #97
simple have jQuery check in field type if it is a site or service. based on that enable/disable (or hide/unhide) port field....

[2016-09-21 14:34] mjbrancato commented on #356
Not sure I follow? I am using PHP 5.6 provided with my cPanel.

[2016-09-22 23:16] sadortun commented on #359
Servers are check one by one.

[2016-09-22 23:16] #359 closed

[2016-09-23 08:58] pieter-groeneweg commented on #359
Mmmmh... ok so in a worst case scenario, checking 20 sites with a default timeout of 10 seconds takes 200 seconds (3 minutes and 20 seconds)?

[2016-09-23 14:55] sadortun commented on #359
Yes, but if your cron is scheduled every minute, all your checks will be done once per minute. As you said, the last check in a cron execution will be 3m20s later.

If all your sites takes 10 seconds to respond, you have a more important issue to solve than that :) :)

[2016-09-23 17:12] pieter-groeneweg commented on #359
Agreed :) it was just to clarify how a job is processed. But certainly it is important knowledge for those who want to calculate how many sites they can test within any given interval they set in the cron jobs.

[2016-10-03 11:04] pboethig commented on #356
What abount an Health or Integriytycheck to compare webserver and cli version of PHP?

[2016-10-03 12:15] pieter-groeneweg commented on #356
@mjbrancato
Still your server can have more PHP versions available. Some explanation:
Depending on the user that runs the cron job it may use another version
Even depending on the folder it may use another version.
ie. I have a server that ages ago was setup with PHP5.3. which therefore ended up being the default.
Now later on I added PHP5.6 and PHP7.0 as extra available versions. I also had an is

[2016-10-04 15:15] AaronHolbrook commented on #197
Any update on this?

[2016-10-04 15:17] BristolITDave commented on #197
I currently read the database using a PHP script to get around the lack of API, however I am still eagerly watching this waiting for an API 👍

[2016-10-04 15:18] AaronHolbrook commented on #197
@BristolITDave mind sharing that script? :P

[2016-10-05 07:36] BristolITDave commented on #197
http://pastebin.com/aXcf4Fr4 - I dump out the database to a JSON formatted PHP output - and then read that using JS/Ajax

[2016-10-10 09:00] ChristianLJ commented on #350
@robertzajda that did the trick. Thank you.

[2016-10-10 16:00] sadortun commented on #350
@robertzajda Can you submit a PR ?

[2016-10-14 15:58] thatrez opened #366 "False Alerts"
My monitor keeps sending out alert emails but the services are fine when I check them using the included link to the webpages they are monitoring in the email. Is there a way to alter the program not the throw an alert if a box is down unless it checks a few more times first?

[2016-10-14 17:06] sadortun commented on #366
Have you tried to increase the timeout ?

[2016-10-14 17:26] thatrez commented on #366
how do you do that?

[2016-10-14 17:50] thatrez commented on #366
I figured out how to adjust the settings, thank you for the reply.

[2016-10-14 17:50] #366 closed

[2016-10-14 17:52] Abawell commented on #366
Click on menu Servers. Click on the edit button of the server you want to edit and change the timeout value.
You can change the Warning threshold too. It's the number of fails required before the server is marked offline.

[2016-10-14 19:15] pieter-groeneweg commented on #366
This is not entirely true. Take a look at /src/psm/Util/Server/Updater/StatusUpdater.php line 76

It says it attempt twice (2 times) before it decides it is a fail. (see the comments above that line)
One thing you could do (if you have access to it of course) is check the access logs of the website probed and check for monitor hits with status 200 at almost the same time... I am sure you do have s

[2016-10-17 20:46] amelhorn opened #367 "Issue with CSRF key on ajax call of saveLayout"
On the latest develop branch of 3.2.0 I am getting an "unauthorized" (from the custom 401) response on the ajax call made when switching between flow and list layouts on the Status page. Thus it does not save my current page when the auto-refresh happens (always switching back to flow).

I traced it back, and as far as I can tell there is no CSRF key set in StatusController.php (as there are in th

[2016-10-17 20:48] sadortun commented on #367
@vus520 Any ideas ?

[2016-10-18 01:43] gustavomacedo opened #368 "Disable user login system"
Hi all. First of all, tks for this amazing tool! it's awesome :)

So, I need to disable the user login system in order to keep the tool open.
I tried to do some changes on "\src\psm\Service\User.class.php" file, but didn't work.

Anyone can help me?

[2016-10-18 01:46] sadortun commented on #368
You could try to set `PSM_USER_ANONYMOUS = PSM_USER_USER`
https://github.com/phpservermon/phpservermon/blob/68c087025dccc6f69a45e1f088350a22a2cd8d39/src/bootstrap.php#L37

Try at your own risk !

[2016-10-18 01:50] vus520 commented on #367
sorry about not tested CRSF.
I will fix today. ;)

[2016-10-18 03:32] amelhorn commented on #367
Not a problem - thank you!

[2016-10-18 05:54] vus520 commented on #367
I have some progress now.
I tested develop branch and i'm sure the AJAX refresh will send a GET request.

As i know the CSRF check will only require for POST request.
[https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Router.php#L159](url)

I'm not sure i have tested the right way or you have some other code changes.
I would greatly appreciate  you provide some test methods or prov

[2016-10-18 15:53] amelhorn commented on #367
You can test if it is working depending on the response from the AJAX call made when you switch from flow to list layout. If the ajax call returns the correct JSON, and not <h2>Unauthorized</h2>.
In the current develop branch it sends it as POST - https://github.com/phpservermon/phpservermon/blob/develop/static/js/scripts.js#L140

[2016-10-19 03:11] vus520 commented on #367
thanks to @amelhorn I fixed this bug.
Now you can test on my develop branch, I will send a pr if you can pass test.

https://github.com/nutsteam/phpservermon/tree/ajax_auto_refresh

[2016-10-19 03:47] sadortun commented on #367
@vus520 great, feel free to submit a PR when the fix has been tested.

[2016-10-19 17:53] amelhorn commented on #367
@vus520 Yep - just copied your changes to my local and it all worked perfectly; Thank you for fixing!

[2016-10-21 03:47] micschk opened #370 "SMS: Mollie has changed to MessageBird, URL update needed"
Mollie has changed their SMS service and API to api.messagebird.com
They have been redirecting calls to www.mollie.com but will stop doing so from oct 24 2016
Mollie.php needs to be updated with the new API URL

[2016-10-21 14:42] #370 closed

[2016-10-21 14:44] #324 closed

[2016-10-21 17:24] TimesEnemy opened #372 "Broken Default Links"
Greetings.

I am trying this application out.  The Readme instructions were oversimplified.  I had to create the database prior to running install.php.  I also had to manually create the config.php file, though I believe a permission test could have been done prior to install to give me a heads up.  Now for the issue at hand ...

The links by default do not include "index.php" in them, so they all

[2016-10-21 20:35] sadortun commented on #372
This should work as is, you can:

Define :
https://github.com/phpservermon/phpservermon/blob/68c087025dccc6f69a45e1f088350a22a2cd8d39/src/includes/psmconfig.inc.php#L114

You can aslo check that `$_SERVER['SCRIPT_NAME']` is defined correctly

[2016-10-22 18:12] TimesEnemy commented on #372
@sadortun Thanks for the response!

It seems to be resolved after doing the following.

Located `$_SERVER['SCRIPT_NAME']` within the "..\phpservermon-3.1.1\src\includes\functions.inc.php" file.

Modified from:

`$url .= dirname($_SERVER['SCRIPT_NAME']) . '/';`

to:

`$url .= dirname($_SERVER['SCRIPT_NAME']) . '/index.php';`

Links that were missing the index.php seem to now have it as part of the

[2016-10-22 18:13] sadortun commented on #372
You should not add `/index.php` it's the job of the Apache DirectoryIndex to point to the index

[2016-10-25 00:45] #367 closed

[2016-10-25 02:23] bradgillap opened #373 "'psm_goTo' is undefined "Add new" server button"
So when I click add new server button I get this psm_goTo is undefined in the browser.

All of the other links seem to work through out the entire monitor site. I can edit existing items and delete but I cannot create new items.

version 3.1.1

lighttp
mysql
php5

The link I can't seem to get to is this one. It works if I just type the extra &action=edit myself.

http://192.168.1.2/up/index.php?&m

[2016-11-01 14:42] gabriellluz opened #374 "Can't add this .gov server"
Hi there.
I've tried adding www,cadastro.saude.gov.br/cadsusweb with a search pattern and it doesn't work. I've tried many different patterns and none seem to work. I even tried adding http://www.isup.me/cadastro.saude.gov.br and insert a pattern and nothing works. Could you please check what's going on?

[2016-11-01 16:57] sadortun commented on #374
Are you adding a website or a service ?

For Ref, Validation is here https://github.com/phpservermon/phpservermon/blob/68c087025dccc6f69a45e1f088350a22a2cd8d39/src/psm/Util/Server/ServerValidator.php#L90

[2016-11-01 17:24] gabriellluz commented on #374
Hi, I'm adding it as a website.

It's https://cadastro.saude.gov.br/cadsusweb

Maybe this is happening due to the website having a https prefix? I'm running your application on a local system (localhost). Everything works fine, all servers but that one. I even tried adding http://www.isup.me/cadastro.saude.gov.br/cadsusweb as a website too because it checks the website I want to see if it works or

[2016-11-01 19:07] pieter-groeneweg commented on #374
For your info.
I just checked in my instance. It shows green.
running it from a r pi3 raspbian
what is the message saying in the logs?

[2016-11-03 17:26] gabriellluz commented on #374
It says "pattern not found". I'm running it on a local machine. Maybe it's because the site works in https mode. Maybe I have to enable https somewhere? I've checked php.ini and httpd.conf (Apache) and everything's fine.

[2016-11-03 17:34] pieter-groeneweg commented on #374
No it is because it cannot find a pattern. Check the settings. Do you have something set in the pattern field?  Empty it and see what happens.

[2016-11-03 17:46] gabriellluz commented on #374
I've just tried without a pattern. Still not working. Now it says "No response from server".

[2016-11-03 22:23] gabriellluz commented on #374
It says "pattern not found" in the log.

Em 1 de novembro de 2016 17:08:03 BRST, pieter-groeneweg <notifications@github.com> escreveu:

For your info.
I just checked in my instance. It shows green.
running it from a r pi3 raspbian
what is the message saying in the logs?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/php

[2016-11-07 16:06] pieter-groeneweg commented on #374
![cadastro_network](https://cloud.githubusercontent.com/assets/10771283/20064779/2c144cac-a50c-11e6-8aec-c684f69da4af.jpg)
what if you add this url? https://cadastro.saude.gov.br/cadsusweb/login.jsp with or without pattern: <!DOCTYPE html> and set the timeout on more than the default settings...

See what happens.

[2016-11-09 10:11] gabriellluz commented on #374
Still no luck. I've tried and it didn't work.

[2016-11-10 12:01] pieter-groeneweg commented on #374
Do you have access to the access logs of https://cadastro.saude.gov.br/cadsusweb/login.jsp can you see what is happening there?

[2016-11-14 14:25] gabriellluz commented on #374
Hi. I don't have access to those logs. This is a website we use, but it's not ours. Even though I represent the Government.

[2016-11-14 19:54] jasondewitt opened #377 "list of requirements incomplete"
This list of server requirements appears to be incomplete:
[code]
I was just attempting to install v3.2.0-rc1 on a fresh Centos7 droplet. I installed everything from the list above but I ended up with a blank page when running `install.php`. Even running `php install.php` resulted in no feedback.

Finally I created a `config.php` file and turned on debugging with `define('PSM_DEBUG', true);` and f

[2016-11-15 09:15] pieter-groeneweg commented on #374
So couldn't you ask the master of the site for details?
What you would need from him or her is the log lines with attempts coming from your IP.

[2016-11-15 11:04] baur opened #378 "I receive mail with question marks when using non-English characters?"
I receive mail with question marks when using non-English characters?

?????????? ???????????? ? ?????????? ???????:

??????: ???????
IP: 10.28.XXX.XXX
????: 1
??????:
????: 2016-11-15 11:43:52

[2016-11-15 11:16] baur commented on #378
but "send test mail" works fine with utf-8

[2016-11-15 11:16] baur commented on #350
that not works for me (((

[2016-11-15 11:21] baur commented on #350
but "send test mail" works fine with utf-8, although there is not used **utf8_decode($body);**

[2016-11-15 18:07] sadortun commented on #378
Duplicate of #350

[2016-11-15 18:07] #378 closed

[2016-11-15 18:08] sadortun commented on #377
Thanks, fixed by eadc9b145e574a43d4daad132d7de9157d9e2fe6

[2016-11-15 18:08] #377 closed

[2016-11-16 03:05] baur commented on #350
any suggestions?

[2016-11-16 04:07] baur opened #379 "last online time is null"
last online time is null
![image](https://cloud.githubusercontent.com/assets/2898361/20334670/2d18a310-abe6-11e6-923f-200f6a61338a.png)

**ver 3.1.1**
![image](https://cloud.githubusercontent.com/assets/2898361/20376869/bfbeb12c-acb4-11e6-8bad-899800704113.png)

**ver 3.2**
![image](https://cloud.githubusercontent.com/assets/2898361/20376882/e2895838-acb4-11e6-93c0-6bf71ebada5b.png)

mybe that's r

[2016-11-16 04:38] #317 closed

[2016-11-16 14:16] pieter-groeneweg commented on #317
No, in older versions the cron activity is logged in the db table _config.
Fields: cron_running and cron_running_time.

Here things can go wrong.

Version 3.2.x newly installed does not have these fields. But when you updated, these fields are still there.
Can't tell if it is interfering though.

[2016-11-21 04:54] licafe commented on #333
like

[2016-11-21 04:56] licafe commented on #333
Who can do this?
Thanks All.

[2016-11-25 10:45] Kopertje opened #380 "LDAP Connection for company use"
Hello,

We are using this script for some system administrators atm and we would like to use dan LDAP connetion to use our admin accounts to login to the config panel.
Is there a way to create this?

Greetings,
Robin

[2016-11-25 10:46] Kopertje opened #381 "Open status page"
Hello,

We would like to create a page that can be shown without the need of login details.
Is there way to create this page?

Greetings,
Robin

[2016-11-25 10:55] Kopertje commented on #368
Hello,

When will this option been build in?

Greetings,
Robin

[2016-11-25 11:18] baur commented on #379
any sugestions? ...

[2016-11-25 15:10] jholroyd commented on #334
I second that. It would be very useful to have this feature.

[2016-11-25 16:48] sadortun commented on #334
@jholroyd feel free to submit a PR!

[2016-11-25 16:49] sadortun commented on #368
When some contributor will take time to submit a PR

[2016-11-25 16:51] sadortun commented on #381
#51

[2016-11-25 16:51] #381 closed

[2016-11-25 16:52] sadortun commented on #380
#206

[2016-11-25 16:52] #380 closed

[2016-11-28 02:22] zuocheng-liu opened #382 "can not set mysql server port excluding 3306"
My mysql service works on port 8306 , phpservermon displays "can not connect to mysql".

[2016-11-28 02:47] sadortun commented on #382
Hi,

You are right, currently the Database class doesnt allow to change the port via config 😞
https://github.com/phpservermon/phpservermon/blob/68c087025dccc6f69a45e1f088350a22a2cd8d39/src/psm/Service/Database.php#L501

Feel free to submit a PR if you can. As a short term fix you can set the port directly in :
[code]

[2016-11-29 14:41] Kopertje opened #383 "Clear log button"
Hello,

I would love it if there is an clear log button.
Or if anyone has found a new solution for this, please tell me.

Greetings
Robin

[2016-12-02 06:59] Kopertje commented on #333
+1

[2016-12-02 18:49] gabriellluz commented on #374
I already did that. They say nothing is wrong.

[2016-12-02 18:49] gabriellluz commented on #374
Closing...

[2016-12-02 18:49] #374 closed

[2016-12-06 11:16] av2k opened #384 "SSL certificate check"
Hello,

I like phpservermon very much because it's simple and just gets its job done! So thank you for this great tool!

However, I needed to check if SSL certificates are about to expire on the watched servers, since an invalid certificate basically renders a site unusable for average site visitors.

I've added a new field for SSL certificate checking in the settings. It represents the minimum da

[2016-12-06 13:35] pieter-groeneweg commented on #384
Certainly an interesting addition. I like it but..
Question. Would it then show RED when the certificate is about to expire, marking the server/site off line in the stats? IMO the function is nice but should not interfere with the statistics and graphs on latency and such..
Receiving the message and just mark it orange would do for me.

[2016-12-07 11:54] Kopertje commented on #384
This option is great! I love it!

[2016-12-07 15:54] sadortun commented on #384
#102

[2016-12-13 11:54] Kopertje opened #385 "HTTP Headers and SSL options"
Hello,

I would love to have the option to check headers of websites.
- HSTS and preloading options
- HPKP
And other httpd/apache2 header checks.

To get a A+ rating on Ssllabs.com for example.

Greetings,
Robin

[2016-12-13 13:57] Kopertje commented on #206
How is this going?

[2016-12-13 22:15] viharm commented on #206
Hi, I haven't worked on this much, but intend to over forthcoming the holiday period.

[2016-12-14 17:25] wilceki opened #386 "How monitor wsdl"
How monitor https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl

Is always offline, but browser is accessible

[2016-12-15 09:02] crocoolivier opened #387 "Monitor web application with authentication"
Hi,

I would like to know if is it possible to check authentication of a web application? like webinject.pl

Regards,
Olivier

[2016-12-17 18:31] demogorgonz opened #388 "User Agent line ?"
Hello, any help is appreciated to find the line where the user agent is stated. Does anyone have idea where i can find and change it ?

Thank you.

[2016-12-17 18:32] demogorgonz commented on #388
Found it src/includes/functions.inc.php

[2016-12-17 18:32] #388 closed

[2016-12-20 10:08] bilyboy785 opened #389 "Add Telegram for notifications"
Hi ! It's possible to add Telegram for notifications ? With BOT Telegram.

[2016-12-21 10:28] Kopertje commented on #368
I export the data from the database into a .json file. Then i read the .json file on a external page for my users. This way i dont need any kind of authentication. Little bit less secure, but there is no any sensitive data in the .json file. It works great for me.

[2016-12-21 14:29] tomhatzer commented on #255
Do you have any requirements for the implementation? Where do you want to store the webhook? In the server entry or in the user entry? What fields do you want to send to the webhook url? Do you want it to be slack/mattermost compatible?

[2016-12-21 15:08] sadortun commented on #255
@tomhatzer

- [ ] webhooks shall be defined in their own table
- [ ] the webhook shall be triggered on change.
- [ ] user shall be able to select which servers triggers the webhook
- [ ]  the webhook event  shall contains the  status, Id, URL , datetime
- [ ] the webhook may also contain  last known good , last known bad ,
- [ ]  the webhook çould be slack compatible.

[2016-12-22 07:37] tomhatzer commented on #255
Great, thank you @sadortun ! I'll have a look into this and keep you updated.

[2016-12-23 09:56] tomhatzer commented on #334
Where should this be added? As separate type option beside Website/Service so we have 4 options like Website/Service/Ping/RDP or inside Service? Or splitted in Website/Service/Ping and RDP inside Service?

[2016-12-23 10:20] tomhatzer commented on #334
For RDP support see https://github.com/phpservermon/phpservermon/pull/390

[2016-12-23 13:06] #334 closed

[2016-12-23 13:52] tomhatzer commented on #334
I've got to reopen this, because of a little problem with the ping feature...

I'm using raw sockets which are only available if you're running php as root user. So we'll have to use another method of pinging a host.

There are currently 3 options I'm aware of to ping a host:

- use local ping executable from the system (exec() or shell() required)
- use fsockopen to ping a specified port (port ne

[2016-12-23 14:34] tomhatzer commented on #382
Please see https://github.com/phpservermon/phpservermon/issues/382

[2016-12-23 19:28] sadortun commented on #389
Hello @bilyboy785 please submit a PR and we will merge it !

[2016-12-29 16:00] fferraro87 opened #396 "double slash redirect"
hi,
why every page redirect to // address?
for example http://minomitor.com//?&mod=server&action=view&id=23&back_to=server_status

every address has // and i had everytime error to open pages

[2016-12-29 18:34] sadortun commented on #396
The `dirname` or `SCRIPT_NAME` probably ends with a `/`

https://github.com/phpservermon/phpservermon/blob/74efd243c52df7b25769dd24c72450fd7eb5f85f/src/includes/functions.inc.php#L563

Feel free to submit a PR if you solve the issue.

Thanks,
Samuel

[2016-12-30 08:14] fferraro87 commented on #396
Ok thanks now it works,
i've modified this https://github.com/phpservermon/phpservermon/blob/74efd243c52df7b25769dd24c72450fd7eb5f85f/src/includes/functions.inc.php#L563
in this:
`
$url .= dirname($_SERVER['SCRIPT_NAME']) . '';
`

[2016-12-30 08:41] fferraro87 commented on #396
sorry i've open PR but maybe i'm wrong, it's first time that i open a PR on a project

[2016-12-30 09:26] sadortun commented on #396
Your change might have some effects, you need to ensure the url have a `/` at the end

[2017-01-01 21:25] criwe commented on #333
Maybe https://datatables.net/ would be an easy solution?

[2017-01-01 22:21] sadortun commented on #333
@criwe Feel free to submit a PR !

[2017-01-02 16:28] hadagalberto commented on #389
I need this too!
Is there any tutorial for create a new notification gateway?

[2017-01-02 16:43] sadortun commented on #389
You can look on how others did for other providers in closed PR
https://github.com/phpservermon/phpservermon/pull/375/files

[2017-01-03 18:54] hadagalberto commented on #389
Hello, i got it, Telegram Notifications, but how to submit a PR?

[2017-01-04 03:31] licafe commented on #333
howto step by step ?
https://drive.google.com/file/d/0B0AriV_AGXSMZ2FRaHhlOURDWjg/view?usp=sharing

[2017-01-04 22:03] hector-romero opened #398 "Feature Request: Allow to group servers"
It would be useful to be able to group/tag servers so it's easier so, for example, when we monitor multiple app parts at once (apis, websites) we can list each app with their parts together.

[2017-01-04 22:07] #398 closed

[2017-01-04 22:11] hector-romero commented on #398
Sorry, duplicated of #https://github.com/phpservermon/phpservermon/issues/176, for some reason I couldn't find it the first times I looked for it.

[2017-01-09 00:04] hector-romero commented on #382
This introduced a new issue: when you use a db which do not require to specify a port to connect (Example: the db provided in a shared hosting environment) you have no way to avoid connect to the db since the service will force the port 3306 when connecting.

[2017-01-11 00:20] vmonteirobr opened #399 "Integrate width LDAP autentication"
Please if possible integrate with LDAP autentication to stablish SSO (single sign on) DevOps concept.
thanks for the project very helpful to me.

[2017-01-11 00:40] vmonteirobr opened #400 "Minimum number of sequential failures before error report"
Hi if posible i need a feature to set a minimum number of  sequential failures before error report (service down, send mail), is useful to ignore transient or random network erros. thanks

[2017-01-12 12:35] mikespence opened #401 "Servers Off"
Thanks for creating this, it's great. I have one issue though...

Some of my servers are saying they're off when they're not, any ideas? We have 7 sites, all are currently only but two are showing off and the others are showing on. All HTTPS.

[2017-01-12 13:43] pieter-groeneweg commented on #400
There is a series of checks... /src/psm/Util/Server/Updater/StatusUpdater.php line 76 it is hardcoded to 2 times.

[2017-01-12 14:28] mikespence commented on #401
I'm wondering if it's something to do sub domains?

[2017-01-12 15:28] pieter-groeneweg commented on #401
I do have several domains and subdomains set without any problems. I can think of a few things that might cause this:
1. wrong status code (4xx or 5xx) before redirect.
2. too many redirects
3. pages never finish loading
4. your servers firewall sees the probes as hack attempts

check your access and error logs (those of the web servers of the two sites). You may see anomalies on the probes from y

[2017-01-13 08:01] #301 closed

[2017-01-13 08:15] sadortun commented on #399
Hi, feel free to submit a PR !

[2017-01-13 08:18] sadortun commented on #215
Resolved by #358 thanks @pieter-groeneweg

[2017-01-13 08:18] #215 closed

[2017-01-13 08:21] sadortun commented on #400
@victormacko if your checks fails more than two times, you have more than random errors, you should investigate the issue on your side !

[2017-01-13 08:21] #400 closed

[2017-01-13 08:23] sadortun commented on #399
#206

[2017-01-13 08:23] #399 closed

[2017-01-13 08:24] sadortun commented on #206
@viharm any news ? Your contribution would be much appreciated !

[2017-01-13 08:27] sadortun commented on #379
Did you solve your issue ?

Did you investigated to see what kind of data was in the db ?

[2017-01-13 08:28] #356 closed

[2017-01-13 09:16] emillod opened #402 "Problem with polish character encoding"
Hello, i have problems with polish symbols in e-mails. I don't know where is problem... Maybe in UTF-8? I don't know, but i have:
dziaÅ‚a - correct is działa
znÃ³w - correct is znów

Any ideas?

[2017-01-13 09:24] mikespence commented on #401
Thanks for the reply, I wonder if it is a redirect issue, I'll do some more digging in the logs. Is there any way round multiple redirects?

[2017-01-13 11:40] vmonteirobr commented on #400
Yes, you is right, thanks so much.
Pieter thanks for the tips, i will try that.

[2017-01-13 14:08] lupor0x commented on #333
I've added the search with the JS script [CHOSEN](https://harvesthq.github.io/chosen/)

![image](https://cloud.githubusercontent.com/assets/16296163/21932677/18ba3548-d9a2-11e6-8712-2e452e38470c.png)

[2017-01-15 01:02] victormacko commented on #400
Ah great -- thanks for that :)

[2017-01-15 13:45] tomhatzer commented on #382
@hector-romero can you please try with this change: https://github.com/phpservermon/phpservermon/pull/403

[2017-01-15 21:04] viharm commented on #206
Hi @sadortun , just studying the code; didn't go as quickly as I had hoped. My experience with PHP namespaces is limited, so taking longer than expected. If you can point me to the authentication hooks, it will definitely speed things up a bit :-)

[2017-01-15 21:59] sadortun commented on #206
@dopeh Can you anser to @viharm  above ?  Thanks

[2017-01-16 22:26] strugee commented on #389
@hadagalberto see https://help.github.com/articles/about-pull-requests/

[2017-01-17 19:18] thebronway commented on #51
+1

Any updates on this?

[2017-01-17 19:44] strugee commented on #51
@thebronway please don't add +1 comments. It just generates more email for the maintainers and for those of us who are subscribed to this issue. Instead, use the reactions feature (the smiley face at the upper-right of each comment).

You'd be able to see any updates on this feature in this issue. Since there are none, there are no updates. If you need this feature feel free to contribute it yours

[2017-01-17 20:27] sadortun commented on #51
@thebronway if you are interested in this feature, we would all be appy if you could make a contribution to the project !

[2017-01-19 18:11] sadortun commented on #402
#350 #254

[2017-01-19 21:12] masiarekrafal opened #405 "ping problem"
Hey,
in 1st case i can't add domain to ping service (returned "the ip adress is not valid"),  in second ping not working as well.
for testing im ping google or facebook, always i have result &quot;Failed to parse address 157.240.3.35&quot; when services works fine.

[2017-01-19 21:23] masiarekrafal opened #406 "installation problem fix"
in 3.1.1 when you try get install.php script you see 500 error , to fix this add separator (comma) after db_port variable in $config array inside /src/psm/Module/Install/Controller/InstallController.php

btw when you run composer install can you see:
`Warning: The lock file is not up to date with the latest changes in composer.json. You may be getting outdated dependencies. Run update to update th

[2017-01-19 21:32] #406 closed

[2017-01-19 21:32] sadortun commented on #406
Thanks, it fixed !

[2017-01-23 15:52] tbonnarens commented on #401
Do you still have monitoring enabled for these servers?
If you disabled monitoring when for them when they were down they will remain at status off.
If they are still being monitored, check the log, it should give more clues.

[2017-01-24 18:34] twister5800 opened #408 "Servers always green?!"
Hi and thanks for this great tool :)

I have installed it and setup cron job, everything is great, but servers are always green.

It updates the "last checked", and when I block the traffic to that particular host, the "last checked" just rises in time, in ex. last checked 24mins ago, but no alert is being triggered.

I have setup timeout for 10s and warning threshold to 1, string is empty.

What

[2017-01-26 13:32] pieter-groeneweg commented on #408
You say string so I guess you are monitoring websitses?
How do you block?
And what do you see when you browse to that host yourself using a browser?

[2017-01-26 13:36] twister5800 commented on #408
![image](https://cloud.githubusercontent.com/assets/13104344/22333136/acd9a736-e3d4-11e6-8aa2-899e11be145b.png)

This i all I have done :-)

I block incoming port 80 to the webserver and I cannot browse site i browser when this is done, PHPMONITOR does count minutes since the host has be seen last, but does get "RED" ?!

[2017-01-26 13:36] twister5800 commented on #408
have also tried with port 80 instead of 0

[2017-01-26 13:57] pieter-groeneweg commented on #408
when you set "website" it checks what is returned whatever the port you don't have to (or cannot) specify port (afaik). So what does it show when you hit the site using your browser? What is the statuscode returned?

[2017-01-26 16:47] gmasquelier59 opened #409 "Schedule monitoring"
Hello,

This is a feature request. It would be nice to enable monitoring only between a start hour and an end hour, defined for each server / service.
For example, we use phpservermonitor to monitor our network printer located in another room (sometimes it disconnects from the network). But we shut down the printer at the end of the day for energy saving, so we have an alert each evening (NOK) and

[2017-01-26 18:19] sadortun commented on #409
This is very specific you your case. Feel free to submit a PR if you are interested.

Meanwhile, you can setup your CRON to run only in the time period you want the PSM to run.

[2017-01-27 07:47] dopeh commented on #206
Hi,
All authentication is handled in the User service, more specifically the
method 'loginWithPostData' at
https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Service/User.php#L207
is called to validate the login form. You could inject a separate LDAP
authentication service into the User service, then check the global
configuration for LDAP status, and when enabled use the LDAP servi

[2017-01-27 15:01] twister5800 commented on #408
It's just a website, so it's needed to fill out search string/pattern?

[2017-01-27 15:08] twister5800 commented on #408
Did a "Service" setup, the behavior is the same, it shows it online, when i block the traffic it just shows that it was online x minutes ago, but no alert triggered, what have I done wrong?

![image](https://cloud.githubusercontent.com/assets/13104344/22375529/b7bb039e-e4aa-11e6-8a69-00f20f5ecd21.png)

It was 3 minutes ago that i closed SMTP port on server, it cannot check the service, but why doe

[2017-01-27 15:08] twister5800 commented on #408
![image](https://cloud.githubusercontent.com/assets/13104344/22375555/d9a0b468-e4aa-11e6-967d-8b8dce52bdf8.png)

mail.mlf.dk is offline since 3 minytes, why no alert?

[2017-01-27 15:10] twister5800 commented on #408
When i enable SMTP on my server (mailserver), screen changes:

![image](https://cloud.githubusercontent.com/assets/13104344/22375602/16e0bdbe-e4ab-11e6-8268-01c570ce5f28.png)

[2017-01-27 16:16] technofab commented on #409
I add my request, based on my needs, but I think  they are common.
Sometimes many server may be "down" at certain hours for many matters, for example a scheduled procedure that backup database, webapps and reboot system.
So can be useful permit to exclude these hours from monitoring, and so consequently, setting them. I hope my english is understandable for you.
Bye from Italy :)

[2017-01-28 14:15] agmorey opened #410 "anonymous view to status page"
How would I a configure a system to show the status page without requiring a login, retaining login to make changes.

[2017-01-28 14:16] agmorey commented on #410
See it's a duplicate - closing

[2017-01-28 14:16] #410 closed

[2017-01-29 11:26] pieter-groeneweg commented on #408
what is your cron schedule?
ie. when it probes every 15 minutes and you disable your server on php monitor wait for at least 15 minutes OR click update in the menu bar.

You stated you disabled port 80... I wonder how as the url of your site has an IP from a shared host... usually on a shared host you are stuck with the ports they gave you and no way if changing that. (let alone disabling them)

[2017-01-29 17:32] viharm commented on #206
Hi @dopeh , thanks for the pointer; this is exactly what I needed. I have looked at the service code, and it looks good. I will fork and carry out some trials. Will request some feedback once am in a position to share

[2017-01-30 07:12] gitty8 opened #411 "#rewrite everything to https- can't add server/users"
Can someone test if he/she can add on mobile servers to monitor?
On save it reloads the site and no new server appear as website or service for monitoring.

Edit:
Forget, using .htaccess
`#Rewrite everything to https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]`

not working with SSL - how to fix to allow using phpmonitor with this .hta

[2017-01-30 15:18] twister5800 commented on #408
I checks every minute! Is that to soon?
i own the webhost it runs on, so I just get a timeout when i block the port :-)
But the same thing is with the service on port 25...no red alerts :-(

[2017-01-30 16:51] pieter-groeneweg commented on #408
well if your script ends within the minute... I usually have it run every 10 minutes..

anyway I'll add n-a-a.dk to my monitor. It runs every ten minutes and sends me a message when errored twice (20 minutes at most)...

So let's see if some happens on my end when you block the port for some time if you like.
I know mine works  ok :)

[2017-01-31 05:34] twister5800 commented on #408
Thanks, But I Cannot take the site down, I usually block the ip to the site in my firewall ;-)

Best regards
Martin

Sendt fra min telefon.

Den 30. jan. 2017 kl. 17.52 skrev pieter-groeneweg <notifications@github.com<mailto:notifications@github.com>>:

well if your script ends within the minute... I usually have it run every 10 minutes..

anyway I'll add n-a-a.dk<http://n-a-a.dk> to my monitor. I

[2017-01-31 08:38] pieter-groeneweg commented on #408
incoming or outgoing....? Do you block on the server running the site or on the server running the monitor?
As now I think it is a firewall issue.

[2017-01-31 08:44] twister5800 commented on #408
I block outgoing in my firewall the psm sits behind on.

Not a fw issue.

I work as an network consultant, so I'm not completely noob ;-)

Mvh. Martin

Sendt fra min telefon.

Den 31. jan. 2017 kl. 09.39 skrev pieter-groeneweg <notifications@github.com<mailto:notifications@github.com>>:

incoming or outgoing....? Do you block on the server running the site or on the server running the monitor?
As

[2017-01-31 08:56] pieter-groeneweg commented on #408
When it comes to unanswered questions I always consider myself a noob..  I am a noob most of the time anyway :) .. proud of it too... leaves me a lot to learn.

Anyway...
Just to be sure...  So, what if you'd block the IP of the monitor on the sites webserver's firewall.. ?

[2017-01-31 19:18] twister5800 commented on #408
Well that's a good point of view :-) - was just to let you know that i have tried to block both on the fw at home and the web servers firewall, and PSm can see the cnages as is shows that is is xx minutes since it was offline, as written earlier, when I allow the traffic again, the it writes "last seen: seconds ago", so it can clearly see the difference, but just no error.

maybe PSM it not suited

[2017-01-31 20:11] pieter-groeneweg commented on #408
come to think of it, yes.... read this http://docs.phpservermonitor.org/en/latest/install.html#setting-up-a-cronjob

This may very well be.

As I have on monitor running for about 70+ sites.. all set to allow 10 seconds to respond. In worst case scenario they all are down, the monitor waiting for 10 seconds on each makes it 700+ seconds in total. exceeding the 600 seconds (10 minutes)... I also in

[2017-01-31 20:17] twister5800 commented on #408
i have read that article, thanks :-)
i have setup timeout for 10 seconds in the beginning, and still use that, the shell kindly tells me if i am to anger to get it running before it finishes :-)

The webserver is hosted on my own server at job, and the PSM is sitting on my home network, so no changes in IP's here, but i completely understand your example.

Well I guess we are alll noob's somewhere

[2017-01-31 20:29] sadortun commented on #408
You can try to add a pattern in PSM that is not in your Web page to see if it's turn red

[2017-01-31 20:32] twister5800 commented on #408
Yup that did it - pattern not found, box RED alerts are being triggered.

So what now? :-)

[2017-01-31 20:34] pieter-groeneweg commented on #408
well it sure than has something to do with the port blocking going
wrongs somewhere...

What does your webserver return to blocked visitors? What status code?

Op 31-1-2017 om 21:33 schreef twister5800:

[2017-01-31 20:39] twister5800 commented on #408
No code, I block it in my firewall:
![image](https://cloud.githubusercontent.com/assets/13104344/22483466/acf25632-e7fd-11e6-929d-411abdb1350a.png)

So traffic = red = traffic dropped, when i browse from the host i get "timeout page cannot be displayed"

[2017-01-31 20:40] twister5800 commented on #408
212.116.232.225 is n-a-a.dk webhost.

[2017-01-31 20:43] pieter-groeneweg commented on #408
Ok, block my IP on port 80 Ill add your site to my monitor on
46.129.62.158 no pattern set.

Op 31-1-2017 om 21:39 schreef twister5800:

[2017-01-31 20:45] twister5800 commented on #408
I block it outgoing on my side, not destination firewall as is hosts selfservice for 8000 tv users on my city :-)
Can you block the Ip for webhost on your firewall, else i can block you on my private page martinsblog.dk :-)

[2017-01-31 20:50] pieter-groeneweg commented on #408
Well... I am not in your city, so you can safely block my ip... But I'll
add your private blog site to the monitor :)

Op 31-1-2017 om 21:45 schreef twister5800:

[2017-01-31 21:02] twister5800 commented on #408
Try to update now :-)

[2017-01-31 21:02] twister5800 commented on #408
I can see you :-)

[2017-01-31 21:03] twister5800 commented on #408
![image](https://cloud.githubusercontent.com/assets/13104344/22484304/1cd8ea26-e801-11e6-9bb7-fbd3036f53d7.png)

[2017-01-31 21:05] sadortun commented on #408
Guys, please use https://gitter.im/phpservermon/phpservermon  to "chat"  issue tracker is not the best place to have a discussion !

[2017-01-31 21:05] twister5800 commented on #408
Sorry will do that.,

[2017-01-31 21:05] pieter-groeneweg commented on #408
Server: martinsblog.dk
IP: http://martinsblog.dk
Port: 0
Error: TIMEOUT ERROR: no response from server
Date: 2017-01-31 22:02:45

Op 31-1-2017 om 22:03 schreef twister5800:

[2017-01-31 21:07] pieter-groeneweg commented on #408
I don't quit agree.... on that.

People may watch and learn here.. so do we.

That does not happen on gitter....

Op 31-1-2017 om 22:05 schreef twister5800:

[2017-01-31 21:19] twister5800 commented on #408
Thanks for now pieter, I will go for the beds and try harder tomorrow :-)

[2017-02-05 20:35] mat1010 commented on #387
+1

[2017-02-05 22:36] mrlaigle opened #412 "add HTTPS site"
hello,
i want to monitor HTTPS site but it alaways shutdown , i put 443 port and doesn't work

site www.j4tinfo.com @pieter-groeneweg can you help me please

[2017-02-06 00:48] danny00lo opened #413 "Auto Refresh Problem"
i am using 3.1.1, i found the problem on auto refresh problem. when i set up the auto-refresh in 300s. it cannot refresh auto or it just refresh the status page.

[2017-02-06 09:11] pieter-groeneweg commented on #413
auto-refresh updates your page in the browser it does not trigger an status check.
for status checks on your monitored servers you need to set a cron job.

[2017-02-06 09:32] danny00lo commented on #413
i just fix my problem.
i just use the ajax method to check my status, and i open the website in my linux server. this is work for monitor the server status. However, i want to know is there any more user friendly method to auto check my server

[2017-02-06 09:32] danny00lo commented on #413
thankyou pieter reply. i am glad to discuss with you and your comment~

[2017-02-06 09:49] pieter-groeneweg commented on #413
IMO phpservermonitor is the most friendly monitor.
but best practice is to set it up using a cron job to trigger the monitor regularly.

[2017-02-06 09:53] danny00lo commented on #413
IMO?what it the IMO?
Now, i use the linux server to open the website and every 10 mins will auto ajax to the update page to update the status.
The linux server is held on the data-center, so it is ok

[2017-02-06 09:57] pieter-groeneweg commented on #413
IMO = In my opinion...... :)

[2017-02-06 09:58] danny00lo commented on #413
HAHA... i just think this is the other server monitor haha

[2017-02-06 10:02] crocodanser opened #414 "Check Workhour"
Hi,
Thanks for your good job.

 is it possible to check critical website always and for some website only during workhour?
Thx in advance

[2017-02-06 10:31] pieter-groeneweg commented on #412
Added to mine, your site is showing ok at my monitor.
Settings:
label: https://www.j4tinfo.com/ (can be anything)
type: website
ip/domain: https://www.j4tinfo.com/

rest is left to defaults... no pattern set.

[2017-02-06 11:57] mrlaigle commented on #412
thank you so much , i've tried also on localhost it work , but when in put it on website heberged on OVH all https don't work

[2017-02-06 14:47] MickMurillo opened #415 "UTF8 IDN Characters are not directly allowed"
The app doesn't allow to enter utf8 IDN domains without converting them to their ASCII equivalent. Would be good to be able to enter the utf8 version.

[2017-02-06 17:22] sadortun commented on #414
Duplicate of #409

[2017-02-06 17:22] #414 closed

[2017-02-07 07:25] #413 closed

[2017-02-07 07:31] danny00lo commented on #350
it is not fix the bug too. when i use the chinese lang. also the same problem with baur
i will show that:
??????????:

???: ??6
IP: 222.222.222.222
Port: 80
??: Connection timed out
??: 2017-02-07 15:29:08

[2017-02-07 11:51] pieter-groeneweg commented on #412
Check with your OVH hosting.. check the error logs maybe...

[2017-02-07 11:54] mat1010 commented on #102
+1

[2017-02-07 13:34] danny00lo commented on #350
in the log, the encoding is normal, so how to fix this bug?

[2017-02-08 08:53] licafe commented on #333
Howto add phpmonserver  with  JS script CHOSEN.
thanks you

[2017-02-08 13:45] psohm opened #416 "send notification after X failure"
sometimes the script is updated, it is sad to have a notification at this moment especially when we monitor once per minute
can you add an option to notify after X consecutive failure ?

[2017-02-09 14:41] pieter-groeneweg commented on #416
"warning threshold" is meant for that. You can set it when editing a server.

[2017-02-09 15:05] psohm commented on #416
thanks you
i missed that option

[2017-02-09 15:05] #416 closed

[2017-02-11 21:18] Buyachaka commented on #415
Is this still relevant?, I got it.

[2017-02-13 06:34] 2ge opened #418 "Changing http to https, port not updated"
Hi,

add new server, http check. Then edit, replace http to https, and port stays same (80), it should be (443)

[2017-02-14 20:28] #402 closed

[2017-02-15 18:54] mackaaij commented on #323
I was trying to add a long URL as well. In 3.1.1 the field length is 100, I needed 190. But I can easily envision longer URLs, even longer than 255.

[2017-03-01 00:17] tim-durrant opened #420 ""Last check" shouldn't match "Last online""
By default, how often does phpservermon make a status check?

"Last check" date always matches "Last online" date - which is incorrect.   Shouldn't "Last check" be X seconds or minutes ago?

[2017-03-01 05:00] sadortun commented on #420
No, not nessearly,  if the server goes down, last check will be recent, and last online will indicate when the server was last seen

[2017-03-01 05:00] #420 closed

[2017-03-12 02:24] vus520 commented on #418
This is my 锅(bad).

If you add website service, the PORT field is useless.
The monitor will run correctly.

**You can ignore this.**

[2017-03-12 13:02] vus520 commented on #350
@sadortun I also encountered this problem today. I will run some test on the fix proposed by robertzajda, after that i will submit a PR.

[2017-03-12 20:46] anibud opened #422 "Feature Request: Reset Server Statistics"
Is it possible to add a button that will remove all statistics for a server and start fresh?

[2017-03-14 08:52] Ben-Atherton opened #423 "Use Clickatell REST API"
For newly registered Clickatell accounts it would appear you can only use the REST API and currently PHP Server Monitor uses the HTTP API, it would be good to have the option to use the REST API.

[2017-03-14 10:47] pieter-groeneweg commented on #379
Check your server time settings, your PHP time settings and PSM time settings.

[2017-03-14 10:57] pieter-groeneweg commented on #382
Sorry, but isn't this what "Port: Custom" is for? AFAIK the options list with predefined (default) ports is just a 'service' to make thinks a little easier for the people that use defaults.. (defaults are there for reason)

This is not a bug.

[2017-03-14 11:16] pieter-groeneweg commented on #373
I don't work with lighttp, but this is probably caused by the way lighttp mod_rewrite handles URL querystrings.
Please do check.

[2017-03-14 11:19] pieter-groeneweg opened #424 "when is 3.2.x past rc?"
v3.2.0 has been RC since may last year.
When does it become stable release?

The bug list contains a few bugs that are not really bugs (ie. feature request cannot be a bug) and some already can be closed.

I would be nice now to have a stable release that include all dependencies.

[2017-03-14 12:23] vus520 commented on #350
@sadortun @baur @danny00lo

I think i have fixed this bug.
when i send test email from Email config page, the email is all good.
At last I found the issue is caused by StatusNotifier' utf8_decode.

[code]

**You can fix this bug**  with replace `utf8_decode` to `trim`.

If you test OK, please let me know.

[2017-03-15 11:29] danny00lo commented on #350
@vus520 i just try try.This great to heard that

[2017-03-15 11:59] e-alfred commented on #424
And patched vulnerabilites. A new release would be really appreciated.

[2017-03-15 16:11] sadortun commented on #424
@dopeh can you publish the 3.2 release ?

Thanks

[2017-03-16 00:28] dopeh commented on #424
Sure, I will get it sorted next weekend. Could you have a look at the
changelog to make sure it's up to date?

Cheers.

[2017-03-16 02:01] baur commented on #379
Thanks, you are right, I have wrong settings at **date.timezone**. Now I'll check is will this fix the problem?

[2017-03-16 02:21] baur commented on #379
where I can find PSM time settings?

[2017-03-16 02:22] baur commented on #350
thanks, I'll try

[2017-03-16 03:08] baur commented on #350
**@vus520**
I confirm, problem is  solved!!!

[2017-03-16 03:30] baur opened #425 "Diagram title is not changes"
Diagram title is not changes ...
![image](https://cloud.githubusercontent.com/assets/2898361/23980636/0f134e30-0a2b-11e7-8678-5144fd53bba8.png)

[2017-03-16 11:12] vus520 commented on #425
I think it is acceptable, even can be removed.

[2017-03-16 11:20] vus520 commented on #423
psm_curl_get function will send a GET request by default.
add a `CURLOPT_CUSTOMREQUEST` method can support this feature. Looks like easy.

[2017-03-16 12:28] pieter-groeneweg commented on #379
Well that is hard to find, but PSM times settings can be done in config.php

Add this above all define rules:

ini_set('date_default_timezone_set', 'Europe/Amsterdam'); (or the one suiting your timezone of course)

But it doesn't work if your server doesn't allow these overrides. Else you set in the .ini file(s)

[2017-03-17 15:18] BristolITDave opened #427 "Can't use install.php to configure Database"
I cloned the latest version from Github and built using Composer and tried to do a fresh installation today.

When trying to configure the database using install.php - it constantly said MySQL details were incorrect. I checked MySQL logs and it was trying to login with username '3306' - I can only imagine this is something to do with the custom port changes done around December.
MySQL Log: 2017-03

[2017-03-17 19:19] sadortun commented on #427
@tomhatzer any clues in this ? Have you tested the install script ?

[2017-03-20 11:15] pieter-groeneweg commented on #427
@BristolITDave You write username = "3306". Are you sure your username is 3306 as this is also default portnumber for MySQL

[2017-03-20 11:21] BristolITDave commented on #427
@pieter-groeneweg - Exactly, my username **is not** 3306! I clearly put the correct username in the username box. @sadortun I'll run it again on a different box and check this is an actual issue. The first box I ran it on, was a fresh install of Ubuntu 16.04 on Linode. PHP version 7.0.15-0, MySQL 14.14 Distrib 5.7.17.

[2017-03-20 14:45] BristolITDave commented on #427
Confirmed on an older Ubuntu (14.04.5) box:
http://gosub.me.uk/i8fuo --- 170320 14:43:11 [Warning] Access denied for user '3306'@'localhost' (using password: YES)
PHP 5.5.9, MySQL 14.14 Distrib 5.5.54

[2017-03-21 09:06] pieter-groeneweg commented on #427
I peeked through the code in github (till now searched fro db_user and dp_port in the code) but nothing odd there...

[2017-03-22 19:29] bryanschmidty commented on #427
To get past this issue, I had to manually add the database config in `config.php.sample` and renamed it to `config.php`.  Reloading the page will then allow the installation to continue to the next step.

[2017-03-23 11:17] laangen commented on #427
The problem lies in the InstallController: the order of the parameters is wrong when testing the database connection. Line 144

[2017-03-23 11:56] sadortun commented on #427
@laangen please submit a PR if you have a few minutes !

[2017-03-23 14:18] laangen commented on #427
@sadortun OK my first PR has been made

[2017-03-23 20:01] sadortun commented on #427
@laangen  Thanks a lot  for your contribution ! Hope to see you again soon !

[2017-03-23 20:01] sadortun commented on #427
Fixed by #428

[2017-03-23 20:01] #427 closed

[2017-03-24 12:00] rorian commented on #56
Sam problem,
it's the second time (last time i had to reinstall) now again:
did password reset, can't login, there'is no warning about wrong credentials, i see form data passes properly but in respond i get login screen again

[2017-03-24 13:24] rorian opened #429 "can't access server page"
This happens second time. Previously I had to reinstall and lost whole DB, so back then installed fresh instance of phpservermon, did a nice setup and couple of months I saw it running OK (CRON executions).

So now, after couple of months I tried to login to panel ... the form only refreshed itself ... I thought that I forgot my password (again?) so  I did reset password, watch the DB field change

[2017-03-25 11:18] rorian commented on #429
[resolved] here's the thing: when I checked the 'remember me' box, logged just fine! :o

[2017-03-25 11:18] #429 closed

[2017-03-27 02:14] baur commented on #379
I'm fixed tmezone
1. php.ini date.timezone
2. ini_set('date_default_timezone_set', 'Europe/Amsterdam');
but the problem is not fixed (((

[2017-03-27 02:22] baur commented on #425
I think uptime value also must change
by the way uptime shows wrong value because in my case this value must be zero, as so as there was only one ping!
![image](https://cloud.githubusercontent.com/assets/2898361/24338276/ee8c41be-12c5-11e7-9d7b-2a729e887c4e.png)

[2017-03-27 09:23] pieter-groeneweg commented on #425
The uptime is related to the week.
Measured from a week ago till now.
What i see here is a server monitor started less than a week ago. But the calculation is still based on the weeks average.

[2017-03-27 09:31] pieter-groeneweg commented on #379
How is date time managed on the server itself? Is that working properly?

[2017-03-28 02:09] baur commented on #379
yes, of course

![image](https://cloud.githubusercontent.com/assets/2898361/24385768/c6770c90-138d-11e7-94bb-471bae73150d.png)

[2017-03-28 02:14] baur commented on #425
![image](https://cloud.githubusercontent.com/assets/2898361/24385858/47abfe9c-138e-11e7-9c70-ec6584bbbc4b.png)

![image](https://cloud.githubusercontent.com/assets/2898361/24385884/5de3fbc4-138e-11e7-8c0d-97e2dd759fbd.png)

![image](https://cloud.githubusercontent.com/assets/2898361/24385904/7d80ae82-138e-11e7-900b-4cf0a1e2fb6d.png)

[2017-03-28 02:33] baur opened #430 "Last online: text encoding error"
English
![image](https://cloud.githubusercontent.com/assets/2898361/24386336/dce56582-1390-11e7-9692-8d9b2803e8ff.png)
Russian
![image](https://cloud.githubusercontent.com/assets/2898361/24386317/c58780b4-1390-11e7-8c74-19b32a75ad49.png)

this encoding error related with month, in other case works well
![image](https://cloud.githubusercontent.com/assets/2898361/24386462/7ffacaa0-1391-11e7-99d0-e39

[2017-03-28 08:13] pieter-groeneweg commented on #425
As i said, it is related to the week. So when you press hour, you see last hour in the graph, but latency and uptime is still related to the week.

It would be an improvement, but it is not a bug.
Plse note, you can actually select parts of a graph to zoom in on details. (left clck-hold and drag to select, let go of the button) The results of a zoomed in graph would be hard to translated into thes

[2017-03-28 08:29] pieter-groeneweg commented on #379
create a file in root "time.php" and drop this in

<?php
echo (date('d/m/Y h:i:s a', time()));
?>

browse to your domain.com/time.php see what it shows. If it shows OK, your host time settings are good.
Else change to

<?php
ini_set('date_default_timezone_set', 'Asia/Almaty');
echo (date('d/m/Y h:i:s a', time()));
?>

check again.

[2017-03-28 08:44] baur commented on #379
time.php code?

[2017-03-28 08:45] baur commented on #425
ok

[2017-03-28 08:45] #425 closed

[2017-03-28 08:52] baur commented on #379
[code]
**result:**
UTC:1490691052
Europe/Helsinki:1490691052
Asia/Almaty:1490691052

[2017-03-28 09:22] pieter-groeneweg commented on #379
Huh it stripped my code on save?
try:
[code]

else add this to the top:

`ini_set('date_default_timezone_set', 'Asia/Almaty');`

[2017-03-28 09:33] baur commented on #379
![image](https://cloud.githubusercontent.com/assets/2898361/24398597/dbd22316-13cb-11e7-913f-676347f0971b.png)

[2017-03-28 11:07] pieter-groeneweg commented on #379
Well that is working then.. We at least determined the time zone setting is correct.

We can look at the update polling interruption.
This also looks strange as usually when you don't have any periodical poll setup, it would show a line from the previous to the next.

[2017-03-28 11:10] pieter-groeneweg commented on #379
Come to think of that, can you check the logs in the db?
Is there a change in date/time format noticable around the date time of the occurrence?
![image](https://cloud.githubusercontent.com/assets/10771283/24402221/e67581fa-13b7-11e7-94ce-df8c9aa01714.png)

[2017-03-28 16:44] jkrehm commented on #255
Has any work been done to make this a reality? If so, could the developer(s) use a hand with anything?

[2017-03-29 02:43] baur commented on #379
I'm sure it's not related with interruptions of polling. Null value appears when server long time offline and I noticed Null value appears temporarily before Last Time value changes to dates (as March 24 etc) but there appears another bug #430

[2017-03-29 11:04] TheCelavi opened #431 "[FEATURE REQ] Possibility to notify non-users"
We are using this tool to monitor some services from various clients. One of our client wants to be notified in real time when his application is down.

We do not want to create new user (client should not be able to login), we would like to just provide in server configuration additional mail addresses where notification should be sent.

[2017-03-29 12:00] pieter-groeneweg commented on #431
Well even if the user can login, what could he possibly do as long as it is not an admin user?

[2017-03-29 14:19] TheCelavi commented on #431
Ok, my bad, I didn't know that he can see only assigned server.

Hm... but it seams that there is no fine granulation of permission, like:

1. User X -> see server
2. User X -> notify
3. User Z -> notify

That could be useful. But it is not something that is a blocker, and should be in new ticket. Closing this one, thank you for your time.

[2017-03-29 14:19] #431 closed

[2017-03-29 15:47] mubix opened #434 "Vagrant Errors and Warnings"
[code]

[code]

[code]

[code]

[code]

[code]

[2017-04-01 19:49] skydiver opened #438 "phpservermon API"
Hello,

I took the API from **asuknath** and made compatible with PHP7 (functionalities remains the same).

The mobile apps works great.

If anyone is interested, here is the repo: https://github.com/skydiver/PHP-Server-Monitor-API

[2017-04-03 08:27] pieter-groeneweg commented on #379
Well as the image shows no graph between 11/15 16:00 and 11/16 08:00 there is something wrong there as even when there was no polling done in between those times, a blue line would show between the two known polls.
There is up time showing, (no red block) but no blue line. That makes me think there is some wrong with the notation of time date since 11/15 16:00.
In your db you should be able to see