[2017-04-05 02:56] vus520 commented on #438
great. I need this api very much.

[2017-04-06 15:29] jonasyd opened #439 "DATA BASE BUILD"
How does phpservermonitor install the database? I cant complete the installation ...
can you help me? Or provide the creation script?

tanxs

[2017-04-07 13:06] dimitrilongo opened #442 "why last check don't change when cron is enabled"
Hi

First time I install phpservermon, all is working well, I set the cron job on my centos 7 server, for testing purpose i check status every minute, so i put one website online, wait until cron do the job, no issue website turn to red (auto refresh), i put the server online again, website turn to green. So all is working.
But i don't understand why last check  don't change it says 2 hours ago, a

[2017-04-10 15:16] pieter-groeneweg commented on #439
Did you follow the installation instructions? You need to have the database setup first.

[2017-04-10 21:43] Nailzy opened #443 "Multiple check states"
Hi guys,

Bit of a long shot but .... if you don't ask... you don't get!

I'm using PHP server monitor at the moment to monitor a "health" file of a server. It's just an aspx file that contains a string.

I believe PHP Server Monitor is only able to cope with 2 states - online or offline. The online state matches a string that I define and it appears green, and the offline state appears when that

[2017-04-10 21:52] Nailzy commented on #439
As stated you need an appropriate MySQL database setup first. The installation only creates the tables within the database configured against your web server.

[2017-04-11 10:34] Christian961 opened #444 "Personal API"
Good morning,
I need to develop some personal API to connect to a dashboard in python. Isn't clear to me the project structure. Where am I going to put my source? Also how do I retrieve it from the router class?

[2017-04-11 16:23] jonasyd commented on #439
Hello, the problem has already been solved first create the database so that the tables can be created.
A new question is .. which collation should it be?

[2017-04-12 12:48] pieter-groeneweg commented on #443
There is also a warning state (yellow) that is when you change the threshold settings to more than one.
It will then throw a warning.
There is no such thing as different colors per server state (yet).

[2017-04-12 13:09] pieter-groeneweg commented on #442
something is wrong...

First: A once each minute check is too short a time. If previous cron is not finished yet, a new one cannot start. If you have a series of websites and services to check, it will take some time. By default, each check has max of three attempts. So when you set the max timeout to default 10 seconds, a check can take half a minute before it returns a service down. Now assume y

[2017-04-12 16:45] sadortun commented on #443
@Nailzy  Thanks for your suggestion, Unfortunately, i dont believe this apply specifically to most of the users.

As @pieter-groeneweg in the case that #102  is implemented, you could be able to add custom status  types and colors. If your willing to contribute to PSM, your Pull request is welcome !

[2017-04-12 16:49] sadortun commented on #434
Hi @mubix  I dont think the vargrant has been maintained for a while.  If you manage to make it work, please submit a PR !  Thanks

[2017-04-12 16:49] #412 closed

[2017-04-12 19:37] Nailzy commented on #443
Thanks for the feedback both - useful to know about the yellow warning state.

It's a bit of a specific requirement I know. For us - when the server responds with one string, it means its in production. When it responds with another string, it means it's in build / testing, and with no string response - means it is offline... - and we are trying to have that visible on an automated dashboard in th

[2017-04-12 21:36] Potomarus opened #446 "Cronjob - Unable to establish database connection..."
Everything is fine, but I have a problem with the cron job.

I can´t run the status.cron.php on my shell. Everytime I get this error:

Unable to establish database connection...

Did you have the same problem?

PS: Can please someone explain where is the Update-Function? Maybe I can build a new scipt.

[2017-04-13 11:30] e-alfred commented on #424
Any news on this? A version with all the security related stuff fixed would be much appreciated.

[2017-04-13 17:26] dopeh commented on #424
Sorry guys, my bad. Will sort it out tomorrow!

[2017-04-15 21:43] dopeh commented on #424
Should be all sorted. Just to make sure, what was on develop was good to go for v3.2.0 right? I noticed the version in the psmconfig file so blindly assumed I could merge everything to master for this release.

[2017-04-15 21:43] #424 closed

[2017-04-16 05:44] ghost opened #447 "Ping ;-)"
There is a problem with update installations. Server can not be changed from service type to Ping. First, the cache of the browser must also be deleted. However, the field type remains empty after saving. If a fresh reinstallation of PHP Servermonitor is installed, a ping type can be stored, but also here the status is "Failed to parse address" 8.8.8.8 " is displayed. However, thanks for the new v

[2017-04-16 11:14] naqirizvi opened #448 "email should also be sent to specific email"
Hi,
This is not the issue but I just want this feature to be introduced.
Every Website that is added should also include an email field that can also be informed about the site offline email notification.

currently it is only sending emails to the user email that has created the account and added the website.

[2017-04-19 00:01] mattspulse opened #449 "Feature Request: Guest or user account to have no authentication needed"
Is there any way to make it so the user account doesn't need to authenticate? I already have authentication on an apache server website and I just want to display the status of servers in phpservermonitor rather than have users log in again.

If anyone can suggest any modified code to make this happen it would be greatly appreciated.

Thanks guys, I love the new update!

[2017-04-19 12:54] e-alfred commented on #424
Awesome, thanks for the work.

[2017-04-19 16:43] llwp opened #450 "AWS Simple Notification Service (SNS)"
Looking around, I don't see any specific references to AWS SNS.
I did find AWS SES in issue #156 which is a related service.

Just checking to see if there is any interest in this capability?
I was looking at the code and there are several places it could fit. (ie src/psm/Txtmsg)
Open to thoughts...

Thanks..

[2017-04-20 07:13] dimitrilongo commented on #442
thanks for answers, i will check time zone and change check to every 15 mn to see what happen

[2017-04-20 15:23] helmi1987 opened #451 "Clickatell"
with a new clickatell account is it not possible to send sms.

[2017-04-20 23:40] shwashbuckle opened #452 "Advice on re-skinning UI"
Hi,
Has anyone attempted to re-skin the default HTML UI for PHP Server Monitor and if so could provide any advice on doing this?

Looking at some pretty cool looking Bootstrap based themes and wondering if these could be integrated with PSM?
http://webapplayers.com/inspinia_admin-v2.7.1/metrics.html
http://webapplayers.com/luna_admin-v1.3/metrics.html

Thanks,
Leigh.

[2017-04-23 04:58] Havouza opened #453 "Cron never update server status"
I have activated a cronjob 15 min but the server status never gets updated.
I have a VPS on Centos7 with Plesk control panel. It say the cron is correct

[2017-04-27 03:04] chio-nzgft opened #455 "openshift diy auto create"
https://github.com/echochio-tw/openshift-nginx-php7-phpservermon

[2017-04-27 03:31] lunarthegrey commented on #320
After running PHP Server Monitor for a couple weeks I'm starting to experience the same issue. No idea why or how this occurred as I made no configuration changes.

[2017-04-27 10:01] davehamer opened #456 "Servers added with type "ping" do not go red if they've never responded"
Using the new 'ping' feature in anger today - I've noticed that checks that have NEVER responded to ping, do not go red after 4 failed attempts (my setting)
http://gosub.me.uk/w2gw5 - these have been running for Circa 30 minutes now and are still green despite no connection.
On the other hand - I added a server with type "service" and even though it could not connect at all, it still went red afte

[2017-04-27 10:29] davehamer opened #457 "Status for type: "ping" shows as half-html"
When clicking into a server's record when being monitored by ping, the status shows as per below screenshot:
http://gosub.me.uk/7mo17

"Failed to parse address &quot;<IPADDRESS>&quot;

This does not seem to affect functionality and appears to be cosmetic only.
For reference, this is what a service looks like: http://gosub.me.uk/0q8mq

[2017-04-28 07:40] davehamer commented on #457
Further comment: This is from the database - the column "error" includes this text for all ping tests
http://gosub.me.uk/5hg8l

[2017-04-28 10:13] hniehorster opened #458 "Comments are off in phpservermon/src/includes/functions.inc.php"
The comments of the functions are not referring to the functions itself.

[2017-04-29 15:00] buzzard10 opened #459 "Telegram notifications"
Hello
is there any chance to create notification about servers to Telegram chanel?

[2017-04-30 10:36] ralphlobo opened #460 "SMS Gateway"
is it possible to add https://www.solutionsinfini.com/ for SMS Gateway ?

Doc is here : https://www.solutionsinfini.com/sms-api

This gateway provide Email to SMS features too. and its really cost effective.

[2017-04-30 15:06] ralphlobo commented on #460
This is what i tried.

namespace psm\Solutionsinfini;

class Solutionsinfini extends Core {
    // =========================================================================
    // [ Fields ]
    // =========================================================================
    public $gateway         = 1;
    public $resultcode      = null;
    public $resultmessage   = null;
    public $success

[2017-04-30 21:34] ryannix123 opened #462 "Can't save anything when SSL is on"
Hello,

I'm having a strange issue where if I'm in the webui and I try to make any chances, I get a warning: "This form will be sent in a way that is not secure. Are you sure you want to send it?" and if I click "Ok" the data never saves. If I remove the .htaccess file that forces the SSL redirect, I can save changes or add new system to monitor without issue. Is there a better way for me to force

[2017-04-30 21:55] Alex-Sh opened #463 "Parallel processing"
Hi

Do you have any options to parallelize the process of websites check. Using curl_multi, etc?
Or what will be your suggestions to integrate it manually not changing the core.

Thanks

[2017-05-01 03:32] baur commented on #456
In my case new 'ping'  feature  not works at all

[2017-05-01 09:40] mtahiue commented on #462
in config.php add

define('PSM_BASE_URL', 'https://YOURDOMAIN');

will work then ...

[2017-05-01 11:00] ryannix123 commented on #462
That worked. Thank you!

[2017-05-02 11:09] davehamer commented on #456
@baur - You don't get any responses or it doesn't go red on failure?
http://gosub.me.uk/duclb - This server went offline 9 hours ago - no notification in the log, still showing as Green.

[2017-05-02 13:28] davehamer commented on #456
I think I've tracked it down, but I have no idea how you guys want to fix it-
https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Util/Server/Updater/StatusUpdater.php#L160
In this line, you specify that rtime = the time taken for a ping response
https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Util/Server/Updater/StatusUpdater.php#L163
In this line, no rtime is defi

[2017-05-02 13:37] davehamer commented on #457
I think this is an easy fix:
https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Util/Server/Updater/StatusUpdater.php#L153 - this line has been left in from the other two types of checks. Simply delete it.

https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Util/Server/Updater/StatusUpdater.php#L163 - Add a description for failed to "Ping timeout" or similar?

[2017-05-05 09:44] pixeline commented on #453
Did you check your cron.log file ?

Also: try launching the command manually via the Terminal, errors will appear :
ex: `php /home/domain.com/public/phpservermon/cron/status.cron.php`

[2017-05-05 09:51] pixeline commented on #446
Same issue here.

`php /home/user/domain.tld/public/phpservermon/cron/status.cron.php`return "unable to establish database connection"

[2017-05-05 11:20] pixeline commented on #446
Solved it: after updating php, I was missing latest php_mysql and php_curl libraries.

[2017-05-07 09:34] 2ge commented on #438
thanks so much

[2017-05-07 13:18] acrylic-style opened #465 "Please add lang 'ja_JP' (Language file is ready)"
I am Japanese.
I want to use language 'Japanese' but it is not found.
So I created a language file myself.

I have already tested this file.

[php-server-monitor-ja_JP.zip](https://github.com/phpservermon/phpservermon/files/981592/php-server-monitor-ja_JP.zip)

[2017-05-11 08:55] blawdi opened #466 "Cron every minute"
hello

Cron spot every minute

And choice of updates in scripts per server.

In some cases I need to put servers under surveillance for 1 to 2 min, but not all.

Is it possible in a future version you believe?

[2017-05-13 04:12] robinblogspot opened #467 "I am not able to ping a local ip"
![untitled](https://cloud.githubusercontent.com/assets/5363337/26022345/78b822b2-37c0-11e7-9afa-f321b3d3c07b.png)

I am able to ping with windows cmd
but not able to ping with phpservermonitor

[2017-05-14 19:48] phpfs commented on #102
Hi :)

How far did you get with this so far?

Thanks :)

[2017-05-14 23:31] sadortun commented on #102
Almost completed .... since 3 years ! @phpfs if you are willing to compete it I guess there is only a few hours of work to do.

[2017-05-16 13:35] phpfs commented on #459
Hi :)

I'd think that this would be not too difficult to implement.

We'll need a setting where the user drops the bot's token and on the profile page an input to paste the users chat_id. There are many bots out there to do that :) (@cid_bot)

Maybe we can register it as an sms service provider? (although this would be quick and dirty :)

I'll have a look at that when I have time :)
Greets, phpfs

[2017-05-16 14:32] buzzard10 commented on #459
Thanks for your reply :)
I really want to implement this because Telegram have fantastic notifications 😄
Give me a tip when you have something new :D

[2017-05-17 13:31] TimZ99 commented on #459
First steps are made #468 😄

[2017-05-17 13:33] buzzard10 commented on #459
Thanks!
Can i download it and test ? :D

[2017-05-17 13:41] TimZ99 commented on #459
👍
Use @ChatIDBot to get your chat_id.
@cid_bot wasn't working for me.

[2017-05-18 22:48] TimZ99 commented on #459
Big steps are made today.

- [x] UI (Same as Pushover)
- [x] Install.php (add column in sql tables)
- [x] Dutch translation
- [x] Added Telegram to the backend (not working 😢)

The backend and the translations take some time.
 If somebody want's to help, feel free: [PSM > Telegram](https://github.com/TimZ99/phpservermon/tree/telegram) .
At this moment I have only made the Dutch translation, Englis

[2017-05-19 05:57] buzzard10 commented on #459
Hi :)
Thanks for update. I can help you with Polish language, but tell me where i have file to translate/which words i need to translate 😄

Can you also tell me how i can add telegram to my instance. 👍

[2017-05-19 11:20] brasileric commented on #384
A SSL certificate check will be great for me as well!

[2017-05-19 14:27] JzJad opened #469 "Public Frontend?"
Wondering if you could possibly add an option to make the default page a public front end that shows the status of selected servers to anyone who visits the site.

Thanks.

[2017-05-19 17:15] sadortun commented on #469
Duplicate.

[2017-05-19 17:15] #469 closed, assigned to nobody

[2017-05-21 07:55] vus520 commented on #465
I suggest you to submit a request.
If you don't know how to submit PR, I can help you do this.

[2017-05-21 17:23] sadortun commented on #444
Duplicate #197

[2017-05-21 17:23] #444 closed

[2017-05-21 17:25] sadortun commented on #438
Hi @skydiver  Can you submit a PR ? I'll merge this in PSM it's a well wanted feature !

Thanks !

[2017-05-21 17:28] #462 closed, assigned to nobody

[2017-05-21 17:29] sadortun commented on #458
Can you fix them and submit a PR ?

Thanks

[2017-05-21 17:31] sadortun commented on #457
Can you submit a PR ?

[2017-05-21 17:32] sadortun commented on #455
@chio-nzgft  thanks for the link. Xian you update the readme and add a section about OpenShift ?

Thanks

[2017-05-21 17:34] sadortun commented on #450
Yes, your PR would be welcomed !

[2017-05-21 17:36] sadortun commented on #449
Duplicate #51

[2017-05-21 17:36] #449 closed, assigned to nobody

[2017-05-21 17:37] #446 closed

[2017-05-22 01:06] skydiver commented on #438
@sadortun sure (will take a few days)

[2017-05-22 21:50] marcusbossard opened #470 "CRON Job not updating Server Status to Offline"
Download version 3.2 and installed both on windows server 2012 and Ubuntu 16 and ran into same problem below:

I can add devices however when they go offline they do not turn red or actually go off offline so the next time the CRON/SchedTask jobs runs it sends the offline email over and over even though the Config->Notification Setting->Is set to Status change only. Why doesn't the CRON job flag a

[2017-05-23 09:45] schiegg commented on #405
I have the same problem.
Updates via CRON work perfectly but when I press any update button it fails parsing.

[2017-05-23 15:05] sadortun commented on #405
@schiegg does your cron user is the same as Web server user ? Looks like a permission issue

[2017-05-23 16:10] schiegg commented on #405
Cron user is root as instructed in your docs.
Web server user is www-data and all files in the web folder are owned by this user.

[2017-05-23 19:54] mklemme1 commented on #438
Nice work, @skydiver !

 Could you add an API call to update all servers?

I cannot set up cron jobs and would like to call this API from my other home system

[2017-05-24 21:09] Jerlag01 opened #471 "Little question"
Is there a way to show the status of the servers without having to log in? #

[2017-05-25 10:59] tgrignon opened #472 "StatusUpdate for Ping mark ALL servers down"
I recently create a CentOS 7 server rather than my Windows server for the application, I think the Ping not working well with Windows.

Now the Ping working fine with CentOS but when the cron start and check if one of my server is down he mark ALL my servers down. Each one with different IPs and different name. I try one server at a time and all turns red.

I receive the maila fter that all my ser

[2017-05-25 11:01] tgrignon commented on #470
I have the same problem with Windows

[2017-05-25 13:11] tgrignon commented on #472
When the cron start, there is no problems. Only when I click on "Update" directly on the webpage.

[2017-05-25 16:38] phpfs opened #473 "Slack Notifications"
Hi!

As a telegram integration is currently made, I'd like to suggest Slack as well.

Integration won't be too difficult as it is as simple as calling a webhook.
Still, it is different from SMS or Pushover as you write to a channel from a specific team, not directly to a user.

To implement, I suggest to create it as a standalone service like Pushover with the two settings "webhook" and "channel(s

[2017-05-26 09:25] twister5800 opened #474 "PushOver sound"
Hi,

Thanks for phpservermonitor!

Where can the default sound for PO be changed, I read that in 2016 it was planned to build a select box into config page,but I cannot seem to findit,so for know, do we still have to fiddle here in pushover.php?

best regards
Martin

[2017-05-29 08:52] nscpro opened #476 "PHP Server Monitor with Brute Force Attack monitoring"
Hi everyone,

PHP Server Monitor working team could create a new opportunity in which to be able to see who is attacking the service or domain. It could display the IP state and displaying the ideal would be to show the a live map. In addition to the opportunity to put in an IP ban list, then using the fail2ban and fail2rest existence. It might also be at the e-mail notification when someone attac

[2017-05-29 18:03] tgrignon commented on #471
https://sourceforge.net/p/phpservermon/discussion/845823/thread/f1b2e4ff/

[2017-06-04 23:58] djmixman opened #477 "Allow ping by hostname"
We have a few servers that unfortunately do not have static ips. Would it be possible to add support for hostnames instead of IP address only?

[2017-06-05 00:00] djmixman opened #478 "Small username validation bug"
There seems to be a small problem with the username validation during setup. During setup, I was able to create a username with a dash it its name "user-name" however when I went to make changes to my profile after everything was installed the validator would not let me save it because I had a "-" in my name.

[2017-06-05 00:13] djmixman opened #479 "Try to prevent issues running update as non-root user"
When you try to run the update from the dashboard as a non-root user it will error out and cause script issues. Could you make the script checks if it is running as root and if not try to ignore running the updates that use sock_raw?

[2017-06-06 18:00] mattronix commented on #451
Hi,

I seem to have the same problem any way i can help with solving it?

[2017-06-06 18:01] mattronix commented on #423
Ouch annoying I created my clickatell account a week ago looks like this is the reason it is not working.

[2017-06-07 16:43] realitygaps commented on #451
I've figured out what to change, the following is from our (working) phpservermon:

`                $result = $this->_auth_https_post('https://platform.clickatell.com',
'/messages/http/send',
                        '?apiKey=' . 'YOUR API KEY HERE' .
                        '&to=' . $recipients .
                        '&content=' . substr(urlencode($message), 0, 153)
                );
`

inste

[2017-06-07 17:39] gitty8 commented on #459
How status here?

[2017-06-09 12:33] helmi1987 commented on #451
YES did it work. Thanks very much

[2017-06-09 15:20] Masriyan opened #482 "PHP Server monitoring with pipelining for antiddos"
Hello i'm junior developer who try to remake this program with this compactbility and i think to make this program have feature for antiddos , beacuse when it starting for monitoring server and attacker know the ip address for this program i think this program cant be good at all , hope my idean can be accepted for next update

[2017-06-09 15:22] Masriyan commented on #478
yeah i also make user with "-" and no validator works for it , thanks for issues it first

[2017-06-09 15:24] Masriyan commented on #452
btw the engine for template use twig , did u have tried to make the concept view with twig ?

[2017-06-11 08:22] #465 closed, assigned to nobody

[2017-06-11 09:55] buzzard10 opened #483 "License"
Can i remove note about PHPServer from footer?

[2017-06-11 16:01] versavius commented on #473
Interesting idea so would this work for example website X goes offline, so standard alert on phpservermon of a nice red alert and then a message posted to a specific slack group or set of users saying its gone offline? Or maybe stating every alert?

[2017-06-14 11:40] Eboreg opened #484 "Pagination, sorting and filtering in server lists"
We run quite a gigantic amount of sites, so the server list as well as the status page become quite heavy. Pagination, sorting and filtering possibilities would be nice.

[2017-06-20 11:24] helmi1987 commented on #451
If I want to send multiple users a sms at error. This does not work

[2017-06-25 07:22] lug-gh opened #485 "Display Time in ms instead of seconds"
Hi,
is there a way so display the time in miliseconds instead of seconds?
i think the display in seconds is not very well chosen, normally all pings etc. are in ms

[2017-06-29 09:00] poldixd opened #486 "Username with dots are allowed in the install process"
Hi,

i had installed the PHP Server Monitor with a username like **firstname.lastname**. Everything works great. Nice software!

But if i try to edit my profile i got an error: `The username may only contain alphabetic characters (a-z, A-Z), digits (0-9) and underscores (_).` No dots in the username are allowed...

The validation should be notify me when i install the software.

Greetings!

[2017-06-30 09:07] tttttx2 commented on #384
Yes, please! SSL certificate check would be just awesome!

[2017-06-30 17:10] poldixd commented on #486
Same issue #478.

[2017-06-30 17:10] #486 closed, assigned to nobody

[2017-07-01 08:38] rolero commented on #384
Yes SSL check would be great.

[2017-07-01 08:40] rolero commented on #485
I think it is best to make this a setting each user can configure by himself.

[2017-07-05 13:57] chidalgom1503 opened #487 "No graphics latency with any device"
Hi guys.
Im having problems to get any latency graphics in any device Im able to monitor using ubuntu with LAMP, instead using windows with appserv the graphics works fine, the problem is the windows machine is not meant to use it as monitor.
How can I check if everything is correct?... maybe I didnt install something?
I check all the requirements before run it.

Thanks!

[2017-07-05 15:28] theknigge commented on #467
same Problem here 👎 :-(

[2017-07-06 15:21] inkrement opened #488 "not able to ping ip"
I tried to setup a new (working) server, but it appears to be offline. ping in the console works and apache's error.log does not show errors.

[2017-07-06 16:39] baur commented on #488
same problem, ping not works

[2017-07-07 07:12] tridoan opened #489 "Icon for each server"
Thanks for this, testing it out and it seems to work well.

Since we potentially have a lot of server to monitor (for different sites), it would be great to have an icon associated with each server to allow for quick at-a-glance visual check on a site's status.

[2017-07-07 10:17] vus520 commented on #489
I think the easy way is show favicon，such as `https://www.google.com/favicon.ico`.

[2017-07-07 10:19] vus520 commented on #488
Can you support some more details?

[2017-07-07 12:01] inkrement commented on #488
What do you need? I really would like to provide some additional information, but I get no response - it simply does not work and there are no error messages or logs. I run a fresh php7 installation on ubuntu 16.04.

[2017-07-07 14:18] inkrement opened #490 "[Feature Request] Message Bird new api"
please support messagebird's new api :)

[2017-07-08 10:00] inkrement commented on #488
ok, it seems to work, but the response is quite strange:

1) the status is "ok", but there is a error message, which is weird!
![screen shot 2017-07-08 at 11 56 28](https://user-images.githubusercontent.com/604528/27984382-235feb1a-63d5-11e7-86f9-87793b909265.png)

2) The daily plot shows multiple points, but the hourly just one. the cron triggers the status.php every 5 minutes...

![screen shot 2

[2017-07-18 15:37] bpodwinski commented on #488
Crontab error debug:

`Fatal error: Call to undefined function psm\Util\Server\Updater\socket_create() in /var/www/html/src/psm/Util/Server/Updater/StatusUpdater.php on line 154`

For fix enable Socket for php:

`apt install php-net-socket`

[2017-07-19 09:44] mudolux opened #491 "mcrypt deprecated - Cronjob not working on PHP 7.1.7"
Hello,

Cronjob not working on PHP 7.1.7

[code]

[2017-07-19 09:45] mudolux opened #492 "Undefined constant PSM_DB_PORT"
Hello,

there is an undefined constant.

Warning:  constant(): Couldn't find constant PSM_DB_PORT in /var/www/.../phpservermonitor/vendor/symfony/dependency-injection/Loader/XmlFileLoader.php on line 417

(PHP 7.1.7)

[2017-07-19 10:59] phpfs commented on #459
@TimZ99 @cid_bot is fixed and working again - see github.com/phpfs/cid_bot

[2017-07-19 11:06] TimZ99 commented on #459
@phpfs Thanks 👍🏼

[2017-07-20 17:13] buzzard10 commented on #459
Hmmm i don't know why, but I can't implement this in my version of PMS 😢

[2017-07-20 17:15] buzzard10 commented on #459
I also tried to install new instance from [here](https://github.com/TimZ99/phpservermon/tree/telegram)
But i can't finish installation because after i try to configure new user i see error 500.

[2017-07-22 20:35] realitygaps commented on #451
I think i figured this out, use the following block:

[code]

should fix the issue (works here with multiple users now)

[2017-07-22 20:36] realitygaps commented on #451
I think i figured this out:
[code]

works for me (multiple users)

[2017-07-22 22:12] shyim commented on #491
I have also PHP 7.1.7 and it works. Did you forgot to install mcrypt extension?

[2017-07-23 10:23] inkrement commented on #488
It seems to work, but some plots are still "missing". I see the results if I click on day or week, but nothing on hourly level (but the daily plot indicates that there are multiple measurements each hour). So this is not a measurement error, this is just a visualisation problem.

However, if php-net-socket is is an requirement it should be checked on installation or mentioned somewhere. In my case

[2017-07-25 20:17] TimZ99 commented on #459
[Ready to implement](https://github.com/TimZ99/phpservermon/tree/Telegram-notifications)
Working on the translations right now. Help is always appreciated 😉.

Will update this list:
- [x] bg_BG
- [x] cs_CZ
- [x] da_DK
- [x] de_DE
- [x] en_US
- [x] es_ES
- [x] et_ET
- [x] fa_IR (English)
- [x] fi_FI
- [x] fr_FR
- [x] it_IT
- [x] ja_JP (English)
- [x] ko_KR (English)
- [x] nl_NL
- [x] pl_PL @emillod

[2017-07-25 22:29] TimZ99 commented on #459
For the Telegram notifications you're required to make a bot. In this version of the code you can only receive messages in the private chat with the bot, not in a channel. I will look if I can add this also.

[2017-07-25 23:40] TimZ99 commented on #97
This is in version 3.2.1 right? Is there a reason why this issue isn't closed?

[2017-07-26 10:13] phpfs commented on #459
I agree with @TimZ99 about channels - but you can send messages to groups as they seem to have normal chatIDs at first sight. Just add @cid_bot to your group and you will receive your chatID like you normally would. Only the dash before the chatID differs from normal Chats...
I will look at this later this day!

EDIT: Group chatIDs are all negative numbers compared to normal chats which have posit

[2017-07-26 11:14] TimZ99 commented on #459
The chatID variable is a string so a negative number shouldn't be a problem.

EDIT: Checkt and this isn't a problem.
Will search in the API documentation for a way to send messages to a channel.

[2017-07-26 12:02] TimZ99 commented on #459
Finally found a simple way to get the chatID from the channel.

Go to: https://api.telegram.org/bot `[replace with bot token]` /getUpdates
The chatID will be specified as id.
Add your bot as an admin to the channel and fill in the chatID on your profile.

I don't know if I add this instruction, translating is a lot of work.

[2017-07-26 15:36] phpfs commented on #459
Because every user needs to create a new telegram bot - I suggest the following:

Make the bot which a user creates able to answer to basic questions like:
/status - return the status of all servers
/online - only return all Servers that are online
/offline - ... that are offline
/details `<id>` - get details like status, speed, last_check for a specific server

This would be done by using telegra

[2017-07-26 16:56] TimZ99 commented on #459
It’s probably a lot of work, but will look into it after I finish the last translations.

[2017-07-27 22:39] buzzard10 opened #493 "NEW SMS Integration"
Hello
Is there any chance to add new integration SMS?
I mean SMS provider from Poland. Here you have any programmers informations:
https://en.serwersms.pl/integrations/for-programmers

[2017-07-30 07:47] SimonFearby commented on #384
Love the ssl expire feature as I recently blogged about this and let's encrypt http://fearby.com/article/using-phpservermonitor-org-check-whether-websites-servers-running/

[2017-08-01 08:15] av2k commented on #384
Hello,

see here: https://github.com/phpservermon/phpservermon/pull/494/commits/1743b6e3f9d0af8111f52abdcecf4f2cfe954a87

[2017-08-01 21:06] tttttx2 commented on #384
@av2k thank you very much for sharing, will give it a try soon :)

[2017-08-02 22:01] mkaand opened #495 "UDP Port check issue"
Thank you very much for your great effort and this project. I read previous topics about UDP port montior. As you mentioned I tried udp://hostnameORipaddress for port UDP 499

PHP Monitor says: port is open.
UDP Port scan website: https://support.nightlydev.org/tcp-udp-port-scan says: port is open
But actually port was closed. Then I realized my DDWRT has SPI Firewall and it was enabled. For this

[2017-08-07 21:38] Eddy2909 opened #497 "cant access /cron/status.cron.php"
when connecting to /cron/status.cron.php I get a 404 :(
V: 3.2.0
php: 5.6

[2017-08-07 22:25] Eddy2909 commented on #497
edit: deleted the ip check - works for me
(I'm on a shared host without cron)

[2017-08-08 09:12] viharm commented on #206
I have created a draft module (https://gitlab.com/viharm/PsmLDAPauth/tree/dev) which does the authentication with LDAP. Wasn't sure where to locate it so have assumed that this should be in the vendor tree.

The PSM authentication subroutine (https://github.com/viharm/phpservermon/blob/f087c6eb25fd7b27a398b308ba1715f8a43e8940/src/psm/Service/User.php#L215), simply delegates the authentication to t

[2017-08-08 11:19] seanvree opened #498 "CRON job for Windows?"
Love the application guys!

Got the application running on Windows 10 behind IIS.

Question - what's the best way to config a CRON job for windows?

THX!

[2017-08-08 12:22] insuman commented on #35
hi  Archangel236 i added this code in statusupdater.class.php and ping work
for me like a charm !

only one thing dont forget to change  "octets=32" to your own language
machine cause for me is in french good luck

protected function updateService($max_runs, $run = 1) {

    //add ping here

    if (($this->server['port'])==1) {
    $timeout = 5;

 $ip = $this->server['ip'] ;

 $ping = exec("ping

[2017-08-10 10:40] Eddy2909 opened #499 "history graph not working?"
![sadsadsadsadafa](https://user-images.githubusercontent.com/12877411/29166949-bedd5480-7dc8-11e7-9f21-e72011fe6c8a.JPG)
I dont see any graphs in the historie..

[2017-08-10 15:03] mkaand commented on #495
Is there any news about that?

[2017-08-12 02:50] seanvree commented on #498
Edit:  Figured this out for windows, not sure if you want to include this in your WIKI or Docs:

1.  Create the following file " cron.vbs " in \phpservermon\cron\
a.  Obviously, change the values below inside of the " < > "
[code]

2.  Create a basic windows task:  Settings:
a:  General: ENABLE  "run when user is logged on or not"
b.  Triggers:  Daily, Repeat every <x> minutes / hours, ENABLED
c.

[2017-08-16 13:12] JeroenBruneel opened #500 "Ping Monitor not working."
Hello,

I upgraded my install last night form 3.1.1 to 3.2. The ping monitor is a feature i would really want to work. So far its not working for me.

I am running phpservermon on a synology diskstation 214play.

Php version is 5.6 apache version 2.2.

I configured a ping monitor but the latency stays at 0s. I also noticed the service type is blank in the interface ? Is this normal ?

Can anyone p

[2017-08-16 17:10] TimZ99 commented on #439
All the tables are utf8_general_ci, only the users_servers table is latin1_swedish_ci. Don't know if this by mistake or...

[2017-08-16 17:22] TimZ99 opened #501 "Populating database error"
While populating the database, the server table isn't populating because of an error.

[2017-08-16 17:52] TimZ99 commented on #501
Fix > #502

[2017-08-16 19:58] stefan-muc opened #503 "allowed chars in username: Setup tool allows more chars than profile editor"
Setting up PHP Server Monitor via install.php allows adding an user with a dot ».« in username.
During later edit of my profile, I can't save it anymore, because the error message tells me that a dot is not allowed: _The username may only contain alphabetic characters (a-z, A-Z), digits (0-9) and underscores (_)._

I would like to see the dot being allowed also on user profile, and having the same

[2017-08-16 20:20] stefan-muc opened #504 "fix cronjob call by http/https"
see my comment at https://github.com/phpservermon/phpservermon/commit/0be8e40c50564ea3486f1b5316faf364bcdce2db

[2017-08-19 10:53] TimZ99 commented on #501
`Warning: SQL error: SQLSTATE[01000]: Warning: 1265 Data truncated for column 'rtime' at row 1 in src/psm/Service/Database.php on line 541`

[2017-08-19 12:00] TimZ99 commented on #498
Send a Pr, think it would be nice to have it in the [docs](https://github.com/phpservermon/phpservermon/blob/develop/docs/install.rst#setting-up-a-cronjob).

[code]

[2017-08-19 19:27] TimZ99 commented on #503
#478 I will PR the Validation check soon, will look in to adding a dot.

[2017-08-19 19:48] TimZ99 commented on #383
Pull request send #505 .

[2017-08-19 19:51] TimZ99 commented on #478
[Validation added](https://github.com/TimZ99/phpservermon/commit/e590022cf89ea46d70220eaa81662aa3089c1e77). Only need to change the error messages.

[2017-08-19 19:51] TimZ99 commented on #503
[Validation added](https://github.com/TimZ99/phpservermon/commit/e590022cf89ea46d70220eaa81662aa3089c1e77). Only need to change the error messages.

[2017-08-20 09:23] tjharman commented on #500
I agree, - this doens't work.
You can ping any random address, it doesn't matter, it always passes with a latency of 0.000000000

I also upgraded from 3.1.1 to 3.1.2 - is this the problem?

What more can I provide to debug?

[2017-08-20 22:01] mudolux commented on #491
Hm yes, i haven't installed mcrypt_get_iv_size because the PHP Doc says its deprecated since 7.1.0.
See http://de2.php.net/manual/de/function.mcrypt-get-iv-size.php

[2017-08-21 08:52] viharm commented on #206
The dependency on static configuration has now been completely removed. This module now depends on information passed to it as an argument.

Information is extracted from the DB by additional code in the user service subroutines (https://github.com/viharm/phpservermon/blob/88b2fab0bcd4e64247de9fceb58520a2d211091e/src/psm/Service/User.php#L215)

Added LDAP configuration section in the configuration

[2017-08-21 08:55] viharm commented on #206
Before I submit a pull request, I request @dopeh or @sadortun to provide some guidance on how the submodule will be packaged. My assumption proposes that it be packaged as a vendor module, along with its underlying submodules.

This will mean that the PR will include the code changed in the core to accommodate the UI changes and references to the LDAP login mechanism.

Is this OK?

[2017-08-22 20:12] januzi opened #506 "Server crash on install.php"
I've tried to install version 3.2 in a new directory and I've tried to overwrite v3.1. In both cases it just hangs on the install.php. I've managed to localise the problematic line
`$session = $this->container->get('user')->getSession(); ` and then go along the path to the
`$service = null === $r->getConstructor() ? $r->newInstance() : $r->newInstanceArgs($arguments);` (line 923 of the ContainerBu

[2017-08-22 20:30] januzi commented on #506
For the people having the same issue: check out if session_start is working properly.

[2017-08-22 20:30] #506 closed, assigned to nobody

[2017-08-23 12:15] viharm commented on #206
Added further functionality

* add AD domain settings (https://github.com/viharm/phpservermon/commit/4a5b58ee4ec5cd68d0f41a24531f3b8aefef40f7)
* checks to restrict directory groups (https://github.com/viharm/phpservermon/commit/fc68bbd88e388e0a4e973399e497ec7105862d65)
* default user role specification (https://github.com/viharm/phpservermon/commit/7c7c416b4ad47327188cd8f69b1e1205395815c0)

No "te

[2017-08-29 11:18] viharm commented on #206
@dopeh , @sadortun ,

I have submitted a pull request (#507) for this. Your feedback is welcome.

[2017-08-29 11:51] ryannix123 commented on #206
Thanks, @viharm! Can't wait to try it out. Any plans to add support for oAuth2?

[2017-08-29 18:12] viharm commented on #206
@ryannix123 , glad to see the interest. Currently the underlying libraries do not have support for *OAuth 2.0*. However I will investigate if this can be put on the roadmap.

[2017-08-31 22:36] seanvree commented on #456
@BristolITDave  - hey buddy, I tried this workaround, but didn't work for me, but I think I'm confused when you say

[code]

Can you post the entire file somewhere?

THX!

[2017-09-01 06:24] Jhamende opened #508 "Alert_type"
When set to "status change" it still sends like status "always".
In my case it generates a mail on every script launch and not only on status change.

I also checked in my database and it's correctly set to alert_type = status

[2017-09-01 06:40] davehamer commented on #456
Hi Sean,
Sorry my line 160 seems to be a bit different - let me give you the before and after code:
Before:
`socket_send($socket, $package, strLen($package), 0);
		if (socket_read($socket, 255)) {
			$this->rtime =  microtime(true) - $starttime;
			$status = true;
		} else {
			$status = false;
		}
		socket_close($socket);`

After:
`socket_send($socket, $package, strLen($package), 0);
		if (socket

[2017-09-01 10:29] seanvree commented on #456
Awesome! Thank you, seems like a pretty easy fix right?  Wonder why it hasn't been implemented yet?

[2017-09-02 15:51] viharm commented on #206
@ryannix123 , I have reviewed some high level documentation of concepts and deployment fof *OAuth 2.0*. Integrating this with *PsmLDAPauth* may be unwise. Moreover there are some well-mainteained implementations with built-in support for many providers (Google, MS, Github, etc.). My suggestion would be a separate module to interface with one of these libraries. I would love to work on this (and le

[2017-09-04 06:45] jckruger commented on #499
I have the same issue even from a new install. The database table is bare. The structure seems to be there but no data.

[2017-09-04 06:47] jckruger opened #509 "last online shows last time cron ran not total uptime"
It would be nice to see how long it has been online not how long ago the cron ran as in my case it is every 5 minutes

[2017-09-04 06:59] jckruger opened #510 "Status page block to show SSL cert days to expiry"
Something like this. What files would need to be changed to show this. I don't see any reference to the actual cert date in the database only the threshold set

![image](https://user-images.githubusercontent.com/20898927/30014764-594239d8-9191-11e7-9140-cacf572ddcf2.png)

Also when the expiry is lower than the threshold set can the test still run but show another color maybe Purple

[2017-09-06 02:48] luiscoms commented on #484
Nice idea, it could include some service groups or tags

[2017-09-06 12:22] jckruger commented on #510
Well at least I have now got the error or status to show up on the block and list page from editong this file
/src/templates/default/module/server/status/index.tpl.html
I could have added it to the language file but I am only going to use EN_US and am lazy

![image](https://user-images.githubusercontent.com/20898927/30111594-9f03eb80-9351-11e7-8c9b-2324402c7492.png)

[index.tpl.txt](https://github

[2017-09-08 10:15] pieter-groeneweg opened #511 "upgrading from 3.1.1 to 3.2.0 makes servers dissappear."
I upgraded a "running backup" of 3.1.1 to 3.2.0 according to the (old) instructions.
(copy and replace files but config.php, follow instructions.....)

It appeared to work, but my monitored sites and servers no longer show up in phpservermon.
As a proof they are still there I can only see it has something on these sites and servers as it shows in the Users Tab, column "servers".
Also my Pushover i

[2017-09-10 21:50] TimZ99 commented on #511
Have you ran the install process after replacing the files? (install.php).
Or
Have you made any changes to 3.1.1 or to the database that could have broke the program?

[2017-09-11 07:38] pieter-groeneweg commented on #511
As I said, followed instructions, no it is not a customized version.
No error messages in the logs either.

[2017-09-14 00:03] jckruger commented on #499
Just realised that it takes a week for the archiving bit to kick in and start showing some data. Just wait a week and see what happens
![image](https://user-images.githubusercontent.com/20898927/30406218-d706d442-9933-11e7-866f-1193081258b1.png)

[2017-09-14 01:30] sgtcoder opened #513 "Unable to choose port for website"
The system forces you to use website feature on port 80. All my sites are port 443/SSL. Please see screenshot: http://prntscr.com/gkw6x1

The service feature does not work either.

[2017-09-14 01:34] sgtcoder opened #514 "Email/SMS/Pushover Do not work"
The notification system to push email/SMS/Pushover do not work. The test does work, but nothing else.

[2017-09-19 15:47] ryannix123 commented on #491
I had to run sudo apt-get install mcrypt php7.1-mcrypt to get the cron jobs working again with PHP 7.1.9 on Ubuntu 16.0.4

[2017-09-19 16:10] ryannix123 opened #517 "Posting to Slack channel?"
Any plans to add Slack integration?

[2017-09-20 12:50] finalwebsites opened #518 "Server requirements"
Hi,

what if I use this script/app for more than 100 tests (regular website checks). How is the load on the server where the script is running? Do I need a bigger server?

[2017-09-21 06:40] cytracon opened #519 "Unauthorized - You do not have the privileges to view this page."
Just installed PHP Server Monitor. Everything looks fine so far. But as soon as I want to change some settings or adding a new server I get "Unauthorized - You do not have the privileges to view this page."

[2017-09-21 06:57] cytracon commented on #462
Hi, same problem here, but doesn't work with the config.php addition with version 3.2.0.

[2017-09-21 06:57] cytracon commented on #519
Is related to https://github.com/phpservermon/phpservermon/issues/462

[2017-09-21 06:57] #519 closed, assigned to nobody

[2017-09-22 22:36] djmixman opened #520 "Change seconds to milliseconds.."
Usually latency is measured in milliseconds.  Please either add an option or change the display to milliseconds.

[2017-09-24 23:00] zullusa opened #521 "Failed opening required bootstrap.php"
I've created the cron task:

`*/5 * * * * /usr/bin/php /home/user/cron/status.cron.php`

I've got the exception:

`PHP Fatal error: require_once(): Failed opening required '__DIR__/../src/bootstrap.php' (include_path='.:/usr/share/php5:/usr/share/php') in /home/user/cron/status.cron.php on line 29`

[2017-09-25 07:31] zullusa commented on #521
I have resolved this issue: when I call
`/usr/bin/php --version`
The answer was `5.2.17`
This version doesn't support `__DIR__`
Only `dirname(__FILE__)`
After I have started to call `/usr/bin/php7.1`, and the result have become ***SUCCESS***

The error has disappeared.

Sorry))

[2017-09-25 07:31] #521 closed, assigned to nobody

[2017-09-25 18:35] swiffer commented on #514
Same here is another cron Job needed?

[2017-09-25 19:27] swiffer commented on #514
it is working, you need to make sure you defined at least one user in server settings under premissions tab. that solved the issue for me!

@sadortun think that can be closed.

[2017-10-03 06:37] sgtcoder commented on #514
@swiffer Thank you! This ended up working.

[2017-10-03 06:37] #514 closed, assigned to nobody

[2017-10-04 05:29] #350 closed

[2017-10-04 23:53] Zdeamon opened #522 "Possible to add a Status Embed?"
I don't see anyways to show server status to the public. I don't see a use for this system without any ways to show the public your server statuses.

Either im looking in the wrong place or it doesn't exist.

Need a public page and a embed to the status so you can embed to your websites. https://image.prntscr.com/image/4HHKsZMKTVqIInUGe_W2Bw.jpeg

[2017-10-06 13:51] nickbe opened #523 "Shellscript execution or ssh on failure alert"
Is this possible ? So when for example a vserver is down - we automatically restart it via API

[2017-10-10 21:48] rAmfu commented on #491
Start with this your cronjob
1. crontab -e
2. Add this line: */5 * * * * /usr/bin/php7.0 /your/path/to/cron/status.cron.php

**/usr/bin/php7.0** not **/usr/bin/php**

[2017-10-10 21:53] rAmfu opened #524 "Failed to parse address &quot;8.8.8.8&quot;"
I can't ping and server adress.
**EDIT:**
When cronjob is working status is on, but error still on server name: Failed to parse address &quot;8.8.8.8&quot;
Manual update = server down O.o

**System:** Debian 9
**PHP Version 7.0.19-1 -m:**
[PHP Modules]
bz2 calendar Core ctype curl date dom exif fileinfo filter ftp gd gettext hash iconv json libxml mbstring mcrypt mysqli mysqlnd openssl pcntl pcre

[2017-10-11 17:20] mkaand commented on #495
No new release I guess. We're still waiting for new release. I hope they can release it.

[2017-10-14 09:46] decentguy49 opened #525 "Possible To have public status page"
Is it possible to have a front page which shows all websites and there status, I mean to check status i have to login and then it shows all, but is it possible to have look without logging in?

[2017-10-16 21:15] rAmfu commented on #518
O test this. When script is running every 5 min you need ~200MB ram and 1GHz for 10 - 15 sec

[2017-10-19 18:05] pieter-groeneweg opened #526 "config - email settings - test fails"
I have a new install of phpservermon on debian9/webmin/virtualmin

Upon testing the email settings for the notifications with SMTP enabled, the test fails with:

`Error in email sending: The following From address failed: address@domain.com : Called Mail() without being connected`

The mail server is on another remote machine.
I first though it to be a firewall or port forwarding issue. But anothe

[2017-10-19 21:48] quepasa commented on #500
I updated from 3.1.1 to 3.2.0, and Ping was not working. The problem was with the database. The update script did not add "ping" as an acceptable value for the "type" column in the "psm_servers" table. This meant that the server's "type" in the database was left empty when you saved a server with type "ping". I manually added "ping" to the list of acceptable types, and then created a new Server th

[2017-10-23 16:45] leonardpg commented on #517
I added a Slack integration to my local. It uses the incoming message hook url (See api.slack.com), and it posts a message to a channel in our slack with the '@everyone' tag so team members will see a notification even if they don't have slack open on their device. I still have a couple issues to work out, but I would like to contribute the feature to the project if they will have it.

[2017-10-23 16:55] ryannix123 commented on #517
@leonardpg that would be fantastic.

[2017-10-23 20:38] leonardpg opened #528 "had to fix a query in order to get cron to work"
I was having trouble getting the cron job to run and discovered I had to fix a query in UpdateManager.php , line 59. I had to drop `s`.`header_name` and `s`.`header_value` from the query because there were no corresponding fields in the servers table as installed. Once I did that and reset the 'cron_running' field to 0 in the psm_config table, then cron ran at the next 15 minute mark.

Having gone

[2017-10-25 10:15] PirSoft opened #529 "after latest update ping type not working."
hi dear;
after last update. ping type is not working.
select type and save. and click edtit > type = please select.
what is problem?

[2017-10-25 10:15] PirSoft commented on #529
all others not working stable.

[2017-10-25 18:44] tjharman commented on #529
Duplicate of #500

[2017-10-27 05:44] PirSoft commented on #529
ok. i resolved problem. need new installation.  old database problem about this issue. need check old database update.

[2017-10-27 05:45] PirSoft commented on #500
this problem about old database.  3.1.1 files upgraded to 3.2.0 but database not upgrade.  i deleted database and create new database and re-install 3.2.0.  all are working. no any problems.

[2017-11-01 19:11] masonr commented on #525
Not currently supported, but you can modify some of the PHP code to enable this as a workaround:
https://sourceforge.net/p/phpservermon/discussion/845823/thread/f1b2e4ff/

[2017-11-04 04:44] akkradet opened #530 "Why service costum port error permission denied"
port 445 3128 error permission denied howto config?

[2017-11-09 11:37] matroidde opened #531 "Possible to remove port on list view?"
Hello,

is it possible to remove the port field in the server list view..
Look at the screenshot:
![jojo](https://user-images.githubusercontent.com/31346301/32603651-c2e92dd2-c54a-11e7-9e08-e32003342049.png)

[2017-11-15 17:56] xyz404 opened #532 "Auto-refresh will not work"
Hello, the auto refresh function does not work properly. No matter what number I enter, it does not update / refresh. I tried to find a solution, did not get any further. Please help me to find a solution.

[2017-11-24 10:51] buzzard10 opened #533 "RSS"
Is there any chance to recieve notifications by RSS?

[2017-11-25 13:10] Philippe38 opened #534 "Problème avec le service PING avec PHP Server Monitor 3.2.0 - Problems with PING service"
Bonjour,

Je me retrouve dans l'impossibilité d'activer le service "PING" sur la console PHP Server monitor qui ne fonctionne pas.
Quand je fais un test, voici en gros la réponse que j'obtiens

Etat "Off" filed to parse adresse &quot;192.168.1.130&quot  ---> alors que le service est bien sur "surveillance activée". Je n'arrive pas à comprendre pourquoi les "&quot" sont ajoutés à l'adresse IP.

Mer

[2017-11-25 19:12] mupett commented on #534
Hello, I have the same problem. Any fix or workaround? Database type field seems to be ok with the ping type declared.

Regards
Luca

[2017-11-28 18:02] hiagodotme commented on #526
Have you tried a machine tellnet in which is the phpservermon application for the SMTP it is using?

[2017-11-30 23:03] TheGammelgalopper opened #536 "Won't get anything under index.php (require __DIR__ . '/src/bootstrap.php';)"
So I copied everything into /var/www/html and ran php install.php
There was no output for that script...

My php version: PHP 7.0.22-0ubuntu0.16.04.1 (cli) ( NTS )

When I try to access IP/index.php, I get this:

`<?php
/**
 * PHP Server Monitor
 * Monitor your servers and websites.
 *
 * This file is part of PHP Server Monitor.
 * PHP Server Monitor is free software: you can redistribute it and/o

[2017-12-01 03:38] gcollard opened #537 "[solved] Cron with phpfpm"
Cron failed to execute with recommended :
`*/15 * * * * root /usr/bin/php /var/www/html/phpservermon/cron/status.cron.php`

When using php-fpm, one should run cronjob on a sh script containing :
https://stackoverflow.com/questions/30238602/how-to-execute-a-php-file-using-a-php5-fpm-pool-socket

[2017-12-02 04:38] #537 closed, assigned to nobody

[2017-12-06 16:38] nyaaaaaaatalie commented on #536
Same issue. Ubuntu 16.04 with PHP 7.0?

[2017-12-06 20:15] dcoughler opened #538 "False FAILS reported"
I've setup a monitor to check an ASP page for "PASS". I believe there is an extra check in the curl code causing the issue, but my PHP is not good enough to troubleshoot. Can someone try this test and tell me how to fix the issue?
Domain/IP: https://ralcis.electricities.org/ecare_albe/login.asp
Type: Website
Port: 0
Search String: Paymentus
Warning Threshold: 1
Timeout: 5s
Monitoring: Yes
I always

[2017-12-07 11:43] mpathy opened #539 "Option that no login is needed? (that is no public status page request!)"
We have some TV screens in the company and want to view the status page there. The problem is, we have no possibility to login on those devices.

So my question is: Can I login with some URL parameters, too - or is there an option that there is no login needed overall?

Regarding security: I will of course restrict the viewing of the website to the IP address of the company - inside there its okay

[2017-12-07 18:48] jmcgranahan commented on #532
same issue for us

[2017-12-07 18:49] jmcgranahan commented on #539
definitely would like to see this

[2017-12-07 19:02] gabriellluz commented on #533
Mr. Emillod, this is a great idea. Anyway, for now, you can use tools like E-mail to RSS with Zapier. I've never tried, but it's a suggestion.

[2017-12-10 15:40] wedge1001 commented on #534
Hello,
I got the same problem.
It's a fresh installation with a fresh database from the 3.2 version.

Regards
wedge

[2017-12-11 00:26] Philippe38 commented on #534
Hello

In fact, after doing some tests, I realized that the BUG only happens when you force the monitor to refresh.

On the other hand, if you let it check normally, the ping responds correctly.

Regards

Philippe

[2017-12-11 15:06] wedge1001 commented on #534
Okay,
i've found the problem:

The code is trying to open a socket connection.
this will only work if your user, running the php process is allwed to open sockets - which the normal php-user isn't.
so trying to manually updating the servies within the web-gui will normally fail.
If you have running a cronjob for the testing it could work. if your cronjob runs as root server the ping will succeed.

[2017-12-12 21:59] TheGammelgalopper commented on #536
Ok that was dumb...
In Ubuntu 16.04 php has to be enabled seperately for apache...
just perform the following command:
sudo apt-get install libapache2-mod-php7.0

[2017-12-12 21:59] #536 closed, assigned to nobody

[2017-12-13 10:34] baur commented on #470
same problem, Windows Server 2016

[2017-12-14 09:18] repulse opened #540 "Posting to Pushbullet channel ?"
Any plans to add Pushbullet integration?

[2017-12-19 17:39] chasetb commented on #500
I ran into the same problem. I noticed that the "Ping" type wasn't being saved properly also. I dropped my database and created a new one with the same name and permissions. PhpServerMonitor then had me create a new user and set up the database fresh. After that, I created a couple of ping type servers and it's working fine.

[2017-12-23 16:45] Berni-MD opened #542 "how to start a cronjob from extern server?"
Is it possible to run the cron from an external server as well?
For example about cron-job.org

Whenever I call the url http: //server-xyz.de/phpservermon/cron/status.cron.php
via my browser nothing happens

[2017-12-24 21:38] king-jam opened #543 "Docker Version Lacks Cron Setup"
Need to add default cron setup or instructions for cron setup

[2018-01-02 20:25] dcoughler commented on #538
Any updates?

[2018-01-03 18:38] jefferose opened #544 "Frequent errors after upgrade"
I recently upgraded from 3.1.1 to 3.2.0 and after a huge ordeal of replacing the entire codebase (except the config and then including the config), the system is "kind of" running.

With every 2nd page load I get the following error:

`Fatal error: Uncaught InvalidArgumentException: [WARNING 1549] failed to load external entity "file:////home/MYSERVERNAME/public_html/monitor/vendor/symfony/depende

[2018-01-04 16:44] faspina commented on #500
I have brand new install of 3.2.1 and brand new database in MySQL and I am getting the failed to parse error on all Ping servers.  How can I fix this?

[2018-01-07 23:45] TimZ99 commented on #459
Wow juli 26, that's a long time ago. Hope I can find some time this week to finish.
@emillod did you find time to translate?

Current status:
- [x] Telegrambot can send messages on status change.
- [x] Translated in most languages.
- [x] Working on web hook / receiving messages from telegram and respond with the answer.
- [x] Custom login created for the bot so the bot can respond with data from t

[2018-01-08 06:53] buzzard10 commented on #459
@TimZ99 hello! Woow 👍 Great job!
Here You have file with Polish Translate :)
[pl-telegram.zip](https://github.com/phpservermon/phpservermon/files/1610793/pl-telegram.zip)

[2018-01-08 10:08] TeraBlitzer commented on #532
Hi  @xyz404 and @jmcgranahan, as an alternative, you might want to use "[Auto Refresh by 64 Pixels](https://chrome.google.com/webstore/detail/auto-refresh/ifooldnmmcmlbdennkpdnlnbgbmfalko)"

[2018-01-08 18:07] DJIronic opened #546 "Set language per user."
Hi guys,

I have one question/suggestion. Is it possible to select language per user? I am connecting my Monitoring with IFTTT and create a special language for the IFTTT acc will be really helpful. And also for worldwide projects, option to select language for every user will be cool.

[2018-01-09 23:59] axelwehner commented on #538
Just tested this for you. Yes, the curl request fails. Logged error output on Windows:

`Unknown SSL protocol error in connection to ralcis.electricities.org:443`

But the problem seems to be on server-side (see [SSL/TLS report](https://www.ssllabs.com/ssltest/analyze.html?d=ralcis.electricities.org)). The server admin maybe should consider an upgrade to more secure protocols.

**Dirty workaround

[2018-01-11 18:07] dcoughler commented on #538
Excellent! Thank you! Is there anyway to disable the SSL check entirely?

[2018-01-13 14:03] goodzht opened #547 ""GET /?&mod=server_update HTTP/1.1" 500 5 "-""
500 error
when i visit /?&mod=server_update

[2018-01-15 06:54] mkaand commented on #539
+1 But I think this project doesn't develop anymore.

[2018-01-16 23:12] mkaand opened #548 "Wrong status checks."
Hello,

I just wonder, the developer of this project is here or not. Seems nobody is taking care of it. I had some issue with latest release.

I moved my hosting from Windows Server to Linux (Ubuntu Server) Scaleway VDS

My previous hosting was shared hosting but on Windows Hosting PHPServerMonitor was working OK. My new server I set unlimited PHP Max Execution time. I hace more option (CRON) But

[2018-01-17 00:26] mkaand commented on #548
I understood what is the problem.

I added 6 Service Alarm + 3 Web Check and PHPServerMon all default settings.
Port 83 didn't checked. I disabled all of other alarms then It checked. Looks like something time out. But I couldn't find it.

[2018-01-19 12:40] TimZ99 commented on #548
Last commit was in may and to be honest I don't think that there will be any activity soon. They need to add a third admin to the project. I mean, I have 3? open pull requests pending, would be nice if they can be merged.

[2018-01-19 12:52] mkaand commented on #548
I hope they can be more active in this project. Very nice php script but it needs to fix some problems like UDP port check (I tried udp://ip_addres) For my problem I think it was related with IIS. I am not make sure. I set my IIS port on 83 and phpmon cannot check it.

[2018-01-30 20:10] CMircea commented on #498
Why the indirection through VBScript? Can't you just run PHP directly from the task action with the arguments?

[2018-02-01 21:47] vletroye commented on #547
Me too.

It used to work in the past, but I did reinstall it on my NAS (Synology DSM 6.1) and impossible to get the server_update working anymore

I have checked all log files (webserver, php, ...) and tested with apache or nginx without success :(
Curl is well installed (and used successfully by a few other php sites on the same NAS)

I have no idea how to trace & debug this issue...

[2018-02-02 18:47] paulpeeters opened #549 "Wake-On-LAN and Sleep-On-Lan"
I really like the UI ! I installed this on a Raspberry PI and it works fantastic well.

I was thinking if it wouldn't be possible to add WOL (using a magic packet) and eventually even a Sleep-On-Lan using for example a http request (and a small http utility on the remote PC or server). I admit that this is not normally part of a monitoring tool but it would be very handy.

[2018-02-03 03:25] duy13 commented on #546
And add function for user level "User" has more manage: add - delete - edit the server they have added

[2018-02-07 18:25] katsil commented on #438
Can someone help me please with app issue "Connection Error"?

[2018-02-08 21:59] ghost opened #550 "FreeMobileSMS : Bug when error sending"
Hi,

On the file FreeMobileSMS.php (l.43), $message must be encoded :
`$message = urlencode( $message );`
`curl_setopt($ch, CURLOPT_URL, "https://smsapi.free-mobile.fr/sendmsg?user=$this->username&pass=$this->password&msg=$message");`
Otherwise, the SMS is not sent
Thanks

[2018-02-08 22:23] ghost opened #551 "FreeMobileSMS : settings per user"
FreeMobileSMS plateform enable you to send sms for only one mobile phone number.

You need to set the API connexion parameters for each user, and not as a global configuration.

[2018-02-15 09:45] NightyLive commented on #51
God, 4 years and still not having an anonymous user used when you're not logged on. Is this so complicated to have this basic and obvious feature ? Should not even take an hour to implement for someone who have the knowledge....
But well, soon there will be one year without any updates on the project, no one still care about this, you're better to find another product that are still updated. This

[2018-02-15 15:27] Pofilo commented on #51
You can do it and make a pull request as it is so simple ...

So much negativity, you should search for a similar tool as this one is too bad for you ...

[2018-02-15 17:40] strugee commented on #51
To add to what @Pofilo said, @David-EU, you are getting this tool **for free**. You don't have the right to demand features from the maintainers (who are probably volunteers), _especially_ since looking at your profile you really don't seem to contribute a lot to open source yourself. Your comment was rude and entitled and you should check your privilege.

[2018-02-20 15:36] pekiZG commented on #548
@dopeh or @sadortun are you here?
Community would like to keep project alive :)

[2018-02-21 15:20] sadortun commented on #548
@mkaand @TimZ99 @pekiZG yes we are still here ! But already very busy, if you find issues feel free to submit PR and keep issues updates. If you are interested in volountering as a maintainer help is welcome !

[2018-02-21 15:34] TimZ99 commented on #548
@sadortun I did, but I'm waiting for @dopeh s response. Think he is busy because his last reply was two weeks ago. 🤓

[2018-02-21 20:30] dopeh commented on #548
Sorry guys, for not responding any sooner. The plan is to get Tim
involved to keep the project alive, but I just haven't gotten around to
sorting it out yet. I will get back to you Friday at the latest, Tim.

[2018-02-21 21:30] TimZ99 commented on #548
:+1:

[2018-02-24 00:14] #478 closed, assigned to nobody

[2018-02-24 00:14] #503 closed, assigned to nobody

[2018-02-24 00:27] TimZ99 commented on #501
#502 merged.

[2018-02-24 00:27] #501 closed, assigned to nobody

[2018-02-24 01:35] TimZ99 commented on #491
mcrypt_get_iv_size is deprecated since 7.1.0. The goal is to always support the latest version of PHP, so we need to update the code.

[2018-02-24 01:44] TimZ99 commented on #550
Thanks :smile: ! Could you send a PR please.

[2018-02-24 14:14] TimZ99 commented on #539
@mkaand On the contrary, the project is in active development (again)!

[2018-02-24 14:18] TimZ99 commented on #539
#368 Feel free to reopen when I'm wrong :smile:!

[2018-02-24 14:18] #539 closed, assigned to nobody

[2018-02-24 14:21] TimZ99 commented on #532
Which version are you on?

[2018-02-24 14:26] TimZ99 commented on #540
#355 added support for Pushbullet, but never got reviewed. Will have a look at it and will merge it when everything is fine.

[2018-02-24 20:02] acrylic-style opened #552 "mcrypt functions are deprecated"
This is part of /src/includes/functions.inc.php .
[code]
Thus, although mcrypt is used, these functions are **deprecated** in php 7.1.0 and **removed** in php 7.2.0.

https://wiki.php.net/rfc/mcrypt-viking-funeral

[2018-02-24 20:41] TimZ99 commented on #552
#491 It's open for contribution, so :wink:

[2018-02-24 20:41] #552 closed, assigned to nobody

[2018-02-25 17:51] #383 closed

[2018-02-26 19:17] sadortun commented on #51
Thanks @strugee for your constructive comment !

[2018-02-26 19:22] sadortun commented on #51
Thanks @strugee for your constructive comment ! This is always very sad when some users does not understand the nature of open source software, everybody here is there to contribute to their best, considering that we all have limited time to give for free, and our schedules are already full !!

@David-EU  Yes, you are right, this is not that complicated, and only take a few hours to implement, plu

[2018-02-26 22:23] #389 closed

[2018-02-26 23:04] TimZ99 commented on #97
As far as I know this is present in the current version.

[2018-02-26 23:04] #97 closed

[2018-02-27 23:27] TimZ99 commented on #548
@mkaand does everything work when you’re not checking an IIS port?
If so, do you have a solution for the problem?

[2018-02-27 23:51] mkaand commented on #548
@TimZ99 It seems OK now. I changed my server's PHP settings (time out settings) Now phpservermon checks perfectly but still UDP checks has a problem: Check this post: https://github.com/phpservermon/phpservermon/issues/495

[2018-02-28 00:38] TimZ99 commented on #495
No matter what, PSM reads a UDP port as open.
If you have a solution, I would love to hear. Will look at this asap.

[2018-02-28 01:03] TimZ99 commented on #547
Which PSM version are you on?

Did you change anything to the environment, like upgraded PHP version or so?

Have you tried to enable the [debug mode](http://docs.phpservermonitor.org/en/latest/install.html#troubleshooting)?

[2018-02-28 01:16] TimZ99 commented on #409
I can see why you want to see this feature implemented! Maybe you can try and find someone who's willing to send a pr :smile:.

[2018-02-28 01:31] TimZ99 commented on #525
#368

[2018-02-28 01:31] #525 closed, assigned to nobody

[2018-02-28 01:37] TimZ99 commented on #368
Additional requests from other issues:
- #539 Only disable login for specific IP.

Summery:
The user login could be disabled.
- So the current status and the history will be publicly available.
- But an administrator account will still be necessary to add and remove servers.

correct?

[2018-02-28 08:09] mkaand commented on #495
@TimZ99 Unfortunately I do not have a solution but I can help as a tester. I know DDWRT very well. I have good testing environment. Definitely it needs fix for UDP (future releases)

[2018-02-28 17:33] TimZ99 commented on #551
Sorry, I don't know what you mean. Please explain.

[2018-02-28 18:52] TimZ99 commented on #550
Ehm how do I get an API key, my French isn't that good.

[2018-02-28 19:15] #500 closed, assigned to nobody

[2018-02-28 23:17] ghost commented on #550
Hi :-)

Sorry for my response time and poor level of English.

Unfortunately, the Free SMS API is reserved for Free mobile clients.

This is what I'm trying to explain in my other PR (https://github.com/phpservermon/phpservermon/issues/551), the Free API can only be used by the owner of the number.

Like, for example:
https://smsapi.free-mobile.fr/sendmsg?user=FREE_ID&pass=PASS_FREE&msg=MY_MESSAGE

[2018-02-28 23:24] ghost commented on #551
Sorry for my response time and poor level of English.

Unfortunately, the Free SMS API is reserved for Free mobile clients.

The Free API can only be used by the owner of the number.

Like, for example:
https://smsapi.free-mobile.fr/sendmsg?user=FREE_ID&pass=PASS_FREE&msg=MY_MESSAGE
can only send an SMS to the user ID_FREE, and on no other mobile phone

it should be possible to set up the FREE_ID

[2018-02-28 23:28] #550 closed, assigned to nobody

[2018-02-28 23:30] TimZ99 commented on #551
Feel free to send a pr.

[2018-03-01 00:04] #518 closed, assigned to nobody

[2018-03-01 00:08] TimZ99 commented on #511
Do you still have this problem?

[2018-03-01 00:14] TimZ99 commented on #509
If the server is online you can see when the server was last confirmed to be online.
If the server is offline you can see the last time that the server was online and the last time this was confirmed.

[2018-03-01 00:14] #509 closed, assigned to nobody

[2018-03-01 00:17] TimZ99 commented on #453
More information was requested but never came. Feel free to reopen if you have the additional info.

[2018-03-01 00:17] #453 closed, assigned to nobody

[2018-03-01 00:18] #372 closed

[2018-03-01 00:19] #439 closed

[2018-03-01 01:22] TimZ99 commented on #451
🤔 only get this working when I sent a test message.

[2018-03-01 12:37] jmcgranahan commented on #547
I'm getting the same with PHP Monitor 3.2.0, with the following errors:

Warning: socket_create(): Unable to create socket [1]: Operation not permitted in /apps/phpservermon-3.2.0/src/psm/Util/Server/Updater/StatusUpdater.php on line 154

Warning: socket_set_option() expects parameter 1 to be resource, boolean given in /apps/phpservermon-3.2.0/src/psm/Util/Server/Updater/StatusUpdater.php on line

[2018-03-01 13:33] pbksol commented on #542
You have to create a little bit php code to be run from the external cron.

Something like… Let's say we call this file "cronexternal.php" and we place it into the root dir.

`<?php
exec ('php ./cron/status.cron.php --uri="http: //server-xyz.de"');
?>`

You can run the cron using http: //server-xyz.de/cronexternal.php. Ok, you're running it in a subfolder, but you get the idea.

Limitation: you ne

[2018-03-02 12:09] V1n1v131r4 opened #556 "New Telegram integration"
I set chat id on user profile and set token in configuration page but when i test the telegram integration doesn't work for me... chat is appears in the database (psm_users table) but doesn't work the integration.

[2018-03-02 22:59] TimZ99 commented on #556
You need to activate the bot first.
1. Open a chat with your bot. (Botfather gave a link to it.)
2. Press start or type /start .
3. Try the test again.

[2018-03-03 04:08] TimZ99 commented on #556
Got confirmation via Gitter that this was the solution. Will add this to the docs soon.😄

[2018-03-03 04:08] #556 closed, assigned to nobody

[2018-03-03 04:25] TimZ99 commented on #547
Did you guys check the file permissions?

[2018-03-04 02:48] TimZ99 commented on #530
Ehm maybe because the service closed port 445 for unauthorized access?
You need to fix this with the service.

[2018-03-04 02:50] TimZ99 commented on #526
Due to the lack of response, I assume that this problem has been resolved.

[2018-03-04 02:50] #526 closed, assigned to nobody

[2018-03-04 02:51] TimZ99 commented on #520
You can always send a PR.
I'm curious to know what the community thinks about this.

[2018-03-04 02:53] TimZ99 commented on #493
There is! 😄
Maybe you can find someone that's willing to implement this.

[2018-03-04 02:55] TimZ99 commented on #497
So the problem is solved?
Please reopen if it's not.

[2018-03-04 02:55] #497 closed, assigned to nobody

[2018-03-04 02:58] TimZ99 commented on #520
#485

[2018-03-04 02:58] #520 closed, assigned to nobody

[2018-03-04 03:03] TimZ99 commented on #492
Is this everything the warning had to say?
Because there are no PSM variables in the vendor directory.

[2018-03-04 03:11] TimZ99 commented on #483
I can't tell you the answer to this question, did you read the [license](https://github.com/phpservermon/phpservermon/blob/develop/LICENSE)?

[2018-03-04 03:13] TimZ99 commented on #471
This feature is on the list to be implemented. Maybe you can find someone with some spare time 😄.

[2018-03-04 03:13] #471 closed, assigned to nobody

[2018-03-04 03:15] TimZ99 commented on #452
Looking at how it's currently done and some copy paste helps a lot 😜

[2018-03-04 03:17] TimZ99 commented on #448
Find support and someone that's willing to add this 😉.

[2018-03-04 03:20] TimZ99 commented on #423
#451

[2018-03-04 03:20] #423 closed

[2018-03-04 03:27] TimZ99 commented on #415
This is still relevant.

[2018-03-04 03:30] TimZ99 commented on #387
(Apache) Authentication for monitored websites is supported.
Think that this is what you were looking for.
Please reopen if I'm wrong.

[2018-03-04 03:30] #387 closed

[2018-03-04 03:31] TimZ99 commented on #508
Is this still relevant?

[2018-03-04 03:37] TimZ99 commented on #166
Proxy is in the latest version, Services are not supported tho.

[2018-03-04 18:04] vletroye commented on #547
I have dropped my DB and created a new one, with a dedicated user being granted all rights. I did next copy the sources from v3.2.0 into a new folder in my Synology's web station (using Windows Explorer to drop the files into a folder like \\<Synology>\web\phpServerMon). And now, when I click on "Update" it's just running fine...

The only difference I am aware is that I have updated my DSM... It

[2018-03-07 17:00] TimZ99 commented on #547
`<?php echo phpinfo(); ?>` please check if Sockets Support is enabled.

[2018-03-07 17:10] TimZ99 commented on #543
Feel free to add this! 👍

[2018-03-07 17:29] vletroye commented on #547
As far as I am concerned, I have the following module enabled in the php settings used for my website:

- curl
- opensll
- pdo_mysql (this one I am 100% sure I had to enable it to be able to run PhpServerMon properly.)
- phar
- zip

[2018-03-07 19:03] TimZ99 commented on #547
The monitor uses SOCK_RAW and this requires root access.

[2018-03-07 19:05] TimZ99 commented on #466
If you find someone who's willing to implement this, yes.

[2018-03-07 19:16] TimZ99 commented on #463
At this moment we don't have that option.
You could use curl_multi. The best way is to implement this into the core I think.

[2018-03-07 19:16] #463 closed, assigned to nobody

[2018-03-07 19:17] #452 closed, assigned to nobody

[2018-03-07 19:21] TimZ99 commented on #442
I assume it's working. Feel free to reopen if it didn't.

[2018-03-07 19:21] #442 closed

[2018-03-07 19:25] TimZ99 commented on #396
This is solved I guess. Latest version seems to be okay.

[2018-03-07 19:25] #396 closed

[2018-03-07 19:26] TimZ99 commented on #373
Guess this is no longer an issue. Feel free to reopen if I'm wrong.

[2018-03-07 19:26] #373 closed

[2018-03-07 19:40] TimZ99 commented on #102
I hope that I have a few hours spare time this month!

[2018-03-07 19:44] TimZ99 commented on #495
#99

[2018-03-07 19:50] TimZ99 commented on #382
The original reason for this issue has been solved. The new issue can be discussed in #403.

EDIT: Thanks for the pr 😄 btw.

[2018-03-07 19:50] #382 closed

[2018-03-08 06:15] vletroye commented on #547
That's really wierd because phpServerMonitor runs now fine on my Synology and is using the web 'http' account ?!

[2018-03-09 14:26] buzzard10 opened #557 "PUSH URL if can't connect"
Hello.
Is there any chance to push some url if phpservermon have problems with connect to server?

[2018-03-09 15:18] TimZ99 commented on #557
What do you mean by pushing a url?

[2018-03-09 15:50] buzzard10 commented on #557
I want to run some action if phpservermon can't connect to URL/server. For example http://example.com/action.php :)

[2018-03-09 16:24] acrylic-style commented on #491
The best way to migrate from mcrypt is to use openssl.
Unfortunately, since it is incompatible with mcrypt, encryption needs to be restarted from the beginning, and "upgrade.php" may be necessary.
Or, although not recommended much, it is a method to install mcrypt using pecl.

[2018-03-09 16:36] TimZ99 commented on #547
I honestly don't have a better answer right now. You could try to change SOCK_RAW to the non-root required version...

[2018-03-09 16:39] TimZ99 commented on #491
There is an upgrade function so we could use that.

[2018-03-09 18:38] Foorack commented on #543
@TimZ99 I made a PR for it https://github.com/phpservermon/docker-phpservermonitor/pull/3 :smiley:

[2018-03-10 07:36] coolguruji opened #558 "Unauthorized issue on installation"
Hi,

I am trying to install this script on my centos server.
PHP / Curl module both found

So I entered the details and its now giving me the following error:
Unauthorized
You do not have the privileges to view this page.

I don't know what's the problem

[2018-03-10 10:01] vletroye commented on #547
Hey Tim. As far as my case is concerned, as I mentioned above: now, when I click on "Update" it's just running fine... ;)

So, the problem is gone, possibly since I have updated my DSM or more probably my WebStation (as the  new version come with support for php settings dedicated per back-end servers).

[2018-03-10 13:09] TimZ99 commented on #547
Whoops, I misread that. 😄

[2018-03-10 13:18] TimZ99 commented on #558
Which version are you using?

Does this problem occur after you finish the installation?

[2018-03-10 21:10] marc-farre opened #560 "HTTPS Website with a port different from 443 doesn't work"
In a terminal, if I write `curl https://idp.co.tools:8443/auth/` I have the HTML code.

But if I want to monitor this website with phpservermonitor, it does'nt found it.

What can I do ? Thanks.

[2018-03-11 01:15] TimZ99 commented on #560
Just choose type website and the monitor should take care of the rest.
![afbeelding](https://user-images.githubusercontent.com/15219858/37248407-dfe37c76-24d1-11e8-9540-23aa10273d28.jpeg)

[2018-03-11 04:22] coolguruji commented on #558
Well, I just downloaded it yesterday from the website. Its newer version.
When i tried to install it on my vps. I am not able to install it.

But i tried to install it on one of my shared host. I got it installed.
It looks like something is wrong with my vps but i cant detect that.

[2018-03-11 08:21] marc-farre commented on #560
Thanks for your answer. It's exactly what I did, so it means it's a problem from my server.
Sorry for the question, next time I will try on an other server before asking !

[2018-03-11 08:21] #560 closed, assigned to nobody

[2018-03-11 13:32] TimZ99 commented on #560
No problem 😉

[2018-03-11 13:34] TimZ99 commented on #558
Do you have the required php modules installed and is your MySQL setup correctly?

[2018-03-11 15:08] rht0910 commented on #491
https://github.com/rht0910/phpservermon/blob/develop/src/includes/functions.inc.php
How about this?

[2018-03-16 08:42] TimZ99 commented on #473
#255

[2018-03-16 08:43] TimZ99 commented on #557
#255

[2018-03-16 08:43] #557 closed, assigned to nobody

[2018-03-18 19:50] TimZ99 commented on #558
Do you have an update on this issue?

[2018-03-18 19:51] #548 closed, assigned to nobody

[2018-03-18 19:54] TimZ99 commented on #549
Don't know how big the support is for this feature. Would love to know!

[2018-03-18 19:57] TimZ99 commented on #540
Okay, it wasn't.
Feel free to contribute!

[2018-03-18 19:59] TimZ99 commented on #531
No. Why would you remove it?

[2018-03-18 20:01] TimZ99 commented on #530
Please reopen if you have an update.

[2018-03-18 20:01] #530 closed, assigned to nobody

[2018-03-23 13:48] msbt commented on #206
Hi there!
Is there an eta on the LDAP login? I tried to use the pull request, but couldn't get it to work (probably my fault).

Best regards, M

[2018-03-23 23:31] TimZ99 commented on #206
Resolved the conflicts, maybe you have more luck now!

[2018-03-25 16:17] ghost commented on #534
I have the same problem. Does anyone know how to solve this problem?

[2018-03-26 12:27] msbt commented on #206
Thanks @TimZ99 - now I got all folders where they're supposed to be, but I can't login with ldap just yet.

With debug enabled it says "Binding successful" but then these show up:

` Warning: ldap_search(): Search: No such object in /app/data/public/test/vendor/PsmLDAPauth/phpLDAPauth/phpldapauth.php on line 438`

` Warning: ldap_get_entries() expects parameter 2 to be resource, boolean given in /

[2018-03-26 19:53] jangrewe opened #561 "Allow custom webhooks"
Hi, i reused one of the SMS providers to have PSM speak its messages through my Serverless Nabaztag (https://github.com/andreax79/ServerlessNabaztag/) using Google Translate's TTS feature (e.g. http://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=Test+message), but i was wondering if there's a cleaner way to allow integration calls to custom services?

My hackish solution is thi

[2018-03-27 00:50] mlarac opened #562 "blank page http://www.alo.com/?&mod=user"
hello:

I installed the server monitor, but when I click on the user from the menu bar, it shows the blank page. I guess I missed FTP files?

[2018-03-27 10:00] ntsoaua commented on #534
J'ai aussi le même problème. Merci de nous aider

[2018-03-27 14:38] TimZ99 commented on #562
There is no monitor on http://www.alo.com . Please upload again and provide a valid url.

[2018-03-27 14:53] TimZ99 commented on #561
Haha nice solution. At this moment custom webhooks are not supported. It's on the list tho #255 !
Will work on it asap.

[2018-03-27 15:14] TimZ99 commented on #534
Haha okay, my French isn't that good, glad that Google Translate exists 😅.

There are a few more issues with the ping function. Will look for a solution asap. In the meantime, do some Google searches, maybe you're lucky.

[2018-03-27 18:17] C00Lzero commented on #534
@vjdjPL / @ntsoaua
setup a cronjob which runs as root like written here:
http://docs.phpservermonitor.org/en/latest/install.html#setting-up-a-cronjob

@TimZ99
there shouldn't be a solution which would do a real icmp without having root rights, due to the fact, that we are opening a layer3 socket, (fsockopen)
Perhaps there is something that can be done with the php-user, but that would also be a li

[2018-03-27 18:24] ghost commented on #534
@C00Lzero I have configured to as root and it works, but when I use update in panel all servers are "down" and I have an error:  filed to parse address

[2018-03-27 18:38] raggoo commented on #112
Why was twilio sms never added please?

phpservermon really needs twilio.

[2018-03-27 18:47] TimZ99 commented on #112
Idk, will have a look.

[2018-03-27 18:51] TimZ99 commented on #112
Hmm, it seems like nobody took the time to implement it.

[2018-03-27 18:52] mkaand opened #563 "Upgrading tutorial"
Hello,

This is not issue. I just wonder. I am using 3.2.0 and I would like to upgrade to 3.2.2 is there any tutorial for upgrade progress? I guess DB will be change too. If you can give me information about upgrade, I will be appreciate.

[2018-03-27 18:53] baur commented on #563
how to migrate DB?

[2018-03-27 18:53] TimZ99 commented on #563
http://docs.phpservermonitor.org/en/latest/install.html#upgrade

[2018-03-27 18:54] TimZ99 commented on #563
Ehm wait one sec, want to test something.

[2018-03-27 18:55] mkaand commented on #563
OK @TimZ99 Thank you for fast response. I will wait news from you. I will read docs

[2018-03-27 19:14] TimZ99 commented on #563
Changed the releases to pre-release. There seems to be a problem during the upgrade. Having a look at it right now.

[2018-03-27 19:17] ryannix123 commented on #563
Confirmed. Fortunately, I was able to rollback the upgrade.

[2018-03-27 19:19] TimZ99 commented on #563
Everything works fine when you replace the 3.2.1 or 3.2.2 files with the 3.2.0 files.
There is an unknown column s.header_name in 'field list'.

[2018-03-27 19:49] TimZ99 commented on #563
The problem is that the version is changed before the actual upgrade. The install thinks that you're already updated and won't add the new columns to the database.

[2018-03-27 20:07] TimZ99 commented on #563
Okay took a bit longer than planned, but I think I fixed it!

[2018-03-27 22:24] TimZ99 commented on #563
Could you guys test it btw!
Made a small update to the releases.

- Just upload the files (leave config.php)
- Open your monitor, it should give a message that the database is outdated.

[2018-03-28 12:17] mkaand commented on #563
Is it safe to upgrade now?

[2018-03-28 12:44] TimZ99 commented on #563
Yes.

[2018-03-28 12:45] TimZ99 commented on #563
You should download the release again btw! If you're using the release you downloaded yesterday it won't work.

[2018-03-28 12:47] TimZ99 commented on #563
@baur The db will be updated by the monitor during the upgrade.

[2018-03-28 12:53] ryannix123 commented on #563
It worked. Thanks, @TimZ99!

Any chance you could merge the LDAP plugin?

[2018-03-28 13:26] TimZ99 commented on #563
Just looking at it! Need to figure out how to test it tho, never used LDAP 😅

[2018-03-28 19:06] TimZ99 commented on #563
Had a look at it, if I understand correctly you need to add a few files yourself and I'm not a fan of that. The setup needs to be as simple as possible.

[2018-03-29 05:53] ksuuk opened #564 "services-1.0.xsd is missing"
Hi,

phpservermon-v3.2.0.tar.gz, install.php error:

Fatal error: Uncaught exception 'InvalidArgumentException' with message '[WARNING 1549] failed to load external entity "file:////var/www/data/sm/vendor/symfony/dependency-injection/Loader/schema/dic/services/services-1.0.xsd" (

The reason - file is "services-1.0.xs" not "services-1.0.xsd". Manually renaming is workaround.

[2018-03-29 06:44] ksuuk opened #565 "Servers cloning, status view, service groups."
1) As I have 15 servers, each with many (about 5-11) services, I must make manually new config for every service + ping etc. It should be other way, the server configuration page should have possibility to select all services in one page and clone servers.

2) Status now shows 15 servers with every service in green box. They look as same. Why green box/line doesn't show the port? Why I must manual

[2018-03-29 07:18] mkaand commented on #563
Hi @TimZ99 I had issue for my upgrading progress. What I did:

1. I renamed my servermon folder to servermon_old
2. I copied config.php to my laptop.
3. I uploaded all files in 3.2.2 as servermon folder.
4. I copied back config.php to the server.
5. I try to open install.php

It says:
No dependencies found in vendor dir. Did you install the dependencies? Please run "php composer.phar install".

It

[2018-03-29 07:31] mkaand commented on #563
Hello again,

I copied vendors folder and try to run install.php. It works perfectly. Thank you @TimZ99 Telegram notifications are great. I already have Telegram Bot. I use same API for servermon. But I think in user details section we should write Telegram USER_ID not USERNAME. I wrote my username TEST telegram message doesn't work. I typed my Telegram USER_ID it worked.

[2018-03-29 07:42] mkaand opened #566 "UDP Port testing problem v3.2.2"
I upgraded my Server Monitor to 3.2.2 It is perfect but still cannot check UDP ports correctly. Here is the my testing environment.

I have DD-WRT router UPNP disabled
My torrent client uses UDP 499 port and it is already forwarded.
Servermon shows always open even if I shutdown torrent client.
But https://check-host.net/check-udp website correctly shows my UDP 499
If my torrent client running it

[2018-03-29 08:07] raggoo opened #567 "FREE major carrier SMS text notifications workaroud"
Most major carriers have email to SMS gateways so the work around here is to setup your servers/users to use email and set the email address to your number @ your carriers email to SMS gateway.

i.e. My carrier is cricket wireless so to send a test message to my phone I set my email address to 167XXX61223@mms.cricketwireless.net and it automagically comes through as text message on my phone!

COST

[2018-03-30 16:50] TimZ99 commented on #563
Both releases now contain the vendor folder!

I will have a look at the Telegram user_id.

[2018-03-30 16:50] #563 closed, assigned to nobody

[2018-03-30 16:51] TimZ99 commented on #558
I will close this issue tomorrow and assume the problem is gone if there is no response.

[2018-03-30 17:28] TimZ99 commented on #566
Yeah I know, haven't had the time to look at it.

[2018-03-30 17:45] TimZ99 commented on #265
Looking at the logs will do the job, but I will add the date to the server info. 😃

Last check;
Last online;
Last error;
Last raw error output.

[2018-03-30 17:53] TimZ99 commented on #565
Why are they missing, simple, nobody took the time to add them :)

Will have a look at it. In the meantime, feel free to contribute.

[2018-03-30 17:55] baur commented on #430
any suggestions?

[2018-03-30 17:57] TimZ99 commented on #564
v3.2.2 is available.
I install the monitor quite often but never had this issue. Think something went wrong during the composer install.

[2018-03-30 17:58] TimZ99 commented on #562
I assume you missed a file and that everything works fine by now.
Feel free to reopen if it isn't.

[2018-03-30 17:58] #562 closed, assigned to nobody

[2018-03-30 18:03] TimZ99 commented on #430
I will have a look for you!

[2018-03-30 23:28] TimZ99 commented on #566
#99

[2018-03-30 23:28] #566 closed, assigned to nobody

[2018-03-30 23:31] TimZ99 commented on #532
@xyz404 @jmcgranahan Any updates? If none I will assume the problem is gone.

[2018-03-30 23:35] TimZ99 commented on #508
Guess not. Feel free to reopen with more info.

[2018-03-30 23:35] #508 closed, assigned to nobody

[2018-03-31 00:12] TimZ99 commented on #112
https://github.com/phpservermon/phpservermon/tree/feature/twilio

[2018-03-31 07:10] TimZ99 commented on #112
Btw, the current version doesn’t work. The path to the Twilio class is incorrect. Will change this later today.

[2018-03-31 23:47] TimZ99 commented on #558
Reopen if you have an update.

[2018-03-31 23:47] #558 closed, assigned to nobody

[2018-03-31 23:53] TimZ99 commented on #532
Reopen if you still have the problem.

[2018-03-31 23:53] #532 closed, assigned to nobody

[2018-04-02 00:41] TimZ99 commented on #112
It's added to the develop branch.

[2018-04-02 00:41] #112 closed

[2018-04-02 08:48] viharm commented on #206
@msbt , are you still encountering these issues? If so, may I request a debug log from the *PsmLDAPauth* module?

[2018-04-02 13:15] jmcgranahan commented on #532
Not really gone – just found an alternative. I am using a cron job on my server to check every 10 minutes.

[2018-04-02 15:55] msbt commented on #206
@viharm , yes, still having issues. What exactly do I have to do to get that log? Or is it just the whole page with debug enabled that you want?

[2018-04-02 18:02] TimZ99 commented on #532
Refreshing the page doesn't update the servers. Only the update button and a cron job will do that.

[2018-04-04 05:00] mkaand opened #570 "Help for Search String Monitor"
Hello,

I am not expert of RegEx. I just want to monitor Twitter Verified Form website : https://verification.twitter.com/welcome

As you can see it says : Check back soon!

I cannot monitor this website. What I want: If Check back soon! this appear my server should be fail. So I can easily understand the website updated. Can you help me? v3.2.2

[2018-04-04 05:13] mkaand commented on #570
I think problem related with twitter login requirement. Above link needs to login twitter.

[2018-04-04 06:09] #570 closed, assigned to nobody

[2018-04-04 14:34] idduarte commented on #500
I have same problem with version 3.2.0, it´s a clean installation, so i think that is no a updating problem,  well i can´t test ping for any IP address, and show me an error about failed to parse address.

![image](https://user-images.githubusercontent.com/4246381/38314167-4066b532-37eb-11e8-8b16-ca8c5b8bf36a.png)

[2018-04-04 16:38] TimZ99 commented on #500
#516 Should fix this. It will be in v3.2.3, you could clone the develop branch until I officially release it.

[2018-04-04 21:01] HermanRas commented on #565
I will work on this 👍 We use PHPServerMon extensively in our organization and this will really add a lot of value. I will also look at adding Tag's for easy grouping of similar servers.

[2018-04-09 14:52] TimZ99 commented on #565
Great!

[2018-04-10 20:59] RP92 opened #572 "Error 500 /?&mod=user"
/?&mod=user
trying to go to the users tab the page returns a 500 error

[2018-04-10 23:44] mlarac opened #573 "error on user module"
Fatal error: Declaration of psm\Module\User\Controller\UserController::run() must be compatible with psm\Module\AbstractController::run($action = NULL) in /home/monitorredes/monitor.redessur.cl/src/psm/Module/User/Controller/UserController.php on line 36

[2018-04-11 13:00] AHTOLLlKA commented on #513
+1, how i can setup to chek my website with SSL at 443 port
connect + find string in raw html

[2018-04-11 23:04] EmanH commented on #405
I have the same problem.

[2018-04-12 11:21] MFDW opened #574 "Latency (average) should update when filtering time range"
## Background
We have a problem as we can't get the information we want from the historical graph view of server monitor to understand and analyse average response times before/after key events (software release, data change, downtime incident, etc.)

## User story
As a server monitor user
When I am filtering a graph view time range (using mouse click and drag)
I want the Latency (average) calcula

[2018-04-12 11:41] TimZ99 commented on #572
500 of 505?
Which version are you on?

[2018-04-12 11:45] RP92 commented on #572
Excuse me I was wrong to write the 500 error title

[2018-04-12 11:48] TimZ99 commented on #572
Which version are you using?

[2018-04-12 11:51] RP92 commented on #572
3.2.2

[2018-04-12 11:55] TimZ99 commented on #567
Feel Free to write a short explanation for in the docs.
Please mention that people need to check with there carrier and that not all carriers support this.
(Non in the Netherlands do for example.)

[2018-04-12 11:55] TimZ99 commented on #567
Feel Free to write a short explanation for in the docs.
Please mention that people need to check with there carrier and that not all carriers support this.
(Non in the Netherlands do for example.)

[2018-04-12 11:58] TimZ99 commented on #564
Correction, I have had this issue, but composer was the problem.

[2018-04-12 11:58] #564 closed, assigned to nobody

[2018-04-12 11:59] TimZ99 commented on #572
#547 do you have the same problem?

[2018-04-12 12:01] RP92 commented on #572
Yes I just click on the user from the menu the page from error 500

[2018-04-12 12:01] TimZ99 commented on #542
I assume that you got the answer you were looking for. @pbksol thanks for answering 😄

[2018-04-12 12:01] #542 closed, assigned to nobody

[2018-04-12 12:02] TimZ99 commented on #572
Okay than I will close this one.
Will look at it ASAP.

[2018-04-12 12:02] #572 closed, assigned to nobody

[2018-04-12 12:06] TimZ99 commented on #531
Please reopen if you have the answer.
I’m wondering why you would remove it.

[2018-04-12 12:06] #531 closed, assigned to nobody

[2018-04-12 12:12] TimZ99 commented on #543
And I reviewed it and requested some changes. Do you have time to fix those?

[2018-04-12 12:18] TimZ99 commented on #483
A copy of the license and copyright notice must be included with the software.
I think you can count the footer as copyright notice, so that’s a no I I guess.

[2018-04-12 12:18] #483 closed, assigned to nobody

[2018-04-12 12:20] TimZ99 commented on #492
Feel free to reopen with a response.

[2018-04-12 12:20] #492 closed, assigned to nobody

[2018-04-12 12:47] buzzard10 commented on #483
Thanks for your reply :)
PHPServerMon is based on GPL license, right? So i must add information about license for example in files, but do i need to put information in footer?

[2018-04-12 13:42] TimZ99 commented on #483
Here is a link to the license. https://github.com/phpservermon/phpservermon/blob/develop/LICENSE

```GNU General Public License v3.0```

I need to say that I'm in no way a legal expert. Maybe this link will help you: http://www.gnu.org/licenses/gpl-faq.html

Here are a few links to interesting questions:
- http://www.gnu.org/licenses/gpl-faq.html#RequiredToClaimCopyright
- http://www.gnu.org/licen

[2018-04-13 07:01] flowdee opened #575 "New setting: Edit user agent"
Would be great if there's an easy way to customize the user agent (without touching the files).

[2018-04-13 18:35] sean-perryman opened #576 "Ping not working on 3.2.2 or on current development branch"
My apologies if this is not in the right area, but I am having trouble with the ping monitor in both the release 3.2.2 as well as the cloned development branch I'm testing. The best I can do after installing php-net-socket and upgrade to php7.2 is to get the "Failed to parse address &quot192.168.1.1&quot;" response. This is referenced in another GitHub repo as a potential issue with fsockopen() fo

[2018-04-13 18:50] sean-perryman commented on #576
On the current 3.2.2 install, the server configured with a Ping monitor doesn't ever seem to react. Just sits there in the On state (even if the IP address does not return an ICMP reply) and says "Never updated". Other monitors are working just fine on this install.

On the development branch clone I get the error message and it shows the monitor as being offline, even if it is indeed responding t

[2018-04-13 19:35] TimZ99 commented on #576
You could try.
I personally haven’t had the time to check this issue, yet. Hope you find the solution!
________________________________
From: Sean Perryman <notifications@github.com>
Sent: Friday, April 13, 2018 8:51:02 PM
To: phpservermon/phpservermon
Cc: Subscribed
Subject: Re: [phpservermon/phpservermon] Ping not working on 3.2.2 or on current development branch (#576)

On the current 3.2.2 ins

[2018-04-13 20:22] sean-perryman commented on #576
Following some instructions to add php5 and switched to it proved to be productive, so I just switched back to php7.2. Much rather have the rest of the monitors functioning rather than nothing at all. Thanks for making this software, I, for one, much appreciate it!

[2018-04-13 23:49] TimZ99 commented on #576
The everything should function on php5 (idk the exact version).
You suggest that the problem is caused by php7, good to know that!
________________________________
From: Sean Perryman <notifications@github.com>
Sent: Friday, April 13, 2018 10:22:32 PM
To: phpservermon/phpservermon
Cc: Tim; Comment
Subject: Re: [phpservermon/phpservermon] Ping not working on 3.2.2 or on current development branch (

[2018-04-15 17:09] Chris-187 commented on #470
I think this is happening to me too. If I refresh the servers in a browser with the "Update" link, the status is correctly updated if a service is down. If I leave the cron job to take care of things, there are no notifications and no change to the server status. It's as though the cron job isn't working at all - but it is updating the time displayed in the browser.

Essentially, if I leave this m

[2018-04-16 05:52] jeff-h opened #577 "CRON frequency"
The installation instructions say to run CRON every 15 mins. Is it possible to set this to whatever you like, and therefore run the server checks at whatever frequency you wish eg every minute, or every 5 mins? Or is there some reason this isn't considered wise?

[2018-04-16 08:11] Pofilo commented on #577
I'm running it every 5 minutes, no problem so far.

[2018-04-16 08:12] jeff-h commented on #577
Thanks! Good to know.

[2018-04-16 10:23] TimZ99 commented on #577
I’m running it every 5 minutes too, no problems.

[2018-04-16 10:23] #577 closed, assigned to nobody

[2018-04-16 14:29] sean-perryman commented on #576
I've installed php5 on my host-server and have a similar result on 3.2.2. Does seem like the dev branch will load any longer, throwing a 500 error. Again, all other monitors are working excellent, its just the ping function. Really seems like it is something on my server, but not sure how to go about troubleshooting it at the moment.

[2018-04-16 15:04] sean-perryman commented on #576
I did some digging and I believe I've found the cause of the non-ability to ping, if not also a potential solution. Creating a script with the referenced SO article (https://stackoverflow.com/questions/20467432/php-how-to-ping-a-server-without-system-or-exec/20467492#20467492) and adding an 'echo ping('192.168.1.1');' to the end, I was unable to perform this without running it elevated (e.g. sudo

[2018-04-16 19:34] sean-perryman commented on #576
Forgive my presumptuousness, but I believe I've solved the problem on my install. I've re-worked the updatePing function in 'src/psm/Util/Server/Updater/StatusUpdater.php' to instead exec a ping command out and return the average that it receives. Likely not the most secure move, but for something that has little to no access to outside influence it is a risk I am willing to take. Might even be ab

[2018-04-21 22:56] TimZ99 commented on #573
Fixed with the next update. https://github.com/phpservermon/phpservermon/blob/fc4ffd6b2f6611cb983d2adf57409d53e4e17f48/src/psm/Module/User/Controller/UserController.php#L51

[2018-04-22 19:42] oplf opened #578 "can't get cron job to work"
I'm running on a Synology server.  It worked fine on an older Synology box.  Then I migrated the PHP server monitor to a newer Synology box.  And the cron job ("Task Scheduler") does not work any more.  It develops a status code of 255 and never actually logs any status.  I'm not that strong on Linux and have dabbled with the command line and have not figured out what I am doing wrong.

I'd like t

[2018-04-22 21:14] TimZ99 commented on #578
Ping is a known issue, this will be the next issue I'm going to look at.

Have you tried updating the Task Scheduler? I know that another user had some problems with Synology as well and he fixed it by updating DMS and WebStation.

[2018-04-22 21:29] oplf commented on #578
Thank you for posting.  Yes I am using the most current version of DSM and I am using the most current version of Web Station.  Because I have the most recent version of DSM this means I automatically have the most recent version of Task Scheduler.

Keep in mind that for this problem (the cron job doesn't work right) the explanation cannot be in the Web Station.  The cron job simply executes a PHP

[2018-04-25 11:40] #573 closed, assigned to TimZ99

[2018-04-25 11:47] TimZ99 commented on #524
This line causes this specific error: https://github.com/phpservermon/phpservermon/blob/fc4ffd6b2f6611cb983d2adf57409d53e4e17f48/src/psm/Util/Server/Updater/StatusUpdater.php#L153

Ping doesn't work because you need root access to use SOCK_RAW (on Unix).
This issue can be continued on #576.

[2018-04-25 11:47] #524 closed, assigned to nobody

[2018-04-25 11:53] TimZ99 commented on #534
@vjdjPL This line causes this specific error: https://github.com/phpservermon/phpservermon/blob/fc4ffd6b2f6611cb983d2adf57409d53e4e17f48/src/psm/Util/Server/Updater/StatusUpdater.php#L153 removing this line will fix the error.
This small fix will be in the next release.

@C00Lzero Even without the fsockopen you need root. SOCK_RAW need it also (on unix).

This issue can be continued on #576.

[2018-04-25 11:55] #534 closed, assigned to nobody

[2018-04-25 11:59] TimZ99 commented on #500
@idduarte #516 will not fix your problem, I will push the solution on to the develop branch soon.

[2018-04-25 11:59] #529 closed, assigned to nobody

[2018-04-25 12:18] TimZ99 commented on #457
Fixed wrong ping error (79742fe).

[2018-04-25 12:18] #457 closed, assigned to nobody

[2018-04-25 12:24] TimZ99 commented on #467
79742fe

[2018-04-25 12:24] #467 closed, assigned to nobody

[2018-04-25 12:27] TimZ99 commented on #488
Fixed wrong ping error (79742fe).
Updating ping requires root at this moment. #576 more about this.

[2018-04-25 12:27] #488 closed, assigned to nobody

[2018-04-25 12:30] TimZ99 commented on #456
@seanvree no one made a pr I suppose.

I believe it's fixed at #516. Please reopen if it isn't.

[2018-04-25 12:30] #456 closed, assigned to nobody

[2018-04-25 12:36] TimZ99 commented on #472
Is this still a problem?

[2018-04-25 15:25] TimZ99 commented on #265
It's not ready for testing!
9c8b7e4
The output collection needs to be written!

[2018-04-25 21:25] TimZ99 opened #580 "Error on update"
/install.php?action=config gives the following error:

```Fatal error: Uncaught Twig_Error_Runtime: Block "results" on template "module/install/main.tpl.html" does not exist. in /html/phpservermon-dev/src/templates/default/module/install/main.tpl.html:7```

Problem occurs after 1bd1499 and `php composer.phar update`.

[2018-04-25 22:19] alekseyp commented on #121
I would love to see muti-location agents

[2018-04-27 16:11] TimZ99 commented on #580
The results block was not defined.
Removed it because there are no messages that need to be displayed here.

[2018-04-27 16:11] #580 closed, assigned to nobody

[2018-04-27 20:16] TimZ99 opened #582 "3.3"

[2018-04-27 20:16] TimZ99 commented on #582
Whoops

[2018-04-27 20:16] #582 closed, assigned to nobody

[2018-04-29 01:08] Engineer-of-Stuff opened #583 "Error 500 on Auto Refresh Setting"
I set auto refresh to refresh every 2 seconds. When returning to the main page I get an error 500.

With debug mode on, this is shown:

`Fatal error: Uncaught LogicException: Unable to add global "auto_refresh" as the runtime or the extensions have already been initialized. in /home/username/public_html/admin/monitor/vendor/twig/twig/lib/Twig/Environment.php:882 Stack trace: #0 /home/username/publ

[2018-04-29 13:49] TimZ99 commented on #583
Which version of PSM and PHP are you on?
I tried it myself (PSM 3.2.2, PHP 7.2.4), but no error 500.

[2018-04-29 16:54] msbt commented on #206
@viharm I'm a step further, but I can't get the group-filter to work:

[code]

Is there a way to ignore groups and just let anyone in that successfully authenticates?

[2018-04-30 15:19] raggoo commented on #567
How do I  do that?

[2018-04-30 15:54] TimZ99 commented on #567
Maybe [here](https://github.com/phpservermon/phpservermon/blob/develop/docs/intro.rst), or [here](https://github.com/phpservermon/phpservermon/blob/develop/docs/faq.rst)

[2018-05-03 12:40] wizdude opened #584 "Error 500 on website not processed when FQDN has no trailing slash"
i setup PSM 3.2.0 to monitor a test wordpress website. i then took the database offline (to simulate a common fault) but PSM reported back all was ok.

i had the site configured as: http://server.domain.com/wptest1

looking at the httpd access log i see:

[code]

the 301 is because i've specified a folder, not an object. this is redirecting to http://server.domain.com/wptest1/ which reports back e

[2018-05-12 20:43] viharm commented on #206
@msbt , sorry for the delay in my response. I have been travelling significantly lately; and also preparing for a test.

Group membership is optional. Try leaving the field `Authorised directory group` blank. The authentication library should authenticate the user if this is not provided.

Let me know how it goes.

[2018-05-14 03:21] Engineer-of-Stuff commented on #583
I am on the release version of PSM, PHP version 7.1

[2018-05-14 08:25] msbt commented on #206
no problem @viharm, i tried removing it and now I'm getting this error:

[code]

after

[code]

[2018-05-24 01:03] TimZ99 opened #588 "Rewriting the gateways"
A few of the gateways are outdated and most of the implementations don't check on errors. It's time to rewrite them!

The implementations now return 1 for a successful SMS and the error message when it fails.
In the case that a gateway only requires an API key, the password field should be used. The field for the username will stay empty.

# ToDo
- [x] Clickatell - <https://www.clickatell.com>
- [

[2018-05-24 12:50] #477 closed, assigned to nobody

[2018-05-24 22:05] juzsingleton commented on #583
I am getting same issue
PHP 7.2.5
PSM 3.3.0
I will get debug info soon.

[2018-05-24 22:42] RedSparr0w commented on #583
getting the same issue
PHP: `7.1.11`
PSM: `3.3.0`
twig: `2.4.7`

[code]

[2018-05-24 23:30] RedSparr0w commented on #583
Looks like its a problem with twig >= `v2.0.0`.
As i tried it with twig `v1.24.0` and it works perfectly fine.

**Edit:** see [here](https://groups.google.com/forum/#!topic/silex-php/Ew-Fs5VXqlQ)

[2018-05-25 11:27] TimZ99 commented on #583
This is a great short term solution, but on the long term we need to find a way that we can update twig.

[2018-05-25 11:33] #583 closed, assigned to nobody

[2018-05-25 11:34] TimZ99 commented on #583
@Engineer-of-Stuff @juzsingleton please confirm that the problem is fixed.

[2018-05-25 23:20] juzsingleton commented on #583
Yes this fixed the issue.

[2018-05-26 00:43] TimZ99 commented on #583
Great!
________________________________
From: juzsingleton <notifications@github.com>
Sent: Saturday, May 26, 2018 1:20:05 AM
To: phpservermon/phpservermon
Cc: Tim; State change
Subject: Re: [phpservermon/phpservermon] Error 500 on Auto Refresh Setting (#583)

Yes this fixed the issue.

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on Git

[2018-05-27 19:20] TimZ99 commented on #264
#579 added the option to choose if a website needs to marked online or offline if a pattern was (not) found.

[2018-05-28 00:42] RedSparr0w commented on #264
Looks like #579 closes this.

[2018-05-28 11:11] TimZ99 commented on #264
@gavrochelegnou mentioned the implementation of something like a redirect check. That’s the reason I left it open.

[2018-05-28 12:20] codeagencybe opened #591 "SSL checks"
Add option to check SSL certificates expiry and sent pre-alert when certificate is about to expire

[2018-05-28 12:21] codeagencybe opened #592 "API available?"
Is there an API available to integrate with e.g. cachethq.io status page?

[2018-05-28 12:25] TimZ99 commented on #591
There already is a pr for this, but it needs to be rebased and there are a few things that need to be changed.

[2018-05-28 12:30] TimZ99 commented on #592
There is no API available at this moment.
If there was one, what data would you get from it?

[2018-05-28 12:33] TimZ99 commented on #490
a496874
If you previously used Mollie, your settings will automatically be changed to MessgeBird after upgrading.

[2018-05-28 12:33] #490 closed, assigned to nobody

[2018-05-28 12:59] TimZ99 commented on #451
c3751e7 & a496874

[2018-05-28 12:59] #451 closed, assigned to nobody

[2018-05-28 20:35] wardpieters commented on #493
Hi @emillod,
Do you still need this SMS Gateway? If not, please close this issue. Otherwise, let me know and i will try my best.

[2018-05-28 20:37] wardpieters commented on #551
Hi @mathieuaubert could you please upload the screenshot again and i will take a look at it.

[2018-05-28 20:38] #493 closed, assigned to nobody

[2018-05-28 20:38] TimZ99 commented on #493
Haha that's a no

[2018-05-28 20:40] buzzard10 commented on #493
Haha you want my reply, so... :D
It's not urgent.. :)

[2018-05-28 20:46] TimZ99 commented on #551
Ehm I think that rewriting half of the project for this isn't really an option, as this will only be used for one gateway. We could do something with the phone number field on the profile page.
Maybe make the input for this gateway something like`Phone_number:free_id:free_password` and split the value in the backend.

[2018-05-28 21:26] wardpieters commented on #325
Hi @quatrecentquatrenews! If you still need this gateway, please let me know. Otherwise please close this issue.

[2018-05-28 21:30] raggoo opened #595 "SUGGESTION: Make phpservermon to use standardized plugins"
I see a lot of "have to rewrite" too much code.

I am not a coder so be gentle.

Could you not make phpservermon where it will accept standardized plugins for it and then others could just write plugins to add whatever and you wouldn't have to recode a bunch of stuff to accommodate it?

I see lots of things with plugins to add stuff to it so it only makes sense to me.

Sorry if any of my terminolo

[2018-05-28 21:39] TimZ99 commented on #595
You're reading my mind!

The integration of Telegram required changes in 25 files (translation files not included), that's way too much.

Before the update, adding an SMS gateway required changes to a lot of files.
Now, after the update, adding an SMS gateway only needs 3 row added to 1 file and the rest of the implementation goes into a newly created file.

This is the first step to a more modula

[2018-05-28 23:04] RedSparr0w commented on #592
Would be handy to be able to just pull the data for auto refresh from an API:
[code]

[2018-05-29 03:48] Engineer-of-Stuff commented on #583
@TimZ99 Issue fixed with Twig version 1.24.0

Thanks for the help.

[2018-05-29 12:13] #588 closed, assigned to nobody

[2018-05-29 12:13] #223 closed

[2018-05-29 12:13] #460 closed, assigned to nobody

[2018-05-29 14:59] wardpieters commented on #588
[ClickSend](https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Txtmsg/ClickSend.php) and [Smsgw](https://github.com/phpservermon/phpservermon/blob/develop/src/psm/Txtmsg/Smsgw.php) still need to be done, working on them right now.

[2018-06-05 15:28] dktcoding opened #597 "Let users select which notifications to receive"
It would be nice to have a way for users to select which notifications to receive:

- Telegram
- Mail
- SMS
- Pushover
- Etc.

[2018-06-05 23:16] djexthreme opened #598 "Error: Class 'PHPMailer' not found v3.3"
Hi Guys,

I upgraded to new version 3.3 and after do that emails donts works! I try to send a test and returns this message. My php is 7.1.17.

Fatal error: Uncaught Error: Class 'PHPMailer' not found in /var/www/html/phpmonitor/src/includes/functions.inc.php:489 Stack trace: #0 /var/www/html/phpmonitor/src/psm/Module/Config/Controller/ConfigController.php(233): psm_build_mail() #1 /var/www/html/p

[2018-06-06 01:01] raggoo opened #599 "Version 3.3.0 Files"
On the page for v3.3.0 we have:
index.php 	preparing for 3.2.0 release 	2 months ago
install.php 	preparing for 3.2.0 release 	2 months ago

Are these files misnamed and are actually 3.3.0 instead or what?

Rather confusing at best.

[2018-06-06 18:59] TimZ99 commented on #599
Those files needed changes to be ready for 3.2.0.
In 3.3.0 there are no changes to those files.
No change means no new commit message.

[2018-06-06 18:59] #599 closed, assigned to nobody

[2018-06-06 21:24] buzzard10 commented on #592
+1 :) REST API will be great :D

[2018-06-06 21:31] buzzard10 opened #600 "Push URL with parametr GET if error"
Hello
is thare any chance to add option to PhpServerMon to push any URL with parametr GET if can't connect to host?
For example domain.com/?info=error&source=phpmon&host=123

[2018-06-07 15:50] djexthreme commented on #598
Hi Guys,

I founded a solution for this case...

line 489
src/includes/functions.inc.php

$phpmailer = new \PHPMailer\PHPMailer\PHPMailer();
solution founded: https://stackoverflow.com/questions/28906487/fatal-error-class-phpmailer-not-found

and
line 170
../src/psm/Router.php +170

[code]
solution founded: http://php.net/manual/en/function.hash-equals.php

SMTP emails works again!!!

Regards

[2018-06-07 16:48] ale82x opened #601 "ping hostname (not ip)"
Hello,
i install phpservermon and work great! :)

i have an issue with a server.
i try to setup a monitoring (ping) ahostname server , not ip.

when i click on Save i receive
The IP address is not valid

how can i solve this problem?

thank you

Alessandro

[2018-06-07 17:20] TimZ99 commented on #601
Which version are you on?

[2018-06-07 17:24] ale82x commented on #601
last
 PHP Server Monitor v3.2.0

[2018-06-07 17:26] raggoo commented on #601
Sounds like the hostname is not resolving to an IP address.
i.e.  has a chname or alias record pointing to another server.

Example would be:
domain.com A xxx.xxx.xxx.xxx
xyz.domain.com CHNAME domain.com (points to record with IP address)

Use IP address that the chname record points to should make it work.

[2018-06-07 17:32] TimZ99 commented on #601
Hostnames should be allowed in 3.3.0.
3.3.0 is available as a pre-release, maybe you could test if it workes for you.

[2018-06-07 17:34] ale82x commented on #601
ok i wait 3.3.0

can i update my version or is not safe use in production?

thank you again

[2018-06-07 17:36] TimZ99 commented on #601
It's not safe for production yet. Maybe you could upload it to a second folder?

[2018-06-07 22:44] jucamasu commented on #466
Hi, I could explain the detail better

[2018-06-10 18:20] orfeybg commented on #565
Up, i hope the server groups are ready soon

[2018-06-11 14:02] HermanRas commented on #565
Will sync what I have completed, to my github this evening.. :)
got stuck doing some API Stuff for work,.. but 4 now it groups by Prefix / by IP / by Service
haven't gotten to creating separate groups where you can select devices.

[2018-06-18 03:14] Gamerexde opened #602 "Can i add guest users to view the status page?"
Hey i just want to have Guest users to allow them to see the server status, but i can't figure out how i do it, or it is disabled and it can only be seen with a account.

Pls halp1

[2018-06-18 19:35] buzzard10 commented on #602
Yep, great idea! +1 from me :D

[2018-06-19 06:55] buzzard10 commented on #561
@jangrewe can You help me implement that solution in my phpservermon instance? :)

[2018-06-19 07:43] jangrewe commented on #561
@emillod I can't help you with the Nabaztag part, but on the PSM side you just need to replace the class in `src/psm/Txtmsg/Mosms.php` with the class above, and of course configure your PSM to send notifications via MoSMS.
The `bunny.example.com` has to be adjusted to your environment, too.

[2018-06-19 21:25] TimZ99 commented on #602
The only way to view the servers is by logging in. This feature is on the wishlist. #368

[2018-06-19 21:25] #602 closed, assigned to nobody

[2018-06-20 18:19] TimZ99 commented on #561
Adding a new gateway is fairly simple (or in this case, adding Nabaztag).
It only requires two steps;
- Adding 3 lines to a file
- Creating a new file

You add a new file to the src/psm/Txtmsg folder:

SpeechToText.php
[code]

Add
[code]
after https://github.com/phpservermon/phpservermon/blob/62254a534b80fa2a1e60167f12d600ad0cd75bec/src/includes/functions.inc.php#L615

This is not the cleanest way

[2018-06-20 18:21] TimZ99 commented on #561
You could even change $nabaztag for $this->username and put the URL in the username field on the config page. This is handy when you want to change the URL in the feature and don't want to go into the files again.

[2018-06-28 14:51] tommy110 opened #603 "Non english not correctly show at email"
For non english,the alert email is not showing the correct title and content,
For example:
Title: IMPORTANT: ??? 'NO SMTP SERVER' ??
Content:
??????????:

???: NO SMTP SERVER
IP: 103.200.XX.XX
Port: 25
??:
??: 2018-06-28 22:32:00

[2018-06-28 14:52] tommy110 commented on #603
VERSION: 3.2.0

[2018-06-28 15:12] TimZ99 commented on #603
Are the words missing or are they there, but just in English?

[2018-06-28 15:17] TimZ99 commented on #603
It's a known problem that not all translations are complete. The missing parts should be displayed in English.

 I made a small program to easily find and fix the problems in the translation files. This should also make it way less time consuming to add new words/sentences.
The only problem is that I accidentally deleted it 😢. Haven't had the time to remake it.

[2018-06-28 15:22] TimZ99 commented on #601
Have you had the time to test it?

[2018-06-28 15:39] TimZ99 commented on #325
I don't know if you meant FreeMobileSMS, but that one is added. If you meant another carrier, let us know and reopen the issue.

[2018-06-28 15:39] #325 closed

[2018-06-28 18:40] ale82x commented on #601
Hello,
i tried to upload on two different hosting server but i see same error...

No dependencies found in vendor dir. Did you install the dependencies? Please run "php composer.phar install".

i can't install...

Thank you

[2018-06-29 11:38] TimZ99 commented on #601
It's not an error. The project uses parts of other projects (called dependencies). Composer handles the download of those dependencies.
Normally I manually upload a version with the dependencies included. Because it's a pre-release I forgot to do that.
It should be up there within a few minutes.

[2018-06-30 15:03] pekiZG commented on #176
Is this up for grabs?

[2018-06-30 15:32] sadortun commented on #176
@pekiZG  Yep !! Any pr are welcome :) !!

[2018-06-30 18:40] pekiZG commented on #176
Awesome,

so, my idea was to have two more tables:
_tags and _server_tags

in _tags we have all the possible tags we can have for servers
and
in _server_tags we have n to n relationship between tags and servers

Does that sounds good?

or does anyone have a better/simpler idea?

[2018-06-30 18:48] nitrocode commented on #176
It's been a long time since I added my comment above. I like this project and if you're implementing this then I'd suggest something similar to the [Jira label system](https://confluence.atlassian.com/jira064/labeling-an-issue-720416428.html).

You don't have a separate screen to add a tag, instead a new tag is created when one is set for a particular server. You can then click on that tag and the

[2018-06-30 18:59] pekiZG commented on #176
I like the idea you suggested;

But I think separating it into two tables gives more flexibility.

Example: in the future to extend it so every user can define his own tags

[2018-06-30 19:07] pekiZG commented on #565
@HermanRas are you still working on this?
I'm checking the status of this
because I want to contribute to #176

[2018-06-30 19:15] TimZ99 commented on #176
Sound good!

[2018-07-01 21:18] viharm commented on #206
@msbt , trried to review the debug log. It appears that the fatal error indicates that MySQL is in strict mode, and expects a default value for the user's password when creating a new record for the user.

Please could you try to change line 108 in the file `psmldapauth.php`
from...
[code]

to...
[code]

(notice the empty quotes).

Hopefully this should satisfy the strict requirements. Please let

[2018-07-02 07:53] ale82x commented on #601
Hello,
ok i'm download new "version" and now i'm able to setup application.

i configure a server correctly . but when i click update (now i haven't configured cron) , app tells me server down... i configured more servers to test, all works but app not see online...
i tested also www.google.com

Thank you

[2018-07-02 08:11] RedSparr0w commented on #601
What host are you using?
One problem I could think of is the host blocking the connections, I've seen other projects have trouble with free hosting.

[2018-07-02 08:12] TimZ99 commented on #601
Do you have root access for the webserver?
Ping won’t work if you’re not root.

[2018-07-02 08:24] ale82x commented on #601
ok, i'm tried on OVH .

ok i test it on my other server and i post the result.

thank you

[2018-07-02 09:00] msbt commented on #206
@viharm I tried both, setting the ar_Request to '' and disabling strict mode, but neither of those had an effect on the error message, stayed the same in all versions that I've tried. I did have to rebuild the whole thing due to a crashed vm and

changed to

Not sure what I've done differently or which is the newer version ;)

Anything else I could try?

[2018-07-02 09:24] msbt commented on #206
Ok I've been poking around in the db and changed the password field to NULL via

`ALTER TABLE 'psm_users' CHANGE 'password' 'password' VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL COMMENT 'user\'s password in salted and hashed format';`

and tried to add the user manually like the script would with

`INSERT INTO 'psm_users' ( 'user_name', 'level' ) VALUES ( 'matthias', '20' );`

Of

[2018-07-04 08:35] pekiZG commented on #565
@HermanRas Did you push to your GitHub?

[2018-07-04 12:42] pekiZG commented on #265
@TimZ99 What's the status of this?

[2018-07-04 12:49] orfeybg commented on #565
@pekiZG  i waiting for service groups and tags and i write email to @HermanRas  but still not answer.
Maybe there's a lot of work to do. I hope someone can do it. ( excuse my bad English )

[2018-07-04 12:53] pekiZG commented on #565
It's ok I just wanted to know if I should wait;
if he has something done I can continue from his work;

I want to do tags from #176 and it's similar to service groups that he is doing.
Would not like to do the double work; that's why I'm asking :)

If @HermanRas pushes changes to repo I have time to finish it if it's not completed;

[2018-07-04 13:06] TimZ99 commented on #265
I must admit that I forgot about it. [This](https://github.com/phpservermon/phpservermon/tree/feature/265) is the latest version.

If you have time, could you write the part to collect the raw data?

[2018-07-04 13:07] TimZ99 commented on #603
@tommy110 I'm curious to know the answer.

[2018-07-04 13:10] pekiZG commented on #265
Sure,
Ill have time over the weekend :)

If I have any questions ill ping you here

[2018-07-04 13:12] TimZ99 commented on #265
Great! Keep me posted, I will also be working on the project this week.

[2018-07-04 13:14] pekiZG commented on #265
I just saw that you are using gitter; tty there \o/

[2018-07-04 13:15] TimZ99 commented on #265
👍

[2018-07-04 13:28] geri777 commented on #265
Thank you for getting back on this feature suggestion. Much appreciated!!

[2018-07-04 13:34] TimZ99 commented on #265
You're welcome ;)

[2018-07-04 14:56] nitrocode commented on #176
@pekiZG go for it! Looking forward to seeing the results 🙌

[2018-07-07 01:35] pekiZG commented on #265
ok, after a little bit of poking :)

@TimZ99 I see you already did:
Last check;
Last online;

only thing left is;
Last error;
Last raw error output.

Can some one give me the context of that?

Is the last error HTTP STATUS ERROR, TEXT ERROR, TIMEOUT ERROR, etc... or something else;

and last raw error output? what is that?

[2018-07-07 01:52] pekiZG commented on #265
@TimZ99 this can be used to get a better understanding of an error;
http://php.net/manual/en/function.curl-strerror.php

I'm still missing what's the raw error output?

[2018-07-07 02:02] pekiZG commented on #265
@geri777 can you give us more explanation?

[2018-07-07 08:59] viharm commented on #206
@msbt , thanks for investigating further. your second message from 2-Jul shows progress. To debug further I will need a copy of the entire debug log.. Although the debugging tool redacts the passwords, please feel free to send it to me privately if you are concerned.

I will also try to replicated this on a test instance to see how the relation between the table structure and the LDAP module is in

[2018-07-07 15:42] ale82x commented on #601
ok i have a server with full root access but for hosting i use a normal user...
and not working...

i need use root user to execute php script ?

thank you

[2018-07-08 07:49] orfeybg commented on #565
@pekiZG do not wait :)
I send email to @HermanRas  on 20.06.2018 and still not answer;

[2018-07-08 13:39] pekiZG commented on #565
@orfeybg try to reach him a few more times;
I'm doing another feature #265 after I finish it I'll switch to this one;

@HermanRas

[2018-07-11 14:44] tommy110 commented on #603
The missing part if non-english,for example,you can test in Chinese.

[2018-07-11 14:48] tommy110 commented on #603
Also,it is possbile to add alibaba sms?
https://www.alibabacloud.com/product/short-message-service?spm=a2796.7990255.247275.75.621161c5oT3tbw

[2018-07-12 14:20] TimZ99 commented on #598
Could you maybe pull the develop branch and test it for me? Curious to know if it's working right now.

[2018-07-12 14:23] TimZ99 opened #604 "Feature request: Alibaba sms"
Requested by @tommy110.
Is possible to add [Alibaba SMS](https://www.alibabacloud.com/product/short-message-service?spm=a2796.7990255.247275.75.621161c5oT3tbw)?

[2018-07-12 14:27] TimZ99 commented on #603
Ah okay. I personally don't speak 23 languages and Google Translate isn't always that good. I will rebuild the earlier mentioned program to make working on the translation files easier. Hopefully this way the translations will be completed faster.

[2018-07-12 14:28] TimZ99 commented on #603
Made a new issue for your feature request: #604.

[2018-07-12 14:28] #603 closed, assigned to nobody

[2018-07-12 14:30] TimZ99 commented on #601
It's a known issue that ping requires root access. PHP only allows the function when it's running with root permission.

[2018-07-12 15:16] TimZ99 commented on #600
Why should we add this?

[2018-07-12 21:19] pekiZG commented on #265
OK, i think i have done it;
No biggie, i just don't know if it's what @geri777 had in mind

[2018-07-12 21:22] pekiZG commented on #265
Only problem; the way it's done now I don't think you can get the "raw" response

[2018-07-12 21:29] pekiZG commented on #265
curl_exec is being used with CURLOPT_RETURNTRANSFER option enabled.

it returns mixed
http://php.net/manual/en/function.curl-exec.php

Meaning that complete check has to be done in a different way to ger the "raw" response;

currently you only get "raw" response on SUCCESS;

@TimZ99 when you see this, if you have time ping me on _**Gitter**_

[2018-07-13 21:33] pekiZG commented on #265
@TimZ99 I really don't see a way of getting a body or a headers if curl_exec() fails.

It just returns FALSE; only thing that you can get when that happens is a error message via curl_error().
http://php.net/manual/en/function.curl-error.php

--
I also see a way to simplify getting of http status code in case of success via curl_getinfo()
http://php.net/manual/en/function.curl-getinfo.php

https:/

[2018-07-16 21:19] pekiZG commented on #565
@orfeybg if @HermanRas did not respond; I'll work on service groups as described in
https://github.com/phpservermon/phpservermon/issues/176

EDIT:
This weekend

[2018-07-17 05:57] orfeybg commented on #565
Hello @pekiZG  @HermanRas still not respond.

[2018-07-18 03:24] RedSparr0w opened #606 "[Feature Request] Support for notifications via Discord"
More info [here](https://discordapp.com/developers/docs/resources/webhook)

Some Example Code:
[code]

[2018-07-19 12:48] abramofranchetti opened #607 "Wrong notification time in mail alert"
The monitor showed correctly the times in the web application as  timezone in php.ini  but in the mail of notification of offline service the time reported was the UTC time and not the time zone set on php.ini. The only way I found to correct the time sent in the email is to go to the setDate method of the Response class and change it as follows setting the corret timezone in the code:

[code]

I

[2018-07-20 00:09] tmbutterworth opened #608 "Users Hyperlink is broken 3.2.0"
Selecting users in 3.2.0 links to http://127.0.0.1/?&mod=user and presents no data.

[2018-07-20 00:21] tmbutterworth commented on #608
Also broken in 3.1.1

[2018-07-20 00:37] tmbutterworth commented on #608
Also broken in 3.1.0

[2018-07-20 00:39] tmbutterworth commented on #608
Works in 3.0.1

[2018-07-20 01:07] tmbutterworth opened #609 "Feature Request - Distribution Email Address"
Having the system email on a per-user basis requires a lot of account creation overhead. In the server configuration section please add a field to specify a distribution email address to send to. This would allow one admin to populate all the servers and notify server admins primary / secondary etc through a distribution email address.

[2018-07-20 01:23] tmbutterworth opened #610 "Feature Request - UDP Port Monitoring"
Currently port monitoring only appears to support TCP, please add UDP as well.

[2018-07-20 02:11] RedSparr0w commented on #610
It may be worth updating the issue title.

[2018-07-20 02:12] tmbutterworth opened #611 "3.2.0 Ping"
Ping does not update last online or last check in 3.2.0.

[2018-07-20 07:22] TimZ99 commented on #607
Did you check  with```<?php phpinfo(); ?>``` ?

[2018-07-21 17:19] tmbutterworth commented on #608
In 3.0.1 the page works, the form to create a new user works but after completing the form the user information is not being created in the database.

[2018-07-23 04:59] SarahTrees commented on #384
plus 1
Yes SSL check would be great.

[2018-07-23 12:07] TimZ99 commented on #610
Haven't had the time to add it. #99

[2018-07-23 12:07] #610 closed, assigned to nobody

[2018-07-23 12:19] TimZ99 commented on #611
3.2.0 has 2 problems;
- Ping returns a wrong error message.
- Ping requires root.

The first one is fixed in 3.3.0, the second one needs some attention.

[2018-07-23 12:19] #611 closed, assigned to nobody

[2018-07-24 22:19] TimZ99 commented on #607
Whoops, the code in my previous comment wasn't visible, at least not for me.

[2018-07-24 22:22] TimZ99 commented on #598
I hope that you have some spare time to test it :). I can not test it myself right now.

[2018-07-25 01:02] djexthreme commented on #598
Hi Tim,

Yes, works good for me right now. But like I said before I only changed the "hash_equals" functions and commented the "original code".

Regards,

[2018-07-25 01:03] #598 closed, assigned to nobody

[2018-07-25 14:50] TimZ99 commented on #608
Check PSM_BASE_URL in config.php. If you're not running PSM on your localhost, it shouldn't be 127.0.0.1

[2018-07-26 01:28] tmbutterworth commented on #608
It is blank. I have it running as a virtual host on 127.0.0.4.
define('PSM_BASE_URL', '');

I upgraded to 3.3 and it works fine. same config.php I used with all previous versions.

[2018-07-26 01:30] TimZ99 commented on #608
Great!

[2018-07-26 01:30] #608 closed, assigned to nobody

[2018-07-28 21:31] viharm commented on #206
@msbt , I tried to do a fresh install, but could not reproduce the problem. My environment allows a NULL value for the password field. Please try to change the following in `/PSM/install/vendor/PsmLDAPauth/phpDBauth/phpdbauth.php`

Line 360 from
[code]

to
[code]

Line 361 from
[code]

to
[code]

Please let me know how it goes.

[2018-08-02 04:25] akkradet opened #614 "can't check status"
some ip show  TIMEOUT ERROR: no response from server
some ip show   php_network_getaddresses: getaddrinfo failed: Name or service not known
some ip show	Couldn't create socket [13]: Permission denied

help me please

[2018-08-02 04:41] tmbutterworth opened #615 "Documentation Submission"
All,

I wrote some documentation on using phpServerMon on openSUSE and would like to submit it for distribution.

https://drive.google.com/open?id=1e1EiAZYcZ6zGBDGOH2-ARCz-zIK-GluQ

Tim

[2018-08-02 20:24] TimZ99 commented on #614
- The first one is most likely a typo. Check if the IP is online.
- The second one is likely caused by the server on which you're running PSM. There is a chance that it has DNS lookup problems, and as a result, it's not able to resolve the domain to an IP address.
- The third one is a ping check I guess. Make sure that you're running the check as root.

And of course the obvious question: have you

[2018-08-07 21:45] ale82x opened #616 "uptime month and year"
when i monitor a server in first chart i see latency and uptime and this is relative to hour-day-week

second chart is relative to week-month-year but i don't see uptime, but only latency...
how i can see uptime relative to month or year?

Thank you in advance
Ale

[2018-08-09 03:17] akkradet commented on #614
Not work all

[2018-08-09 07:40] orfeybg commented on #565
@pekiZG  @HermanRas  some one online ?

[2018-08-09 10:09] tiendatdinh opened #617 "Why do not we have a filter for the service server?"
In each server can be many services are being exploited, tracking dozens even up to hundreds of services is difficult on a page interface.
In the next version we can have filtering by service?
Example: Services are grouped into 1 server.
Server A includes:
A1.
A2.
A3
Server B includes the service
B1.
B2.
B3

[2018-08-09 10:20] tiendatdinh commented on #565
Hi @pekiZG
When will it be announced?

[2018-08-09 10:24] TimZ99 commented on #616
Right now, only if you change the source code.
This is something I want to change in a future release.

[2018-08-09 10:27] TimZ99 commented on #617
Duplicate of #565

[2018-08-09 10:27] #617 closed, assigned to nobody

[2018-08-09 10:35] TimZ99 commented on #614
I don't know which server you're trying to check, so I can't check if the problem is on your side or that PSM isn't functioning as expected.
Is it possible that I can check the server using my environment?

[2018-08-09 11:17] tiendatdinh commented on #565
I have completed the filtering of services by the name of the service based on div tags, I will test and share when the test is complete.

[2018-08-09 11:29] TimZ99 commented on #565
Looking forward to it!

[2018-08-09 11:34] ale82x commented on #616
ok thank you.
if planned for new version i wait.

thank you

[2018-08-09 19:40] TimZ99 commented on #616
I will leave the issue open until it's integrated.

[2018-08-09 19:40] TimZ99 commented on #565
How are the tests going?

[2018-08-12 07:13] orfeybg commented on #614
@akkradet

need to fix permission
chown -R 777 /path/to/monitor/src/psm/Module/Server/Controller/

[2018-08-14 21:08] petrk94 opened #619 "how to update?"
Hello,
I would like to know I can update the installation on my server.
I have version 3.2.1, in the meantime is already version 3.3.1 published.

Thanks

[2018-08-14 22:37] TimZ99 commented on #619
It's really easy;
1.  Remove 3.2.1 (only keep config.php).
2. Add 3.3.1 and place config.php in it.
3. If you downloaded the version without the vendor directory: run `php composer.phar install`

Open PSM in your browser. The rest will speak for itself.

Let me know if you have any more questions 😄.

[2018-08-15 13:06] petrk94 commented on #619
@TimZ99
thank you for the instruction. I just wrote in the last hour a updating script, which automate this steps and make the update automatically.
The shell script update.sh has to be located in the root of the phpservermonitor folder
I would like to contribute this to the project, how I can provide the file to the project? Its my first time I contribute to a project

[2018-08-15 15:12] TimZ99 commented on #619
1. Fork the repository.
2. Add the file to your fork.
3. Open a pull request.

[2018-08-15 15:30] petrk94 commented on #619
@TimZ99 thanks for help, Pull request is ready.

[2018-08-15 15:30] #619 closed, assigned to nobody

[2018-08-16 02:16] breaker84 opened #621 "[Feature Request] View by Group"
Dear all, 1st of all, this is the best app to monitor....
I would like to suggest that the app have sort of grouping function, so that we can view the dashboard according to the group...
we have almosy 50 device to be monitor...
and we can grouping it for:
1. website
2. system for staff
3. feedback system device
4. etc.

regards

[2018-08-16 03:39] baur opened #622 "CRON not works"
**Describe the bug**
CRON just not works, running wtih admin rights, nothing is happens: no error, no update status, last update time: never, just silence

**Steps To Reproduce**
Just update manually or by task sheduler (cmd)

**Expected behavior**
Update status

**Your Configuration (please complete the following information):**
 - Exact Phpservermon Version: v3.3.1
 - PHP Version: 7.2.8
 - Hosti

[2018-08-16 22:14] TimZ99 commented on #622
Do you use CRON over web (see [docs](http://docs.phpservermonitor.org/en/latest/install.html#cronjob-over-web))?

[2018-08-16 22:41] TimZ99 commented on #621
Duplicate of #565

[2018-08-16 22:41] #621 closed, assigned to nobody

[2018-08-17 02:52] baur commented on #622
Thank you!
Error was crearified with define('WP_DEBUG', true);
php socket extension was disabled

[2018-08-17 02:52] #622 closed, assigned to nobody

[2018-08-17 03:16] baur opened #623 "FR: Server description"
**Describe the feature you'd like**
Add for each address a short description as the server purpose etc, so that it is attached to the email notification

**Describe the benefits this feature would bring to PHPServermon users**
You can easily get lost when using **PHPServermon** to monitor (ping) hundreds of servers

**Additional context**
to push description in the name of server is not an option.

[2018-08-17 04:09] damiankw commented on #623
I agree a description would be good, but what do you name your endpoints that you can't easily see what they are just from the Label? I mean, all of your servers should have a unique name and you should know what each of them do at a glance, unless your naming scheme is by serial number or something?

I'll have a look at this over the weekend if no one else gets to it by then.

[2018-08-17 07:46] akkradet commented on #614
chown -R 777  Show error

Warning: socket_create(): Unable to create socket [13]: Permission denied in /var/www/html/phpservermon/src/psm/Util/Server/Updater/StatusUpdater.php on line 161

[2018-08-17 07:52] orfeybg commented on #614
chown -R 777 /var/www/html/phpservermon/src/psm/Util/Server/Updater/

[2018-08-17 08:05] akkradet commented on #614
chown -R 777 /var/www/html/phpservermon/
but show Couldn't create socket [13]: Permission denied
socket issue?

[2018-08-17 08:13] orfeybg commented on #614
hmmm maybe
chown root:root /var/www/html/phpservermon/

[2018-08-17 13:29] TimZ99 commented on #614
The ping check uses SOCK_RAW, which requires root. Don't think that changing the file permission would make a difference tbh.

[2018-08-18 12:10] damiankw commented on #609
Maybe I'm missing what you're asking for, but you should be able to do this already. You just need to set the distribution group up on your mail server side, for example in your companies Exchange. Once you've configured that, set up an 'Alerts' or other such dummy user inside of PSM to point to it and select all servers. You can obviously not select all servers and create different users dependin

[2018-08-18 12:17] damiankw commented on #592
Just thinking on this a little, it wouldn't be too hard to develop. A VERY simple API which authenticates with a unique API key by user, it would then give you a list of all the servers that user is subscribed to and their status.

[2018-08-18 14:47] buzzard10 commented on #592
@damiankw also it'll be great to add i.e. new service through API :)

[2018-08-19 03:59] damiankw commented on #338
I'm looking at building a theme thing and I see Symfony / Twig already has it, however I can't see how to implement it properly, do you have any suggestions on this @TimZ99 ?

Or (at least to start off with) were you thinking to just put it into the config.php which would then trickle into psmconfig.inc.php and replace the PSM_THEME/default to PSM_THEME/whatever you've suggested in configuration?

[2018-08-20 02:24] damiankw commented on #549
I'm not sure there would be that much support outside of homelab and small business, anything bigger would probably have another tool to do this. Also, a lot of larger businesses might be on separate networks where WOL wouldn't work.

In any case, it looks like there might be a viable solution, it just means MAC Address will need to be entered manually during creation/edit of the server, then ligh

[2018-08-22 16:50] paulpeeters commented on #601
I use Service instead of Ping and choose a TCP port that is normally always open on the remote PC or server. For example on Windows PC's I use port 135.

[2018-08-22 19:19] orfeybg commented on #565
@tiendatdinh @pekiZG @HermanRas  some progress ?

[2018-08-28 13:09] TimZ99 commented on #338
The template is build using Symfony/Twig. whats wrong about the implementation?

I tried using asset(), but the dependency is outdated. The predecessor requires node.js so that isn't an option either. Included the template name in the URL  is the best option, what do you think?

[2018-08-28 13:13] damiankw commented on #338
The /static content isnt actually static, its part of the template, if the template updates (for example to update to the latest bootstrap/jquery) those files would never be used as you would be using the ones with the new template.

I just squished all of the current template together so anyone can build their own easier using whichever front end development theyd like :)

Other than that the imp

[2018-08-28 13:13] TimZ99 commented on #338
Putting PSM_THEME in the config file is a great first step.
A few things need to be done;
- [ ] CSS in the template folder or a (second) template folder in the static folder, I'm not sure what I like the most.
- [ ] We need to keep track of the version a template is compatible with. The template contains the lowest compatible version and PSM contains the minimal template version.

[2018-08-28 21:44] TimZ99 commented on #265
I think I'm done. https://github.com/phpservermon/phpservermon/tree/feature/265 Could you guys check if you agree with me?

[2018-08-28 21:53] TimZ99 commented on #418
Fixed

[2018-08-28 22:10] #306 closed

[2018-08-28 22:24] TimZ99 commented on #551
Due to the inactivity of this issue, I assume this is no longer needed.
Feel free to reopen if this is still needed.

[2018-08-28 22:24] #551 closed, assigned to nobody

[2018-08-29 05:32] damiankw commented on #338
I might be thinking small fry because I'm not used to dealing with such big frameworks, but what about if the setting is store in the database? For the time being it's just pulled out at run time and stored as a session/cookie variable. In the future it could be adapted so users can choose their own themes instead of having one theme for the entire system, which would be good if say the IT Manager

[2018-08-29 09:18] dmitrisky commented on #614
Same here, sadly can't use icmp checks because of that. Good that all my servers have HTTP\HTTPS ports open so I use them.

Problem produces on nginx+php-fpm7 on Debian 9 and Alpine 3.7 virtual machines.
Tried to change php-fpm pool owner to root, but php-fpm does not allow it and stops.

Is there an option not to use RAW socket for icmp checks?

[2018-08-29 11:58] TimZ99 commented on #614
I haven't found a solution so far. Maybe you have more luck.

[2018-08-29 12:05] TimZ99 commented on #601
@ale82x PHP needs to be running with root privileges.

[2018-08-29 13:09] dmitrisky commented on #614
One of the possible options is to execute external ping command.
I'll also check for the other options too later.

[2018-08-29 15:07] Weafyr opened #625 "Server side graph rendering takes to much cpu"
After 12 days of uptime of phpservermon 3.3.0 I cannot show the stats for the websites anymore.
I am checking 4 sites, each by 5 seconds.
At the start, everything worked fine, then page with statistic started to loading longer, and longer and now I am getting Error 500

According to sql I am on id 642691 in psm_servers_uptime

cat /var/log/php7.0-fpm.log
`[29-Aug-2018 16:55:37] WARNING: [pool www]

[2018-08-29 22:08] #418 closed

[2018-08-29 22:29] TimZ99 commented on #323
Fixed in v3.2.0 with #169.
The new limit is 500 characters.

[2018-08-29 22:29] #323 closed

[2018-08-29 23:43] TimZ99 commented on #430
Can't reproduce this on version 3.3.1. Could you update to the latest version and check if the problem is gone?
If not; what are you running PSM on?

[2018-08-30 01:47] TimZ99 commented on #625
The application is made to be limitless, as far as we know.
I guess that getting around 90k rows from the database and monitoring/updating your websites at the same time is a bit much for your server. Is there any reason why you wouldn't change the pm.max_children setting?

[2018-08-30 07:40] Weafyr commented on #625
First of all, I want to correct myself, I am using the version 3.2.0 (as its marked as latest version on https://www.phpservermonitor.org/download/)

I can, and I did raise the limit, as the server is VM machine deployed only for phpservermon.
However raising the limit didn't help at all. I am still getting Error 500, but now without any warning in /var/log/php7.0-fpm.log

Btw, is there any reorga

[2018-08-30 11:41] faca5 opened #630 "Request: SMSgateway.me"
Hello.

Please can you add SMS gateway, https://smsgateway.me/?

Library:
https://github.com/brunogoossens/smsGateway

Thank you!

[2018-08-30 14:09] TimZ99 commented on #625
Could you update to the latest version?
1. It can be downloaded [here](https://github.com/phpservermon/phpservermon/releases/latest).
2. Remove the old version, but keep the config.php file.
3. Open install.php and press upgrade.

When I get access to the website, I will update there latest version there too.

[2018-08-30 14:14] TimZ99 commented on #379
Could you update to the latest version and see if the problem is still present?

[2018-08-30 15:05] Weafyr commented on #625
I have finished the update, and good news, I am not getting error 500 anymore.
Instead I get only blank page :)
![image](https://user-images.githubusercontent.com/24644737/44860564-ca014780-ac76-11e8-9709-268c42d8294e.png)

[2018-08-31 00:37] TimZ99 commented on #625
We could call that progress, I guess...

Could you comment line [409](https://github.com/phpservermon/phpservermon/blob/267002ba20303fac884a2d76903cb611984c359d/src/psm/Module/Server/Controller/ServerController.php#L409) and [410](https://github.com/phpservermon/phpservermon/blob/267002ba20303fac884a2d76903cb611984c359d/src/psm/Module/Server/Controller/ServerController.php#L410) from src/psm/Modul

[2018-08-31 07:19] Weafyr commented on #625
Done, the page is loading correctly now (without graph of course).

[2018-09-01 11:16] TimZ99 commented on #625
Do you have PSM_DEBUG set to true btw?

[2018-09-01 19:23] Weafyr commented on #625
Fatal error: Maximum execution time of 30 seconds exceeded in /var/www/html/phpservermon/src/psm/Util/Server/HistoryGraph.php on line 225

[2018-09-01 20:18] TimZ99 commented on #625
Let me check, I never really touched that part of the source.

[2018-09-01 22:38] TimZ99 commented on #625
Could you comment something again: https://github.com/phpservermon/phpservermon/blob/267002ba20303fac884a2d76903cb611984c359d/src/psm/Util/Server/HistoryGraph.php#L69

It seems like the server needs some time for the amount of data we ask it to progress.
(642691/4=) 160673 uptime record is a lot. If the page is loading correctly after the comment, we know that it can handle the load of the hour/da

[2018-09-03 06:11] damiankw opened #632 "Change all server lists to the same sort order"
It looks like the server lists are sorted differently depending on area, it would be good to have all of these sorted alphabetically unless in the actual monitor window.

For example, in the Users (?&mod=user) section it's sorted by order of addition. In the server selection area in a user edit (?&mod=user&action=edit&id=<userid>) the order is the online status then alphabetically. This one is a l

[2018-09-03 07:55] Weafyr commented on #625
So I am able to load the graph up to 6 days (by adjusting `$last_week =new \DateTime('-6 day 0:0:0');`)

Edit: According to sql `select count(*) from phpservermon.psm_servers_uptime where server_id = 6 and date >= '2018-08-28%'` the result is `69128` rows

[2018-09-03 12:38] TimZ99 commented on #625
I don't really know what to do with this tbh.
Only if we change something in the database, your problem will be solved. Or you could just test your servers less often, but I guess that you have a reason why you want to test them every 5 sec.
The question is, what are we going to change...

[2018-09-03 12:58] Weafyr commented on #625
From my latest observation, I see, that one CPU core of the server is 100% used during the graph creation.

The load from SQL is 00,0 nothing as I can see, so most of the load have to come from there.

My question, why do you use PHP server to create graph, instead, the client browser should do the calculation by itself - this way, the server will don't be overload and you can have more users who

[2018-09-03 13:32] TimZ99 opened #633 "Use of ' and " in sql query"
https://github.com/phpservermon/phpservermon/blob/878b2566986d5d5742572ab1745ddc943c023aae/src/psm/Util/Server/HistoryGraph.php#L182

[2018-09-03 13:40] #633 closed, assigned to TimZ99

[2018-09-03 14:23] TimZ99 commented on #632
Done. Could you review it?

[2018-09-03 23:19] #632 closed, assigned to nobody

[2018-09-04 17:56] TimZ99 commented on #513
It does show a port on ?&mod=server (https:// 443, http:// 80 and rdp:// 3389), but the website check does **not** use the port.
Service does use the port, but this does not always work for websites. My own website gives a 400 error if I put :443 behind the url. It all depends on the way you have your website setup.

 If you're still having trouble with this, maybe getting the latest update will f

[2018-09-04 18:01] TimZ99 commented on #510
The expiration date is not saved to the database. I think I'm going to make the block yellow if the expiration date is within a certain time (to be determined by the user).
The threshold is used for something else than an ssl check, so that's not going to work.

[2018-09-04 18:02] TimZ99 commented on #591
Duplicate of #384

[2018-09-04 18:02] #591 closed, assigned to nobody

[2018-09-04 18:03] TimZ99 commented on #510
Duplicate of #384

[2018-09-04 18:03] #510 closed, assigned to nobody

[2018-09-04 18:10] TimZ99 commented on #538
The website is checked correctly on v3.3.1. Does this also work for you?

[2018-09-04 18:15] TimZ99 commented on #172
Fixed on 3.3.0.

[2018-09-04 18:15] #172 closed

[2018-09-04 18:30] TimZ99 opened #636 "Composer.json missing php extensions check"

[2018-09-04 18:45] #636 closed, assigned to TimZ99

[2018-09-05 02:55] baur commented on #430
Problem is actual for 3.3.1. It appears after long time

[2018-09-05 08:11] TimZ99 commented on #430
What do you mean by ‘after a long time’? A long time after loading the page or...

[2018-09-05 15:17] baur commented on #430
After a long time, the server was unavailable

[2018-09-05 17:51] SciLor opened #638 "Implement more complex HTTP POST... requests with custom body"
I have a JSON Webservice where I am expecting a specific result when I send a specific answer.

Positive case:
HTTP 400
{ "code": 123 }

Negative case:
HTTP 400
{ "code": 75 }

A workaround could be to allow a shellscript to make the check.

[2018-09-05 17:52] SciLor commented on #600
I think the idea is to call another webapi.

[2018-09-05 18:18] TimZ99 commented on #638
#628 lets you mark HTTP 400 as online.
For the JSON part; why not use the pattern check?

[2018-09-05 19:06] SciLor commented on #638
I have to send a specific POST request to check if the service is online.
#628 would be also needed.

As I said as workaround I created a shellscript that is called by a php script that is checked by psm.

[2018-09-05 19:32] TimZ99 commented on #430
Could you remove `, 'ru_RU', 'russian', 'russian'` from https://github.com/phpservermon/phpservermon/blob/de29906f274a6b573d8fd8e8dd0dfc3acd1edf6d/src/lang/ru_RU.lang.php#L31 and see if the problem is gone?

[2018-09-05 19:35] TimZ99 commented on #638
#631 is also needed for this. Only an input field is needed and it's done.

[2018-09-05 19:41] TimZ99 opened #640 "empty () when last error duration is null"

[2018-09-05 19:45] SciLor commented on #638
Thank you for your quick answers. You may mark this one as duplicate of the others.

[2018-09-05 19:46] #640 closed, assigned to TimZ99

[2018-09-05 19:57] TimZ99 commented on #638
It isn't a duplicate. The other issues don't include a post field.

Could you review #628 and #631? They need to be merged first.

[2018-09-05 20:00] SciLor commented on #638
What do you expect by review? Never did that before. They both look legit for me.

[2018-09-05 20:05] TimZ99 commented on #638
Testing if the pr works as intended.

[2018-09-05 20:05] TimZ99 commented on #638
If you use git, it's as easy as git checkout 'the branch' and opening your web browser.

[2018-09-05 20:08] SciLor commented on #638
Then just copy over the files to an (backuped) installation and check if its fine? I will try that on the weekend latest.

[2018-09-05 20:25] TimZ99 commented on #638
You know what, I just merge them :sparkles:. That way I can work on this issue now :smile:.

[2018-09-05 20:34] #175 closed

[2018-09-05 20:42] #386 closed

[2018-09-05 20:52] #265 closed

[2018-09-05 20:58] #264 closed

[2018-09-05 21:03] #270 closed

[2018-09-06 02:34] baur commented on #430
Yes, the problem is gone, but the name of the month in English

[2018-09-07 02:55] baur commented on #379
I can not accurately reproduce this bug

[2018-09-07 02:55] #379 closed

[2018-09-07 08:57] ptrj opened #643 "Wrong encoded characters in SMS text"
Hi,

I'm using SMS Nexmo gateway and in attached picture you can find how it looks like.
![image](https://user-images.githubusercontent.com/5557356/45208761-eb67c200-b27a-11e8-8951-6bce1bd97966.png)

Ubuntu 16.04
PHP 7.1
PHP Server Monitor 3.3.1

It is bug or wrong configuration please?

Thank you

[2018-09-07 14:32] TimZ99 commented on #643
This is a bug indeed. Will have a look at it.

[2018-09-07 15:41] TimZ99 commented on #643
#644 should fix this. Could you confirm?

[2018-09-08 00:01] TimZ99 commented on #638
It's done btw :P

[2018-09-08 00:40] TimZ99 commented on #430
And only ru_RU?

You're running PSM on windows right?

[2018-09-08 00:49] TimZ99 commented on #625
Great question. I don't really see a reason why it should use the PHP server.

[2018-09-08 11:54] #643 closed, assigned to nobody

[2018-09-08 12:03] #638 closed, assigned to nobody

[2018-09-08 19:36] SciLor commented on #638
Can I just checkout the git and install it to my server?

[2018-09-08 19:39] TimZ99 commented on #638
How do you have PSM installed? Did you clone using git or download the zip file?

[2018-09-08 19:41] SciLor commented on #638
I installed it via the zip file.

[2018-09-08 19:48] TimZ99 commented on #638
- Download https://github.com/phpservermon/phpservermon/archive/develop.zip
- Remove all files from your PSM folder except config.php.
- Move files from the download to you PSM folder.
- Open PSM.

Please be aware that this version is not yet released and should be considered a beta.

[2018-09-08 19:58] SciLor commented on #638
I used the release zip for the installation of the last release. After following your instructions I now get "php composer.phar install" And on my testserver I am unable to login to a shell

[2018-09-08 20:02] SciLor opened #646 "Multiple Instances of psm"
I want to use multipe instances of psm. One instance should be a meta instance of the others and acting as parent to check if the other child instances are running well. Following paramters would be interesting to check:

- Child monitor online (already working, but a dedicated "everything ok" site would be nice)
- When the last check of the child instance was. If it is to old the parent Instance

[2018-09-08 20:08] TimZ99 commented on #638
I will create a version with composer. wait a moment.

[2018-09-08 20:20] TimZ99 commented on #638
<REMOVED FILE>

[2018-09-08 20:27] SciLor commented on #638
If I am creating a new server, no server entry is created in the "psm_servers" sql table. "Server added" popup comes up, but no new entry is visible.

[2018-09-08 20:31] TimZ99 commented on #638
hmm, that's weird. Could you enable the debug mode?
add `define('PSM_DEBUG', 'true');` to config.php

[2018-09-08 20:34] SciLor commented on #638
<b>Warning</b>:  SQL error: SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'post_field' cannot be null in

Seems to be an easy problem.

PS: I cannot copy paste on the gui of psm.

[2018-09-08 20:36] TimZ99 commented on #638
I noticed that too but forgot to look into it. Could you make an issue for it?

[2018-09-08 20:40] SciLor opened #647 "[PR #642 for 3.4] - Post field cannot be null - no server created."
#638 #642

If I am creating a new server, no server entry is created in the "psm_servers" sql table. "Server added" popup comes up, but no new entry is visible.

[2018-09-08 20:40] SciLor commented on #638
done

[2018-09-08 21:12] TimZ99 commented on #638
I meant for the copying part, but this one is also okay 👍

[2018-09-08 21:14] TimZ99 commented on #647
<REMOVED FILE>
Follow the same steps as discussed in, but before opening install.php, open test.php.

[2018-09-08 21:15] SciLor opened #648 "Selection of Text not possible on the webinterface"
There seems to be some css/script that is blocking the selection of text. So you are unable to copy paste error messages or just text which isn't in textboxes.

[2018-09-08 21:19] SciLor commented on #647
There seems to be no test.php file?!

[2018-09-08 21:21] TimZ99 commented on #647
Strange.
<REMOVED FILE>

It should be placed in the same folder as index.php etc.

[2018-09-08 21:23] SciLor commented on #647
Warning: SQL error: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'psm_x_dev_config.key' in 'where clause' in /home/scilmhmx/monitor.scilor.com/src/psm/Service/Database.php on line 544
OK

[2018-09-08 21:23] TimZ99 commented on #647
My bad, forgot the change the variable. one sec (again).

[2018-09-08 21:25] SciLor commented on #647
Upgrade from 331 to 340 but with warning
:  SQL error: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'combine_notifications' for key 'PRIMARY' in

[2018-09-08 21:28] SciLor commented on #647
Fine, did test.php then upgraded.
But on server creation
:  SQL error: SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'post_field' cannot be null in

[2018-09-08 21:44] TimZ99 commented on #647
[phpservermon.zip](https://github.com/phpservermon/phpservermon/files/2363771/phpservermon.zip)
Only changed the query for the upgrade part and not for the fresh install part.

[2018-09-08 22:21] TimZ99 commented on #647
Did it work this time?

[2018-09-09 08:23] SciLor commented on #647
Yes, I was able to add another server.

[2018-09-09 09:51] SciLor commented on #638
It seems to work, except that #628 won't work.

[2018-09-09 10:04] SciLor opened #649 "Include Monitoring Server name in Alerts"
I have multiple monitoring servers. I would like to know which server alerted me.

[2018-09-10 05:58] SciLor opened #650 "Telegram message not sent"
If the monitoring server loses connection to the internet and the monitor**ed** isn't available, the telegram message won't be sent. I see in the logs, that the message was sent, but it never reached me. Maybe a queue is needed for that. Maybe that happens with mail, sms and pushover too.

[2018-09-10 06:00] SciLor opened #651 "[GUI] Users field is bold, when bold text is cut off."
The logs (the content part) seem to be truncated, when its too long. But if it is cut while its bold ("The following servers...") then "Users: name" is bold.

[2018-09-10 06:03] SciLor opened #652 "Log header - server name/url wrong"
If you have got a single server that is down and a second one goes down, the name/url of the first server is shown, even the message in the content is about the second one.

[2018-09-10 09:07] baur commented on #430
left only **ru_RU.UTF-8**, yes, PSM running on windows.

[2018-09-10 10:35] ptrj commented on #643
Yes it works, thank you @TimZ99

[2018-09-12 10:36] #647 closed, assigned to TimZ99

[2018-09-12 10:57] TimZ99 commented on #538
I hope that the issue is fixed. If you're still having issues, feel free to reopen.

[2018-09-12 10:57] #538 closed, assigned to nobody

[2018-09-14 08:59] orfeybg commented on #565
Maybe we not have service groups. No one works for this case :(

[2018-09-14 23:25] kiwichrish opened #654 "PHP 7.2 / ubuntu 18.04 - User page not loading."
Hi-ho,

Running PSM on an Ubuntu 18.04. (php 7.2.7).  psm 3.2.0

The user page (/?&mod=user) kicks a 500 error as well per:

'Fatal error: Declaration of psm\Module\User\Controller\UserController::run() must be compatible with psm\Module\AbstractController::run($action = NULL) in /data/www/xxxxxxxx/src/psm/Module/User/Controller/UserController.php on line 36'

Looks like a re-defintion of a method

[2018-09-14 23:29] TimZ99 commented on #654
Updating to the latest version should fix this.

________________________________
Van: kiwichrish <notifications@github.com>
Verzonden: zaterdag, september 15, 2018 1:25 AM
Aan: phpservermon/phpservermon
CC: Subscribed
Onderwerp: [phpservermon/phpservermon] PHP 7.2 / ubuntu 18.04 - User page not loading. (#654)

Hi-ho,

Running PSM on an Ubuntu 18.04. (php 7.2.7). psm 3.2.0

The user page (/?&mod=

[2018-09-15 00:40] kiwichrish commented on #654
Ay, just found that...  I'm way behind.  For some reason I thought 3.2.0 was current, but I see the trunk is 3.3.1.  Will update it now and move on. :-)  Cheers.

[2018-09-15 00:44] kiwichrish commented on #654
Make that 3.4.0 and it's all working now.. :-)

[2018-09-15 00:44] #654 closed, assigned to nobody

[2018-09-15 10:22] TimZ99 commented on #654
Just a little warning: 3.4 is still in development should be considered unstable.
It’s not strange that you thought that 3.2 was the most recent version. The update check gets the version from phpservermonitor.org but I still can’t update the version there.

________________________________
Van: kiwichrish <notifications@github.com>
Verzonden: zaterdag, september 15, 2018 2:44 AM
Aan: phpservermon

[2018-09-15 18:43] tmbutterworth commented on #609
I was thinking it would be nice to have a separate distribution group user configuration where I could add multiple distribution group accounts. These accounts would have no addition, deletion or modification rights and they really wouldn't need login as they are just for sending email notifications. They would be more of a notification option that looks like a user account for adding them to devi

[2018-09-16 10:56] kiwichrish commented on #654
That's OK, I like living on the edge.  :-)

[2018-09-17 09:36] viharm commented on #206
I noticed that this wasn't included in the latest release. I will update the dependencies to enable *Composer* compatibility/integration, and will update a fork to add the dependency in `composer.json`. Will this be ok?

[2018-09-17 09:39] msbt commented on #206
Hey @viharm! Sorry for not replying, but I was preoccupied with another project which is now finished. I'll check out your suggestions in a bit! If you update the fork that would be even better, less tinkering from my side might solve the issues ;)

[2018-09-17 12:07] SinusPi commented on #592
You know what would be even greater? The ability to push statuses to the system, from external sources. I could have a service detect its status on a more detailed basis than merely "up" or "down" (too long latency? wrong output? meaningful error message?) and inform the monitor.

[2018-09-17 12:16] SinusPi opened #655 "PHP version required is now 7.1.3, thanks to symfony/filesystem 4.1.4."
Please either maybe use an older dependency, or change the version required in documentation.

[2018-09-17 13:12] buzzard10 commented on #646
Interesting 👍

[2018-09-17 13:14] buzzard10 commented on #592
@SinusPi  +/-... I think it's role of PSM to check status of services.. But maybe i'm wrong :)

[2018-09-17 13:18] buzzard10 commented on #607
I have same thing in telegram notifications..
https://i.imgur.com/aAz8kcA.png

[2018-09-17 14:21] SinusPi commented on #592
Can PSM check more complex things, like "the website may respond, but if
the 200 response contains the word 'ERROR', treat it like it's down", or
"the response is a JSON string, we need to parse it and check if
'status'==1", or "ping one URL for a security token, ping another URL with
the token to receive a status response"?

On Mon, 17 Sep 2018 at 15:14, emillod <notifications@github.com> wrote:

[2018-09-17 14:38] TimZ99 commented on #607
2 hours, 5 minutes and some seconds is strange time.
Do you have this problem every time, or occasionally?

[2018-09-17 14:43] buzzard10 commented on #607
@TimZ99  thank you for fast reply. I have this every time. This is really weird because PSM send notification in correct time, without any delay

[2018-09-17 14:49] TimZ99 commented on #592
the 200 response contains the word 'ERROR',

This is already possible.

'status'==1

This may be possible, but I don't know for sure.

the token to receive a status response

This one is indeed too complex for the current version.

[2018-09-17 14:54] buzzard10 commented on #592
I just want to push some URL if server is offline </3

[2018-09-17 15:18] TimZ99 commented on #592
The API needs to be able to:
- Create server (if admin)
- Create server events?
- Get some basic server info

Authentication should be a user specific API key.

Other wishes?

[2018-09-17 15:28] TimZ99 commented on #607
Sinds when (which version) do you have this problem?

[2018-09-17 15:32] #655 closed, assigned to nobody

[2018-09-17 15:33] TimZ99 commented on #655
Fixed in v3.4.

[2018-09-17 15:51] buzzard10 commented on #592
@TimZ99 the most important function is push something if status of server changed. :)

[2018-09-18 15:03] jkram opened #657 "Log http response status code"
It would be helpful if the outage log indicated the http server response code, e.g. 502 503 504 etc. This would make troubleshooting outage reasons much easier. For instance, when my server has a 504, the log just says Error=TIMEOUT ERROR: no response from server. I would like to see exact status code number in notifications and the log.

[2018-09-19 22:13] ashfaqahmed opened #658 "Can we use this in a commercial software?"
Can we use this in a similar commercial software which is already built and ready with API  ?

[2018-09-22 19:05] stccorp opened #659 "how often the monitor checks?"
I setup a cron every 2 minutes, but the status pages says, last check 14 minutes ago.

If there a limit on how often can you check a service?  15 minutes is a long time to have the services down and not knowing about it.

Thank you

[2018-09-22 19:28] stccorp opened #660 "Is there a run now?"
How can I quickly check if the test works or not?  I was expecting somekind of run now button on the interface

Thank you

[2018-09-22 19:33] TimZ99 commented on #660
The update button in the nav bar.

________________________________
Van: stccorp <notifications@github.com>
Verzonden: zaterdag, september 22, 2018 9:28 PM
Aan: phpservermon/phpservermon
CC: Subscribed
Onderwerp: [phpservermon/phpservermon] Is there a run now? (#660)

How can I quickly check if the test works or not? I was expecting somekind of run now button on the interface

Thank you

—
You are

[2018-09-22 21:40] stccorp commented on #660
thank you

[2018-09-22 21:40] #660 closed, assigned to nobody

[2018-09-22 21:41] stccorp commented on #659
i was calling the cron incorrectly

[2018-09-22 21:41] #659 closed, assigned to nobody

[2018-09-23 15:35] stccorp opened #661 "timezone support"
It will be nice to add timezone by server.  I think all is needed is adding a timezone column in the server table and changing the datetime column in the log from timestamp to datetime.  and just use UTC_TIMESTAMP() when inserting the log

and then  do CONVERT_TZ on mysql OR use a php function

[code]

[2018-09-30 23:53] damiankw commented on #649
How do you see the system differentiating between your multiple PSM's? Just by signifying that it came from PSM_BASE_URL, or did you want to have each instance named in some fashion?

[2018-10-01 05:54] SciLor commented on #649
I think for the first step the **hostname** of the system would be enough. Providing the concrete URL and a concrete Name would be bonus.

[2018-10-01 06:03] damiankw commented on #649
I might be wrong, but given the way the system works already, getting the URL is fairly easy with a tweak, pushing in unique name would be an added variable/definition somewhere, and getting the hostname of the system would mean building another small system to incorporate system variables into the message parsing system (for use with different languages).

I was thinking something simple like thi

[2018-10-01 06:06] SciLor commented on #649
If there is the base url already available, that would be also enough.

[2018-10-02 21:02] nhalstead commented on #606
I have been writing a Package that will interact with Slack and Discord as well as other services using Webhooks. Once I have it up and running, Ill see about adding it to the project.

[2018-10-03 04:40] damiankw commented on #649
Do you want to review the pull request above @SciLor, see if it does what you need it to?

I based this off of the current version 3.4.0 in repo and it's not backwards compatible to 3.3.x due to the way PSM handles emails now with multiple servers. I noticed there's a few other issues with the current version, but they are unrelated to this change.

[2018-10-04 19:33] nhalstead commented on #522
I think that would be a good Idea, I think it can be done with SVG.

Some people would say to use `imagecreatefrompng` in php but to
 lower CPU usage and match what other sites do, just use the SVG
 format and export the image data.

[2018-10-06 12:11] holema opened #664 "Server with Website does not show positiv entry"
Hello, first of all thank for this great Tool.
The modus to scan a server by Service is working great.
I want to track some servers, but with the modus Website I have no chance to track a website. I try to track your Webpage with this Settings:
![image](https://user-images.githubusercontent.com/22790152/46571205-268c0c80-c971-11e8-9abc-47da645ed00e.png)
But when I see it in the status window, I on

[2018-10-08 10:58] SciLor commented on #649
Sure I want to. But I have no buildchain here. Could you provide a build for me? I already have a server on the 3.4.0 running

[2018-10-08 11:23] TimZ99 commented on #649
@damiankw thanks for the PR! I will review it later this month (really busy for the next two weeks).
Could you tell me what issues you have found?

[2018-10-08 11:31] damiankw commented on #649
Oh yeah of course @TimZ99. Well, I would! Whenever I was manually running the status.cron.php it was giving me an error, but I can't replicate it now. Maybe it was something wrong with my system at the time of testing! I'll raise an issue if it pops up again, I just didn't have time to hunt when I saw it :D

[2018-10-08 11:31] TimZ99 commented on #649
@SciLor
[phpservermon-663.zip](https://github.com/phpservermon/phpservermon/files/2455716/phpservermon-663.zip)

[2018-10-08 11:34] TimZ99 commented on #649
@damiankw No problem, let's hope it doesn't pop up again 😄

[2018-10-09 09:18] red-erik commented on #664
Hi,
had the same problem and, for me, the only way to solve was to start from 3.3.1 and then upgrade to 3.4
regards.
Red.

[2018-10-09 11:39] EU-INEA opened #666 "FreeMobileSMS curl_exec missing"
Pretty everything is in the title.

The FreeMobileSMS alerts were failing with $httpcode 0 and $err 0 and no SMS received after that.

I added the ligne ```curl_exec($curl);``` on line 62 in src/psm/Txtmsg/FreeMobileSMS.php and the problem has gone.

[2018-10-09 17:13] nhalstead commented on #592
It would not be too hard to implement getting the status of the sites connected but having things such as auth would need a bit more added to it to make it work with the entire system.

When you query the API it will not reload the site requests (update the status), It would return the current site data, Fast and Easy request.

I'll have to check and see about doing this with my install of `phpser

[2018-10-09 17:18] nhalstead commented on #168
I have been writing a Package that will interact with Slack and Discord as well as other services using Webhooks. Once I have it up and running, Ill see about adding it to the project. I know interacting with webhooks from many sources can add a lot of code that can become messy fast. So my plan is to include all of the 3rd party webhook APIs you just specify what you want to connect to and give i

[2018-10-09 17:28] nhalstead commented on #255
For the related Issues (#473, #557, #561, #216, #606) I am working on a package for PHP that will be able to send events to Slack and Discord as well as the capability to send events to other systems that are not already designed for such as Pusher, Gitter, etc.

[2018-10-10 14:40] TimZ99 commented on #255
@nhalstead great that you’re working on the project! The notification part of the project will have some massive changes in v3.5.
This will make adding new notification methods as easy as adding new sms gateways.

[2018-10-10 17:37] SciLor commented on #649
Tested and worked as intented (Telegram),
thank you!

[2018-10-11 22:38] damiankw opened #667 "Update outage notifications template"
This continues on from #270 to make a single notification when multiple servers go down, I think the notification needs a little bit of a work through to make it more readable. A couple of suggestions:

I think it would look better if the notification only includes notifications of actual things happening. For example, at the moment it notifies us that `'0' servers DOWN` when servers come online a

[2018-10-12 12:29] smadds commented on #601
Isn't it a big security weakness if the webserver is running as root?

[2018-10-18 16:48] XaRz opened #669 "I have one web that shows offline and it isn't"
Hello,

Please anyone can test if www.interiorsa2.cat shows as offline in PSM 3.2?
I've discovered this software and for all others websites are working but for this don't. Any ideas?
I've installed in a pine64 without issues and seems working well for other websites but not this one, and I can't browse it without problems.

Any ideas?

Regards,

[2018-10-24 09:43] sgregori commented on #319
Any news about this feature ?

Will be lovely ;)

ping @joubertredrat @sadortun @dopeh

[2018-10-25 17:54] leochzl commented on #572
Hello,
I have the same problem... all works very well except users... anyone have a solution ? i have to create another admin haha :P

[2018-10-26 16:18] flaviomoringa commented on #664
I did the upgrade as "red-erik" indicated and it seemed to work... but it did't.... initially it seemed it did, but then I realize that there were no new updates.... also when I tried to enter a website using POST it didn't work... always marking it as failed on the details... and on the status page no changes...

So I went back to 3.3.1... and it went back to work... it seems 3.4  it's not workin

[2018-10-28 06:36] kenjilabs commented on #664
Hi, I'm having the same issue, on database table psm_servers_uptime it is tracking the changes but it's not updating last_online column in psm_servers table

[2018-10-30 15:37] JavierOlmedo opened #670 "[SECURITY] Discovered vulnerability"
Hi,

Please, how can I report a vulnerability?

regards

[2018-10-30 15:55] TimZ99 commented on #670
Please send me a private message. Email, Gitter, Telegram, whatever you prefer.

[2018-10-31 10:27] JavierOlmedo commented on #670
Ok, I send you a report by Telegram

[2018-11-07 12:45] sinasalek opened #672 "Problem with HTTP2"
Couldn't match "HTTP/2 200" and says "TIMEOUT ERROR: no response from server" on php7.2
i changed the regular expression that matches the HTTP code to his
[code]

Sample Header
===
[code]

[2018-11-09 08:36] Pofilo commented on #658
See the [LICENSE](https://github.com/phpservermon/phpservermon/blob/develop/LICENSE).

[2018-11-09 10:45] ASHAHMED commented on #658
i have seen that that says

<img width="142" alt="screen shot 2018-11-09 at 2 44 16 pm" src="https://user-images.githubusercontent.com/11181264/48258236-0fd44c00-e42e-11e8-8f7d-cf9a8f75a6f2.png">

Means Yes ?

[2018-11-09 10:47] ashfaqahmed commented on #658
i have seen that and it says

<img width="142" alt="screen shot 2018-11-09 at 2 44 16 pm" src="https://user-images.githubusercontent.com/2121712/48258363-59bd3200-e42e-11e8-920a-afab1fb45e82.png">

means yes ?

[2018-11-09 11:06] Pofilo commented on #658
Well yes, but you also have to respect all conditions.

[2018-11-10 17:05] Gaeta opened #673 "Website saying its down"
Hi im trying to figure out why it is saying that this is down "https://bot.dreaming.ga:3001/"

![image](https://user-images.githubusercontent.com/31389391/48304043-ce50a900-e4e0-11e8-97af-ced1afd4b208.png)

if you look at the img it i have it if the site shows `ImHere` then it is up and if you click the site it does show that any ideas why it is not working?

[2018-11-11 01:36] amcguirebootster commented on #670
@Javier can you PM me the details? I am going to deploy some of this code base into my companies infrastructure and we need to maintain PCI

[2018-11-12 07:21] JavierOlmedo commented on #670
@amcguirebootster You can deploy the software in your company, if you want more details please contact
@TimZ99 he can tell you how to patch it temporarily until a new version.

[2018-11-15 00:44] mooleshacat opened #674 "Type: Website = no latency readings"
when type is website, latency is always 0. Can it not ping the server separately to get the latency?

[2018-11-15 00:48] mooleshacat commented on #670
is fixed? this installed on my mining pool server :)

[2018-11-15 01:01] amcguirebootster commented on #670
Why even use this if I need a temporary patch and no one is indicating where the vulnerability lies? Maybe if you had more people looking at the issue then you’d have a better brainstorming for a fix!

Sent from my iPhone

[cid:8d3a5ddb-444a-4ef4-8423-de9137ff34d5.jpg]  Andrew McGuire
DevOps Engineer
AndrewMcGuire@boosterthon.com<mailto:AndrewMcGuire@boosterthon.com>     <tel:>
<http://www.booster

[2018-11-15 08:58] raggoo opened #675 "Tabs will not open"
Just installed v3.3.1 over v3.2.0 with no errors

When I  go to any page that has tabs at top (EX. logs,config) it will not change to the tabs when I  click on them.

It just sits there and does nothing.

Same in latest firefox and Google chrome so don’t think the browser is the problem. (could be wrong)

How to fix please?

Thanks.

[2018-11-15 14:32] mooleshacat opened #676 "Cookie Collision on multiple install"
I have installed in 3 directories.

When I log in to one, the others log in as well, and when I log out of one, the others log out...

And when the one does not log in, neither do the others....

Sometimes the login box is clearing itself before I get my password fully typed in.

Cookies are colliding and need separation.

Thanks

[2018-11-15 15:01] mooleshacat opened #677 "Feature Request: Import/Export/Backup/Restore"
Feature Request: Import/Export/Backup/Restore

[2018-11-15 15:02] mooleshacat commented on #606
I am working on webhooks with my fork :)

[2018-11-15 15:03] mooleshacat commented on #409
@elreverente

You can acheive this with cron scheduling. Only run the scheduler between those hours and you will only get the emails between those hours. Refer to http://crontab.guru/

[2018-11-15 15:05] mooleshacat commented on #250
Yes I duplicated issue https://github.com/phpservermon/phpservermon/issues/677 my bad

[2018-11-16 18:15] travisbotello opened #678 "Not working with PHP 7.2"
mycrypt extension not included in PHP 7.2

`Call to undefined function mcrypt_get_iv_size() in /src/includes/functions.inc.php on line 785`

[2018-11-19 12:57] Helox commented on #672
Workaround (dont to HTTP2, but just use HTTP1.1):
add the following line to src/includes/functions.php line 360

[2018-11-21 10:00] JavierOlmedo commented on #670
@amcguirebootster The vulnerability can not be published, an attacker could take advantage of it, wait for a new version or patch.

[2018-11-21 10:40] mooleshacat commented on #670
@amcguirebootster If it were published it would be fixed by now and our servers would be secure... This is github. Post it so we can patch it ourselves, and make a PR

This is the most lengthy response to a security threat. It should have been patched by now if it is that big of a threat (or release a patch for us to use)

**I am removing this from my server, I cannot risk my servers.**

**I will

[2018-11-21 19:21] TimZ99 commented on #670
My sincere apologies to all of you waiting! I do realise that a patch must be released as soon as possible, I just haven't had the time. I will release the patch later this evening (CET).

@leshacat A vulnerability doesn't get disclosed before a patch is in place. Not disclosing it gives the maintainers the time to create the patch before bad people can exploit the vulnerability. I do need to say

[2018-11-22 01:00] TimZ99 commented on #670
### **Vulnerability disclosure:**
Found by: @JavierOlmedo
Notice: October 30, 2018
Kind of vulnerability: CSRF

Vulnerability: An attacker could remove users, logs, and servers through a CSRF attack.
Protection against such an attack was already in place for all requests using the POST method. As the delete buttons use GET, they didn't fall under the CSRF protection.

Changes: When removing users,

[2018-11-22 01:01] #670 closed, assigned to nobody

[2018-11-22 01:05] TimZ99 commented on #670
If there are any questions, feel free to ask 👍.

[2018-11-22 01:33] TimZ99 commented on #675
Please try to reinstall (leave config.php).

[2018-11-22 01:39] TimZ99 commented on #677
Duplicate of #250.

[2018-11-22 01:40] TimZ99 commented on #250
Great idea. What data do you want to see exported? Exporting all of the updates would make for a pretty big file.

[2018-11-22 01:40] #677 closed, assigned to nobody

[2018-11-22 02:14] TimZ99 commented on #658
I assume that you have read the license and will fully comply with it.
If you have any other questions, feel free to ask. Or consult your legal counsel.

[2018-11-22 02:14] #658 closed, assigned to nobody

[2018-11-23 02:06] mooleshacat commented on #250
@TimZ99 it would be nice to have backup/restore where it just gives a .tar.gz file

As for import/export options, export to CSV for example, just all the settings data or notification/email logs (not the update logs)

and

For above to work you would have to change delimiter, or remove all ',' from the error messages.

Or you could read the log data, then parse/export it as such:

**[EDITED]**

[2018-11-23 02:34] mooleshacat commented on #670
@TimZ99 you are awesome <3 pulling this now :D

[2018-11-23 02:46] mooleshacat commented on #676
**Example:**
https://miningpool.easyx.info:8081/monitor/
https://miningpool.easyx.info:8081/mnmonitor/
https://miningpool.easyx.info:8081/poolmonitor/

**Login:** test
**Pass:** test

Log in to one, and then load the others in a tab, and because user/pass is same, and domain is same, it logs you in to all three.

Suggest adding a switch, to enable or disable this

enablel would basically allow the

[2018-11-23 04:19] nitrocode commented on #250
@TimZ99 @leshacat yes I like this format because that it something techops can easily configure in a google spreadsheet and we could automate downloading the spreadsheet as a csv and importing into phpservermon

[2018-11-23 04:21] mooleshacat commented on #250
We need more brains for more input here LOl ":P

[2018-11-23 04:21] nitrocode opened #680 "PHPMailer 6.0.5 Vulnerability"
Upgrade to 6.0.6 which fixes the vulnerability [CVE-2018-19296](https://nvd.nist.gov/vuln/detail/CVE-2018-19296)

[2018-11-23 04:41] mooleshacat opened #681 "SSH Admin / Stratum Port Checker / Masternode Port Checker"
**Cryptocurrency related:**

I wanted to add this myself but it is coded in languages/frameworks I am unfamiliar with so you can have my idea.

I want it to check my **stratum ports** on my pool https://easyx.tk/ not only check if port open, but connect quickly and communicate as if it was a miner to test it (maybe algorithm testing support!)

Also I would like it to check the **masternode** is on

[2018-11-23 09:45] Rayne commented on #670
@TimZ99 The website is a *little* outdated. It displays [3.2.0 as latest version](http://www.phpservermonitor.org/download/).

[2018-11-23 16:34] mooleshacat commented on #51
Definitely need for my crypto pool :D

[2018-11-27 10:58] pieter-groeneweg commented on #673
probably because it expects document=html.
your page is "json".

[2018-11-28 16:28] darvinrivera opened #684 "Ping Error"
I use develop branch.
New **Server** configuration:
         **Domain/IP**: 10.7.1.2
          **Type**: Ping
Save and run Update y get this error:  Couldn't create socket [1]: Operation not permitted

Updated:
When i run **php cron/status.cron.php** ping work perfect but not web interface http://url.to.domain/?&mod=server_update

[2018-11-29 17:48] e-alfred opened #685 "JQuery below 1.9.0 is vulnerable to XSS attacks"
Hello,

JQuery below 1.9.0 is vulnerable to XSS attacks:

https://bugs.jquery.com/ticket/11290
http://www.securityfocus.com/bid/102792

From OpenVAS:

Please update PHP Server Monitor to a newer JQuery version and publish a release.

[2018-11-30 13:13] TimZ99 commented on #685
Thanks for notifying us! Will publish the new release later today (CET).

[2018-12-02 01:55] Puyodead1 commented on #684
same

[2018-12-02 03:11] dktcoding commented on #684
According to #611: **Ping requires root**.

Regards

[2018-12-03 12:40] Puyodead1 opened #686 "Operation Not Permitted - Sockets and Ping"
Ubuntu 18.04 with Apache2, sockets are enabled but i get the error Operation Not Permitted

[2018-12-03 17:11] Rayne commented on #686
This is a duplicate of the open issue https://github.com/phpservermon/phpservermon/issues/684.

[2018-12-04 12:46] #686 closed, assigned to nobody

[2018-12-05 09:36] varunchandak commented on #255
@nhalstead Hey...! Did you get this working ?

[2018-12-06 15:29] daxsis commented on #606
Any updates ?

[2018-12-10 19:42] Gaeta commented on #673
then how do i allow json

btw sorry for late responce

[2018-12-12 18:38] rwwest77 commented on #614
"Make sure that you're running the check as root."

I'm having this same problem, nothing will ping. How do I make sure it runs as root?

[2018-12-13 12:26] rwwest77 commented on #684
I have the same problem. I noticed that if I have just 1 device being pinged, the update button works fine. If I add a 2nd device to ping it errors out ever time.

I have about 50 devices set to "service" and port 80 and 1 device pinging. Works great! But toggling just one other device to ping makes it fail.

[2018-12-13 16:45] e-alfred commented on #685
Hello,

anything new about a release? It would be really good to patch this vulnerability.

[2018-12-13 19:37] TimZ99 commented on #685
I ended up changing jQuery to the latest version (v3) as v1 and v2 won’t receive patches anymore. Bootstrap v2 used a deprecated jQuery function so I also started upgrading that to v4. This was a way bigger project then I initially thought. Literally every page needs to be completely rewritten. I’m halfway through and will be finishing this before the start of next week.

_________________________

[2018-12-14 15:03] TimZ99 opened #687 "All administrator accounts can be deleted"
It should not be allowed to remove the last administrator from the user list.

[2018-12-15 01:29] plankconst opened #688 "Website Monitoring with Private Port Issue"
I tried to monitor my website with a private port for http instead of the standard port 80.

When I typed the URL with port number in such as: http://104.243.34.120:11111/webpagecheck.json

phpservermon accepts the URL and actually shows the port number 11111 in the servers status page. But the website is always shown as offline.

Is there something else that I need to add or change?

[2018-12-17 00:58] nhalstead commented on #255
I have gotten my [library ](https://github.com/nhalstead/PHP-WebhookCoordinator/)semi complete to make requests to Slack and Discord as well as other services but I have not gotten the time to implement the controls into the Interface of the project, I still would like to see this implemented but as the holiday is approaching time is tight.

I will continue to work on it but the timeline on it, I

[2018-12-17 20:26] Puyodead1 commented on #684
i have it as root

[2018-12-26 01:25] akkradet opened #691 "Request:LINE Notify"
Hello.

Please add LINE Notify

https://notify-bot.line.me/en/

API

https://notify-bot.line.me/doc/en/

Thank you!

[2018-12-26 12:50] shahkochaki opened #692 "Unable to connect to IP"
I have installed the script well, but when I add the server, I can not check it.
I do not have problems with domains

[2019-01-04 06:32] 2ge opened #693 "Not working with PHP 5.6"
Using phpservermon v3.3.2 [Security], while installing:

[code]

please allow to run it on PHP 5.6 versions

[2019-01-09 07:03] mackaaij commented on #680
My web host automatically fixes vulnerabilities in software and notifies me (they're using Patchman), they mentioned:

[CVE-2016-10033] Remote Code Execution in < 5.2.18
[CVE-2016-10045] Remote Code Execution in < 5.2.20

[2019-01-09 15:19] gmoulard commented on #166
In my case, for internal usage I need to specify a proxy by server. For some user, I use one proxy for some other I use one other.
Could you thiink is possible to add the setup sont server parameter?
G.

[2019-01-09 15:23] gmoulard commented on #250
I verry interesting by export prob data, not only uptime, but also Latency.
G.

[2019-01-10 04:31] BasicWombat commented on #692
What error are you getting?

[2019-01-11 21:25] Servery commented on #562
Now I got the same problem at http://up.ferienpark-ostsee.de/?&mod=user,
my page is blank and if I try to view the source code of this site it`s also blank.

[2019-01-15 21:39] maverage commented on #614
Had the same issue, when only using the website. Problem disappears as soon as you create a cronjob running as root as described here: http://docs.phpservermonitor.org/en/latest/install.html#setting-up-a-cronjob

[2019-01-16 18:45] TimZ99 commented on #562
@Servery Your site gives `Fatal error: Declaration of psm\Module\User\Controller\UserController::run() must be compatible with psm\Module\AbstractController::run($action = NULL) in /mnt/web423/a2/71/54591171/htdocs/phpservermon/src/psm/Module/User/Controller/UserController.php on line 36`.

Are you using the latest version of PSM?

[2019-01-16 18:49] TimZ99 commented on #673
Just tested it and it's working for me. Are you using the latest version of PSM?

[2019-01-21 14:52] davidtessier opened #698 "Where do I put Matomo script?"
Hello,
I use Matomo (formerly Piwik) on my sites and I’d like to track usage on phpServerMon. It’s not obvious to me where I should put my Matomo JavaScript site tracking code. I am hoping someone could give me some direction as to the file(s) that I’d have to add the code snippet to so that I can track all site usage.
Thank you and keep up the solid development work on this project. It's fantasti

[2019-01-21 21:07] dktcoding commented on #698
Hello,

I'm no expert in phpservermon, but I believe the correct place would be in `src/templates/default/main/body.tpl.html`

Regards

[2019-01-22 18:36] davidtessier commented on #698
Thank you. That looks right to me as well. I added it there and then did a test to see if it appeared in the inspector and it did.

[2019-01-22 18:36] #698 closed, assigned to nobody

[2019-01-24 11:19] varunchandak commented on #517
@leonardpg Is the Slack integration working for you ?

[2019-01-24 20:08] bestphonespy commented on #692
What is your PHP version?

[2019-01-26 11:17] TimZ99 commented on #693
No idea why you try to install `v4.1.3`, `v3.4` should be installed. `v3.4` will run on `PHP ^5.5.9|>=7.0.8`.

`v3.4` is also the version in de composer.json file.

[2019-01-26 12:03] TimZ99 commented on #678
The function has been deprecated as of PHP 7.1.0. I will rewrite it asap. Which page did you try to load?

[2019-01-26 14:21] elessargr opened #699 "[Q] Windows server status update"
Hello everyone,

I just installed the phpservermon (3.3.1) on my windows server 2008 R2 (with PHP7).

I have been trying to find a way for the tool to check the status of my "servers" every x mins but havent found anything.
The closest issue I have read is the #232 but this is for linux, I have windows :)

What I have done is put on task schedule a task to run every 5 min for the command "C:\xxxx\

[2019-01-28 09:04] travisbotello commented on #678
Manually calling `?&mod=server_update` and automatic cron update was not working anymore.

[2019-01-29 19:45] TimZ99 commented on #675
I assume that it worked. Please reopen if you encounter any problems.

[2019-01-29 19:45] #675 closed, assigned to nobody

[2019-01-30 15:20] mtelgkamp commented on #669
The problem is that your domain is delivered via HTTP/2.0 thus this ticket is a duplicate of #672 (Problem with HTTP/2) and can be solved by Pull request #695 (Allow HTTP/2 status responses)

[2019-02-02 23:41] ghost commented on #699
The task schedule you created should do the trick and i’m not aware of other ways in which you could do it but the task schedule should be working correctly.

Have you tried running C:\xxxx\PHP7\php.exe -f C:\xxxx\xxxxx\cron\status.cron.php from a command prompt window to verify that the configuration is set up? (for each of your servers it should show on the webpage of phpservermon last check rel